<div class="gallery-modal d-flex">
  <div class="left-content">
    <!--All-->
    <div class="slide d-none" *ngIf="type==='all'"
      [ngClass]="{'d-block':mediaItem[0]?.type ==='image' || mediaItem[0]?.type==='video' || mediaItem[0]?.type==='videoLink'}">

      <img class="d-none" [ngClass]="{'d-block':mediaItem[0]?.type ==='image'}" src="{{fileURL+mediaItem[0]?.url}}"
        alt="" class="image">

      <video controls class="d-none w-100 video-item" poster="" [ngClass]="{'d-block':mediaItem[0]?.type==='video'}"
        src="{{fileURL+mediaItem[0]?.url}}">
      </video>

      <div class="youtube-video d-none w-100" [ngClass]="{'d-block':mediaItem[0]?.type==='videoLink'}">
        <plyr plyrTitle="Video 1" [plyrSources]="videoSources"></plyr>
      </div>

    </div>
    <div class="slide d-none" *ngIf="type==='image'" [ngClass]="{'d-block':mediaItem[0]?.type ==='image'}">
      <img class="d-none" [ngClass]="{'d-block':mediaItem[0]?.type ==='image'}" src="{{fileURL+mediaItem[0]?.url}}"
        alt="" width="100%" class="image">

    </div>
    <div class="slide d-none" *ngIf="type==='video'"
      [ngClass]="{'d-block':mediaItem[0]?.type==='video'|| mediaItem[0]?.type==='videoLink'}">
      <video controls class="d-none w-100 video-item" poster="" [ngClass]="{'d-block':mediaItem[0]?.type==='video'}"
        src="{{fileURL+mediaItem[0]?.url}}">
      </video>
      <div class="youtube-video d-none w-100" [ngClass]="{'d-block':mediaItem[0]?.type==='videoLink'}">
        <plyr plyrTitle="Video 1" [plyrSources]="videoSources"></plyr>
      </div>
    </div>
  </div>
  <div class="rigth-content">
    <div class="rigth-description">
      <div>
      <div class="header-content">
        <div class="display-flex">
          <div class="display-flex">
            <img [src]="localImage" class="local-image" alt="Cinque Terre">
            <p class="name-title mb-0"> {{user?.user?.first_name}}</p>
          </div>

          <span class="material-icons icon">
            more_vert
          </span>
        </div>
      </div>
       <div class="comments-content"  *ngIf="comments.length">
          <app-comments (sendMessage)="sendMessage($event)" (likeOrDislike)="likeOrDislike($event)"
            *ngFor="let item of comments" [feed]="feedItem" [comments]="item" [role]="role" [type]="mediaItem[0]?.type">
          </app-comments>
        </div>
    </div>
      <div class="settings">
       
        <app-settings [feed]="feedItem" [role]="role" (getButtonsType)="getButtonsType($event)"
          (openChanges)='onClickOpen($event)' [type]="mediaItem[0]?.type" [style]="true"></app-settings>

        <div *ngIf="isOpen">
          <app-posts-comments [feed]="feedItem" (sendMessage)="sendMessage($event)" *ngIf="role" [comments]="comments">
          </app-posts-comments>
        </div>
      </div>
    </div>
  </div>
</div>


<!--ONLY IMAGE-->
<!-- <ngx-slick-carousel class="carousel w-100 chicken-image" #slickModal="slick-carousel" [config]="slideConfig" *ngIf="type==='image'">
        <div ngxSlickItem *ngFor="let item of mediaItem" class="slide d-none"
          [ngClass]="{'d-block':item?.type ==='image'}">
          <img class="d-none" [ngClass]="{'d-block':item?.type ==='image'}" src="{{fileURL+item.url}}" alt="" width="100%"
            class="image">
         
        </div>
      </ngx-slick-carousel>  -->