.gallery-modal {
background: #ffff;
    .left-content {
        width: 100%;
        max-width: 980px;
        height: 800px;
        position: relative;
        .close-btn-content{
            position: absolute;
            top: 20px;
            left: 15px;
            border-radius: 50%;
            background: #e0e0e0;
            padding: 5px;
            z-index: 9999;
            span{
                font-size: 42px;
            }
        }
    }
   
    .youtube-video {
        background: black;
        max-height: 800px;
        //  height: 800px;
         display: none;
    }

.image{
// height: 800px;
display: none;
max-height: 800px;
}
.video-item{
    background: black;
    // height: 800px;
    max-height: 800px;
    display: none;
}
    .rigth-content {
        margin-left: 23px;
        width: 100%;
        max-width: 420px;

        .rigth-description {
            margin: 25px 23px 25px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 750px;
            .header-content {
                align-items: center;
                text-align: center;
                justify-content: space-between;
                &::after{
                    content: "";
                    display: block;
                    border: 1px solid #E3ECFD;
                    margin: 20px 0 0 0;
                }

                .local-image {
                    height: 47px;
                    width: 47px;
                    border-radius: 50%;
                }

                .name-title {
                    line-height: 33px;
                    color: #45535c;
                    font-family: EncodeSans-Bold;
                    margin-left: 20px;
                    font-size: 20px;
                }

                .icon {
                    cursor: pointer;
                }
            }

        }
    }
}



::ng-deep .mat-dialog-container {
    padding: 0px;
    border-radius: 15px;
}

::ng-deep .slick-next {
    position: absolute !important;
    right: 26px !important;
    z-index: 1;
}

::ng-deep .slick-next:before {
    font-size: 50px !important;
    opacity: 1 !important;
}

::ng-deep .slick-prev {
    position: absolute !important;
    left: 0 !important;
    z-index: 1;

}

::ng-deep .slick-prev:before {
    font-size: 50px !important;
    opacity: 1 !important;
}

.more-comment{
    &:hover{
    text-decoration: underline;
    }
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.comments-content{
    max-height: 500px;
    overflow-y: auto;
    margin-top: 15px;
}
.settings{
    border-top: 1px solid #F1F1F6;
}
.d-flex{
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
}