<!--All-->
<!-- <ngx-slick-carousel class="carousel w-100 chicken-image" #slickModal="slick-carousel" [config]="slideConfig" *ngIf="type==='all'">
  <div ngxSlickItem *ngFor="let item of mediItem" class="slide d-none"
    [ngClass]="{'d-block':item?.type ==='image' || item?.type==='video'|| item.type==='videoLink'}">

    <img class="d-none" [ngClass]="{'d-block':item?.type ==='image'}" src="{{fileURL+item.url}}" alt="" width="100%"
      class="chicken-image">

    <video controls class="video-item d-none w-100" poster="" [ngClass]="{'d-block':item?.type==='video'}"
      src="{{fileURL+item.url}}">
    </video>

    <div class="youtube-video d-none w-100" [ngClass]="{'d-block':item.type==='videoLink'}">
        <plyr style="display:block" plyrTitle="Video 1" [plyrSources]="videoSources"></plyr>
    </div>

  </div>
</ngx-slick-carousel> -->
<!-- <img class="d-none" [ngClass]="{'d-block':item?.type ==='image'}" src="{{fileURL+item.url}}" alt="" width="100%"
class="chicken-image"> -->

<!--ONLY IMAGE-->
<!-- <ngx-slick-carousel class="carousel w-100 chicken-image" #slickModal="slick-carousel" [config]="slideConfig" *ngIf="type==='image'">
    <div ngxSlickItem *ngFor="let item of mediItem" class="slide d-none"
      [ngClass]="{'d-block':item?.type ==='image'}">
  
      <img class="d-none" [ngClass]="{'d-block':item?.type ==='image'}" src="{{fileURL+item.url}}" alt="" width="100%"
        class="chicken-image">
    </div>
  </ngx-slick-carousel> -->

<!----ONLY VIDEO-->
  <!-- <ngx-slick-carousel class="carousel w-100 chicken-image" #slickModal="slick-carousel" [config]="slideConfig" *ngIf="type==='video'">
      <div ngxSlickItem *ngFor="let item of mediItem" class="slide d-none"
        [ngClass]="{'d-block':item?.type==='video'|| item.type==='videoLink'}">
        <video controls class="video-item d-none w-100" poster="" [ngClass]="{'d-block':item?.type==='video'}"
          src="{{fileURL+item.url}}">
        </video>
    
            <plyr [ngClass]="{'d-block':item.type==='videoLink'}" style="display:block" plyrTitle="Video 1" [plyrSources]="videoSources"></plyr>
      </div>
    </ngx-slick-carousel> -->




    <!---All-->
<div *ngIf="type==='image'">
    <div class="gallery-item">
        <div class="item-head-description">
            <img src="{{fileURL+mediaItem.url}}" class="image" alt="Cinque Terre">
            <!-- <p class="time mb-0">{{time}}</p> -->
        </div>
    </div>
    </div>