<div class="share-modal">
    <div class="share-modal-header">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
            <img src="assets/icons/Repost_blue.svg" class="image">
            <p class="title ml-3">All</p>
            <p class="count ml-3">0</p>
        </div>
<div>
        <span class="material-icons close" (click)="onClickCloseModal()">
                close
            </span>
</div>
           
        </div>
    </div>
    <div class="share-layout">
       <app-like-item *ngFor="let item of likeItem;let ind=index"></app-like-item>
       <p class="message-title" *ngIf="likeItem.length===0"> There are no likes</p>
    </div>
</div>