@mixin text($fontSize, $lineHeight, $color,$fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.pg-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activeTab {
    color: #65a4fe !important;
}

.btn {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    padding: 3px 15px;
    background: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
}

.card-item {
    border: 0.5px solid #E3ECFD;
    border-radius: 15px;
    opacity: 1;
    margin-top: 32px;
    padding: 24px 0;
    background: #ffffff;
}

.post-content {
    .post-container {
        .title {
            @include text(16px, 30px, #45535C,MicrosoftYaHeiUI);
        }

        .more {
            color: #65a4fe;
            cursor: pointer;
            font-weight: bold;
            line-height: 20px !important;
        }
    }
}

.item-header {
    display: flex;
    justify-content: space-between;
    padding: 0 42px 20px 21px;
    align-items: center;

    .item-head-description {
        display: flex;
        align-items: center;

        .image {
            width: 54px;
            height: 54px;
            border-radius: 50%;
        }

        .name-title {
            @include text(21px, 33px, #45535C,EncodeSans-Bold);
            margin-left: 20px;
            font-weight: bold;
        }

        .time {
            @include text(15px, 33px, #E3ECFD,EncodeSans-Medium);
            margin-left: 30px;
        }
    }

    .icon {
        font-size: 30px;
        cursor: pointer;
    }
}

.follow-btn {
    border: 1px solid #B9B9D5;
    border-radius: 20px;
    opacity: 1;
    margin-left: 35px;
    color: #B9B9D5;
    font-family: EncodeSans-SemiBold;
    padding: 5px 20px;
    background: #F7F7FC 0% 0% no-repeat padding-box;
    font-weight: 600;
}

//radius
.radius {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 26px;
    opacity: 1;
    width: 52px;
    height: 52px;
    cursor: pointer;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    margin: 7px 7px;
    border: none;

    .icon {
        color: #ACB9D1 !important;
        font-size: 35px;
        font-weight: bold;
    }
}

//button
.buttons-content {
    margin-top: 20px;

    .button-item {
        width: 25%;
        color: #AFC1D1;
        border: 1px solid #d0dae4;
        border-radius: 21px;
        opacity: 0.65;
        margin-right: 15px;
        padding: 5px;
        cursor: pointer;
        outline: none;
        // background: #ffffff;
        transition: .5s all ease-out;

        &:first-child {
            margin-left: 15px;
        }
    }
}

.show-content {
    font-size: 16px;
    line-height: 16px;
    height: 120px;
    overflow: hidden;
    transition: .5s all ease-out;
}

//review
.review {
    .review-item {
        width: 25%;
        padding: 5px;
        color: #FBD833;
        cursor: pointer;
    }

    .title {
        @include text(18px, 20px, #45535C,MicrosoftYaHeiUI);
    }
}

/////main



.auth-form {
    .form-btn {
        background-color: #57A1F2;
        border-radius: 28px;
        border: 0.5px solid #ACC3D9;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        padding: 15px 30px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #57A1F2;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

}

.clear-icon{
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 30px;
}

///scroll
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  background: #F7F7FC 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #CBDAE8; 
    border-radius: 8px;
    width: 10px;
  }



  /////forms

  .form-group {
    margin: 15px 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #CFCFE9;
    border-radius: 26px;
    opacity: 1;
    height: none !important;
    padding: 15px 15px !important;
    text-align: center;
    align-items: center;

    .form-input {
        width: calc(100% - 60px);
        border: none;
        margin-left: 10px;
        background:none !important;
        @include text(17px, 18px, #BECDE8,MicrosoftYaHeiUI);

        &::placeholder {
            @include text(17px, 18px, #BECDE8,MicrosoftYaHeiUI);
        }
    }

    .form-icon {
        font-size: 20px;
        line-height: 18px;
        color: #BECDE8;
    }
}

.auth-description {
    margin-top: 30px;
    .text {
        @include text(14px, 30px, #45535C,EncodeSans-SemiBold);
        font-weight: 600;
    }

    .title {
        @include text(14px, 30px, #5897F6,EncodeSans-SemiBold);
        font-weight: bold;
    }

    .checkbox {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E3ECFD;
        opacity: 1;
        width: 23px;
        height: 23px;
        border-radius: 50% !important;
    }

    .icon {
        color: #D1DCF1;
        font-size: 21px;
        cursor: pointer;
    }
}

.button-item {
    box-shadow: 1px 20px 79px #f8f9fb44;
    opacity: 1;
    background: #f8f9fb44 !important;

    .sign-btn {
        border: 1px solid#589CFE;
        width: 50%;
        cursor: pointer;
        transition: .5 all ease-out;
        padding: 15px;
        border-radius: 26px;
        font-weight: bold;
        background: #FFFFFF;
        @include text(16px,19px,#589CFE,EncodeSans-SemiBold);
        margin: 0 15px 0 0;
    }
    .signUp-btn{
        border: 1px solid#589CFE;
        width: 50%;
        cursor: pointer;
        transition: .5 all ease-out;
        padding: 15px;
        border-radius: 26px;
        font-weight: bold;
        background: #589CFE 0% 0% no-repeat padding-box !important;
        box-shadow: -5.29px 7px 10px #589BFD36;
        @include text(16px,19px,#ffffff,EncodeSans-SemiBold);
    }
}