@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.pg-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activeTab {
    color: #65a4fe !important;
}

.activeRoute {
    span {
        color: #65a4fe !important;
    }
}


.card-item {
    border: 0.5px solid #F4F7FC;
    border-radius: 15px;
    opacity: 1;
    margin-top: 32px;
    padding: 0;
    background: #ffffff;
    box-shadow: 2.09px 30px 43px #5C687B17;
    position: relative;
}

.post-content {
    .post-container {
        .title {
            margin: 6px 0;
            font-size: 17px;
            line-height: 22px;
            color: #45535c;
            font-family: "Nunito Sans", sans-serif;
            text-align: justify;
        }

        .more {
            color: #65a4fe;
            cursor: pointer;

            line-height: 20px !important;
        }
    }
}

.item-header {
    display: flex;
    justify-content: space-between;
    padding: 0 31px 0 14px;
    align-items: center;
    height: 75px;

    .item-head-description {
        display: flex;
        align-items: center;

        .image {
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }

        .name-title {
            @include text(19px, 33px, #45535c, EncodeSans-Bold);
            margin-left: 20px;
        }

        .time {
            @include text(14px, 33px, #bbcddf, EncodeSans-Medium);
            margin-left: 23px;
        }
    }

    .icon {
        font-size: 30px;
        cursor: pointer;
    }
}



//button
.buttons-content {
    margin-top: 20px;
}

.show-content {
    font-size: 16px;
    line-height: 16px;
    // height: 45px;
    overflow: hidden;
    transition: 0.5s all ease-out;

}

//review
.review {
    .review-item {
        width: 25%;
        padding: 5px;
        color: #fbd833;
        cursor: pointer;
    }

    .title {
        @include text(18px, 20px, #45535c, MicrosoftYaHeiUI);
    }
}

/////main

.auth-form {
    .form-btn {
        background-color: #57a1f2;
        border-radius: 28px;
        border: 0.5px solid #acc3d9;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        padding: 15px 30px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #57a1f2;

        display: flex;
        align-items: center;
    }
}

.clear-icon {
    padding: 10px 20px;

    cursor: pointer;
    font-size: 30px;
}

///scroll
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f7f7fc 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cbdae8;
    border-radius: 8px;
    width: 10px;
}

/////forms

.form-group {
    margin: 15px 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #E3ECFD;
    border-radius: 16px;
    opacity: 1;
    height: none !important;
    padding: 15px 15px;
    text-align: center;
    align-items: center;
    box-shadow: 0.42px 6px 16px #9897C914;

    .form-input {
        width: calc(100% - 60px);
        border: none;
        margin-left: 10px;
        background: none !important;
        @include text(16px, 1px, #bbcddf, MicrosoftYaHeiUI);
         font-family: "Nunito Sans", sans-serif !important;
         

        &::placeholder {
            @include text(16px, 18px, #bbcddf, MicrosoftYaHeiUI);
            font-family: "Nunito Sans", sans-serif !important;
        }
    }

    .form-icon {
        font-size: 20px;
        line-height: 18px;
        color: #bbcddf;
        margin-left: 5px;
    }
}

.auth-description {
    margin-top: 30px;

    .text {
        @include text(14px, 30px, #45535c, EncodeSans-Medium);
    }

    .text-sign-in {
        font-family: EncodeSans-SemiBold;
    }

    .title {
        @include text(14px, 30px, #5897f6, EncodeSans-SemiBold);

    }

    .checkbox {
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #bbcddf;
        opacity: 1;
        width: 17px;
        height: 17px;
        border-radius: 50% !important;
    }

    .icon {
        color: #d1dcf1;
        font-size: 21px;
        cursor: pointer;
    }
}

.button-item {
    .sign-btn {
        border: 1px solid#589CFE;
        width: 50%;
        cursor: pointer;
        transition: 0.5 all ease-out;
        height: 45px;
        border-radius: 26px;
        background: #ffffff;
        @include text(16px, 19px, #589cfe, EncodeSans-SemiBold);
        margin: 0 15px 0 0;
        align-items: center;
        text-align: center;
    }

    .signUp-btn {
        border: 1px solid#589CFE;
        width: 50%;
        cursor: pointer;
        transition: 0.5 all ease-out;
        height: 45px;
        border-radius: 26px;
        background: #589cfe !important;
        @include text(16px, 19px, #ffffff, EncodeSans-SemiBold);
        align-items: center;
        text-align: center;
    }
}

.arrow {
    border: 1px solid #bbcddf;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    position: absolute;
    top: -6px;
    right: 27px;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

////close-img
.close-img {
    background: #C0C9DE 0% 0% no-repeat padding-box;
    box-shadow: -3.76px 7px 7px #C0C9DC4F;
    border: 1px solid #FFFFFF;
    border-radius: 0px 0px 0px 20px;
    opacity: 0.85;
    width: 52px;
    height: 48px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    color: #FFFFFF;
    cursor: pointer;

}

// .form-group,
// .autocomplete {
//     position: relative;
// }

// .form-group>label {
//     position: absolute;
//     top: -11px;
//     left: 25px;
//     background-color: white;
//     @include text(16px, 19px, #589CFE, NunitoSans-Regular);
//     padding: 0 10px;
//     letter-spacing: 2px;
// }

.update-video-btn {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #bbcddf;
    border-radius: 18px;
    opacity: 1;
    color: #bbcddf;
    width: 364px;
    justify-content: center;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.add-btn {
    flex-direction: column;
    cursor: pointer;
    background: #ffffff;
    border: none;

    &::before {
        display: block;
        content: "";
        border: 1px solid #E3ECFD;
        width: 100%;
    }

    .btn-text {
        padding: 15px 0;
        @include text(18px, 21px, #bbcddf, EncodeSans-SemiBold);
    }
}

.form-grup-redius {
    border-radius: 20px !important;
}



///////button style
.btn-item {
    border-radius: 20px;
    height: 40px;
    font-size: 14px;
    line-height: 17px;
    outline: none;
    padding: 10px 20px;
    font-family: EncodeSans-SemiBold;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.info-btn {
    background: #ffffff;
    border: 1px solid #589CFE;
    color: #589CFE;
    align-items: center;
}

.active-btn {
    background: #589CFE !important;
    border: 1px solid #589CFE !important;
    color: #ffffff !important;
    align-items: center !important; 
}

.basic-btn {
    background: #F7F7FC;
    border: 1px solid #B9B9D5;
    color: #B9B9D5;
    align-items: center;
}

.blue-btn {
    background: #589CFE;
    border: 1px solid #589CFE;
    color: #ffffff;
    box-shadow: -5.29px 7px 10px #589bfd36;
    align-items: center;
}

.btn-radius {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;

    .icon {
        font-size: 25px;
    }
}

.hovher-btn {
    background: #F4F6FB 0% 0% no-repeat padding-box;
    border-radius: 25px;
    opacity: 1;
    @include text(16px, 19px, #A5B1CB, EncodeSans-Medium);
    align-items: center;
    cursor: pointer;
    border: none;
    height: 45px;
    padding: 13px 22px;
     margin: 0 7px;
}
.follow-item {
    background: #F7F7FC 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 4px 0;
    padding: 0 !important;
    height: 70px;
  
}


