@mixin text($fontSize, $lineHeight, $color) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}

.conbination {
    position: absolute;
    top: 80px;
    width: 600px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 30px 43px #5C687B17;
    opacity: 1;
    min-height: 100vh;

    .combination-header {
        height: 70px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 11px 13px 18px #3E598B0F;
        width: 100%;
        max-width: 600px;
        position: fixed;
        border: 0.5px solid #E3ECFD;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-content: center;
        text-align: center;
        padding: 26px;

        .header-description {
            .header-title {
                @include text(14px, 16px, #589CFE);
                font-family: EncodeSans-SemiBold;
            }
        }
    }

    .combination-main {
        margin: 70px 0px;

        .header-content {
            //  padding: 0 5px;

            .combination-image {
                height: 300px;
                width: 595px;
                margin: auto;
                display: flex;
            }
        }

        .social-contetent {
            &::after {
                content: "";
                border: 1px solid #E3ECFD;
                width: 100%;
                margin: 20px 0;
                display: block;
            }

            .social-description {
                display: flex;
                justify-content: flex-end;
                padding: 20px 33px 0 0;

                .social-icon {
                    width: 26px;
                    margin: 0 9px;
                    cursor: pointer;
                }
            }

        }

        .main-content {
            padding: 0 24px;

            .combination-type {
                @include text(21px, 25px, #45535c);
                font-family: EncodeSans-SemiBold;
            }

            .profile-information {
                margin-top: 12px;

                .profile-user_name {
                    @include text(16px, 21px, #589cfe);
                    font-family: EncodeSans-SemiBold;
                }

                .time {
                    @include text(15px, 33px, #bec8dd);
                    font-family: EncodeSans-SemiBold;
                    margin: 0 15px;
                }

                .info-btn {
                    padding: 6px 22px;
                    font-size: 11px;
                }
            }

            .information {
                @include text(16px, 22px, #45535c);
                font-family: "Nunito Sans", sans-serif;
                margin: 22px 0 28px;
            }
        }
    }

}

.combination-top {
    top: 10px !important;
}

.combination-main-top {
    margin: 0 !important;
}