<div class="combination-content">
    <div class="combination-header">
        <img src="assets/images/img3.png" class="combination-image" alt="Cinque Terre">
        <button class="radius d-flex" routerLink="/feed">
            <span class="material-icons m-auto icon">
                keyboard_arrow_left
            </span>
        </button>
        <div class="header-container d-flex justify-content-end">
            <span class="material-icons icon">
                more_vert
            </span>

        </div>
    </div>
    <div class="combination-main-content">
        <p class="title">The Raw Food Diet Facts you need to Know.</p>
        <div class="d-flex align-items-center mt-3">
            <p class=name>by Maya Crouche</p>
            <p class="date ml-2">June 15</p>
            <button type="button" class="btn  follow-btn ml-2">Follow</button>
        </div>
        <div class="combination-item">
            <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, provident possimus.
                Nobis similique quasi nesciunt deserunt eos iusto facere, corrupti temporibus labore veniam, commodi
                iste fuga maxime fugiat, facilis vel.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, provident possimus.
                Nobis similique quasi nesciunt deserunt eos iusto facere, corrupti temporibus labore veniam, commodi
                iste fuga maxime fugiat, facilis vel.
            </p>
        </div>
        <div class="combination-item">
            <p class="title">The Benefits of a Raw Food Diet</p>
            <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, provident possimus.
                Nobis similique quasi nesciunt deserunt eos iusto facere, corrupti temporibus labore veniam, commodi
                iste fuga maxime fugiat, facilis vel.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, provident possimus.
                Nobis similique quasi nesciunt deserunt eos iusto facere, corrupti temporibus labore veniam, commodi
                iste fuga maxime fugiat, facilis vel.
            </p>
        </div>
   
    </div>
    <app-settings (openChanges)='onClickOpen($event)'></app-settings>
    <div class="posts-comments" *ngIf="isOpen">
        <app-comments *ngFor="let item of comments" [comments]="item"></app-comments>
        <app-posts-comments [comments]="comments"></app-posts-comments>
    </div>
</div>