@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.combination-content {
    background: #ffff;
    padding: 0 0px 10px 0px;
    .combination-header {
        position: relative;

        .combination-image {
            height: 260px;
        }

        .header-container {
            padding: 20px 20px;

            .icon {
                font-size: 28px;
                cursor: pointer;
            }
        }
    }

    .combination-main-content {
        border-top: 1px solid #F1F1F6;
        padding: 14px 10px;

        .title {
            @include text(25px, 33px, #45535C, BarlowCondensed-Medium);
            
        }

        .name {
            @include text(18px, 21px, #BDC0D5, BarlowCondensed-Regular);
        }

        .date {
            @include text(15px, 21px, #45535C, BarlowCondensed-Light);
        }

        .combination-item {
            padding: 20px 0;

            .text {
                @include text(18px, 26px, #45535C, BarlowCondensed-Regular);
                 
            }

            .title {
                @include text(25px, 26px, #45535C, BarlowCondensed-Medium);
                margin-bottom: 15px;
                

            }
        }
    }

    .setting-content {
        border-top: 1px solid #F1F1F6;
        border-bottom: 1px solid #F1F1F6;
        padding: 0 !important;

        .setting-item {
            padding: 19px 0;

            .title {
                margin: 0 !important;
            }
        }
    }

}
.radius {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 26px;
    opacity: 1;
    width: 52px;
    height: 52px;
    cursor: pointer;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    margin: 7px 7px;
    border: none;

    .icon {
        color: #acb9d1 !important;
        font-size: 35px;
        
    }
}
:host::ng-deep{
    app-content-video{
        .image-content{
            margin-top: 0 !important;
        }
    }
}