@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.post-container {

    // padding: 0 50px 0px 21px;
    .image,
    .vido {
        height: 380px;
        cursor: pointer;
        border: 1px solid #e3ecfd;
        margin: 6px 0;
    }
}

.title-content {
    padding: 0 50px 0px 21px;
    align-items: flex-end;
    // margin: 6px  0;
}

.icon {
    color: #45535c;
}

.show {
    overflow: visible;
    transition: .5s all ease-out;
}

.food-image,
.chicken-image {
    height: 260px;
    cursor: pointer;
    margin: 6px 0;
}

.combinations-description {
    padding: 0 50px 0px 21px;
    margin-bottom: 6px;

    .title {
        @include text(20px, 32px, #45535C, MicrosoftYaHeiUI);


    }

    .name {
        @include text(18px, 21px, #BEC9DF, MicrosoftYaHeiUI);
    }

}

.chicken-content {
    position: relative;
    transition: .5s all ease-out;
    cursor: pointer;
    font-size: 15px;


    .btn {
        background: #23CB81 0% 0% no-repeat padding-box;
        border-radius: 18px;
        opacity: 0.8;
        color: #ffffff;
        border: 0.5px solid #FFFFFF;
        padding: 5px 15px;
        top: 30px;
        right: 20px;

    }

    &:hover {
        .comments {
            opacity: .8 !important;
        }
    }

    .comments {
        // background: transparent linear-gradient(0deg, #43474E 0%, #43474E 28%, #43474E00 100%) 0% 0% no-repeat padding-box;
        opacity: 0;
        top: 190px;
        .comments-content {
            width: 90%;
            flex-wrap: wrap;
        }
        .comments-description {
            padding: 0 15px;
            display: flex;
            widows: 20%;;

          

            .text {
                @include text(13px, 15px, #ffffff, EncodeSans-Bold);
            }

            .title {
                @include text(17px, 20px, #ffffff, EncodeSans-Bold);
                margin-top: 5px;
            }

            &:after {
                content: "";
                display: block;
                border: 1px solid #ffffff;
                height: 33px;
                width: 2px;
                margin-left: 17px;

            }
        }

        .comments-description:last-child {
            &::after {
                display: none !important;
            }
        }

    }
}

.posts-comments {
    padding: 0 10px;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}


.item-head-description {
    .image {
        background: #FEA6CC;
        cursor: pointer;
    }

    .name-title {
        cursor: pointer;
    }
}

::ng-deep .slick-prev {
    left: 7px !important;
    z-index: 999 !important;
    height: 40px !important;
    width: 40px !important;

    &::before {
        font-size: 40px !important;
    }
}

::ng-deep .slick-next {
    right: 7px !important;
    z-index: 999 !important;
    height: 40px !important;
    width: 40px !important;

    &::before {
        font-size: 40px !important;
    }
}