@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.post-container {
    .recept-content {
        position: relative;
        .recipt-right {
            position: absolute;
            top: 20px;
            right: 20px;
            background: #C0C9DEAA 0% 0% no-repeat padding-box;
            box-shadow: -3.76px 7px 7px #C0C9DC4F;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
            width: 52px;
            height: 52px;
            cursor: pointer;
            z-index: 1;
            display: flex;
            opacity:1;
            .icon{
                margin: auto;
                width: 25px;
            }
        }
    }

    // padding: 0 50px 0px 21px;
    .image,
    .vido {
        height: 380px;
        cursor: pointer;
        margin: 6px 0;
     
    }
}
.vido{
    background: black;
}
.title-content {
    padding: 0 50px 0px 21px;
    align-items: flex-end;
    // margin: 6px  0;
}

.icon {
    color: #45535c;
}

.show {
    overflow: visible;
    transition: .5s all ease-out;
}

.food-image,
.chicken-image {
    height: 260px;
    cursor: pointer;
    margin: 6px 0;
}

.combinations-description {
    padding: 0 50px 0px 21px;
    margin-bottom: 6px;

    .title {
        @include text(20px, 32px, #45535C, MicrosoftYaHeiUI);


    }

    .name {
        @include text(18px, 21px, #BEC9DF, MicrosoftYaHeiUI);
    }

}

.chicken-content {
    position: relative;
    transition: .5s all ease-out;
    cursor: pointer;
    font-size: 15px;


    .btn {
        background: #23CB81 0% 0% no-repeat padding-box;
        border-radius: 18px;
        opacity: 0.8;
        color: #ffffff;
        border: 0.5px solid #FFFFFF;
        padding: 5px 15px;
        top: 30px;
        right: 20px;

    }

    // &:hover {
    //     .comments {
    //         opacity: .8 !important;
    //     }
    //     .recipt-right{
    //         opacity: .8 !important;
    //     }
    // }

    .comments {
        opacity: 0.8;
        bottom: 0;
        background: transparent linear-gradient(0deg, #31364399 0%, #31364300 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        .comments-content {
            margin: 0 40px;
        }
        .comment-item{
            margin: 17px;
        }

        .comments-description {
            display: flex;

            .text {
                @include text(13px, 15px, #ffffff, EncodeSans-Bold);
            }

            .title {
                @include text(17px, 20px, #ffffff, EncodeSans-Bold);
                margin-top: 5px;
            }

            &:after {
                content: "";
                display: block;
                border: 1px solid #ffffff;
                height: 33px;
                width: 2px;
                margin: auto;

            }
        }

        .comments-description:last-child {
            &::after {
                display: none !important;
            }
        }

    }
}

.posts-comments {
    padding: 0 10px;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}


.item-head-description {
    .image {
        background: #FEA6CC;
        cursor: pointer;
    }

    .name-title {
        cursor: pointer;
    }
}

::ng-deep .slick-prev {
    left: 7px !important;
    z-index: 999 !important;
    height: 40px !important;
    width: 40px !important;

    &::before {
        font-size: 40px !important;
    }
}

::ng-deep .slick-next {
    right: 7px !important;
    z-index: 999 !important;
    height: 40px !important;
    width: 40px !important;

    &::before {
        font-size: 40px !important;
    }
}


.article-style {
    height: 275px !important;
    margin: 6px 0 12px 0 !important;
    cursor: pointer;
}

.recipt-style {
    height: 330px !important;
    
   
    .text-content{
        margin: 10px 0;
    }
}

.video-youtube {
    margin: 6px 0 12px 0 !important;
}

:host::ng-deep {
    .video-youtube {
        .plyr {
            min-width: 100% !important;
            height: 380px;
        }
    }
}
.recept-main{
    border: 1px solid #e3ecfd;
    margin: 6px 0 12px 0;
    position: relative;
}

.card-item-style{
    margin: 25px 0;
}




 .container {
    border: 0.5px solid #F4F7FC;
    border-radius: 15px;
    opacity: 1;
    margin-top: 32px;
    padding: 0;
    background: #ffffff;
    box-shadow: 2.09px 30px 43px #5C687B17;
}



.loading {
    position: relative;
    background-color: #E2E2E2;

    &::after {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .2), transparent);
        animation: loading 1.5s infinite;
    }
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

.card-title.loading {
    height: 1.8rem;
}

.card-image.image {
    max-width: 100%;
    height: auto;
}

.card-description.loading {
    height: 60px;
    margin: 6px 0;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #E2E2E2;
}

///////skeleton
.skeleton-card-item {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 9px 43px #5C687B21;
    border: 0.5px solid #F4F7FC;
    margin-top: 32px;

    border-radius: 15px;
    opacity: 1;

    .header-content {
        padding: 26px 0 15px 15px;
        align-items: center;

        .image {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background: #EBEEF6 0% 0% no-repeat padding-box;
        }

        .title {
            background: #EBEEF6 0% 0% no-repeat padding-box;
            border-radius: 9px;
            opacity: 1;
            width: 195px;
            height: 18px;
            margin-left: 20px;
        }
    }

    .item-image {
        background: #EBEEF6 0% 0% no-repeat padding-box;
        opacity: 1;
        height: 320px;
    }

    .top-content {
        padding: 18px 37px 22px 37px;

        .top-item {
            background: #EBEEF6 0% 0% no-repeat padding-box;
            border-radius: 13px;
            opacity: 1;
            width: 145px;
            height: 25px;
        }
    }
}