<div class="card-item">
    <div class="item-header">
        <div class="item-head-description">
            <img [routerLink]="getProfleUrl()" [src]="localImage" class="image"
                alt="Cinque Terre">
            <p [routerLink]="getProfleUrl()" class="name-title mb-0"
                *ngIf="role==='client' || (!role && feedItem.creator_client_info)">
                {{feedItem?.creator_client_info?.user?.first_name}}</p>
            <p [routerLink]="getProfleUrl()" class="name-title mb-0"
                *ngIf="role==='coach' || (!role && feedItem.creator_info)">{{feedItem?.creator_info?.user?.first_name}}
            </p>

            <p class="time mb-0">{{time}}</p>
        </div>
        <div (clickOutside)="onClickedOutside($event)">
            <span class="material-icons icon" (click)="showDeletedModal()">
                more_vert
            </span>
            <div class="position-relative" *ngIf="showDeleteModal">
                <app-delete-feed-item (deleted)="deleteFeedItem($event)" [content]="content?.type"
                    [feedId]="feedItem.id"></app-delete-feed-item>
            </div>
        </div>

    </div>

    <div class="post-content">
        <div class="post-container">
            <div class="title-content">
                <p class="title show-content">{{feedTitle}} <span *ngIf="seeMore" class="title more"
                        (click)="onClickSeeMore()">... See More</span></p>
            </div>

            <div class="d-none" [ngClass]="{'d-block':content?.type ==='image'}">
                <img src="{{fileUrl+content?.url}}" class="image" alt="Cinque Terre"
                    (click)="openPropertyModalByImage()">
            </div>

            <div class="d-none" [ngClass]="{'d-block':content?.type ==='video'}">
                <video controls class="vido w-100" poster="" src="{{fileUrl+content?.url}}"
                    (click)="openPropertyModalByVideo()">
                </video>
            </div>
            <div class="d-none" [ngClass]="{'d-block':content?.type === 'videoLink'}">
                <plyr style="display:block" plyrTitle="Video 1" [plyrSources]="videoSources"></plyr>

            </div>


            <div class="d-none" [ngClass]="{'d-block':content?.type ==='recipeType'}"
                routerLink='ingridient/{{feedItem.id}}'>
                <div class="post-container chicken-content p-0">
                    <ngx-slick-carousel *ngIf="receipt?.imageSlider.length>0" class="carousel w-100 chicken-image"
                        #slickModal="slick-carousel" [config]="slideConfig">
                        <div ngxSlickItem *ngFor="let slide of receipt?.imageSlider" class="slide">
                            <img [src]="slide.img" alt="" width="100%" class="chicken-image">
                        </div>
                    </ngx-slick-carousel>
                    <div class="comments  d-flex position-absolute w-100 justify-content-between">
                        <div class="comments-description">
                            <p class="text">Coloris</p>
                            <p class="title">{{receipt?.calories}} kcal</p>
                        </div>
                        <div class="comments-description">
                            <p class="text">Protein</p>
                            <p class="title">{{receipt?.protein}} gm</p>
                        </div>
                        <div class="comments-description">
                            <p class="text">Fat</p>
                            <p class="title">{{receipt?.fat}} gm</p>
                        </div>
                        <div class="comments-description">
                            <p class="text">Carbs</p>
                            <p class="title">{{receipt?.carbs}} gm</p>
                        </div>
                        <div class="comments-description">
                            <p class="text">Prep Time</p>
                            <p class="title">{{receipt?.time}} min</p>
                        </div>
                    </div>
                    <div *ngIf="receipt?.videoLink !=''">
                        <plyr style="display:block" plyrTitle="Video 1" [plyrSources]="receptvideoSources"></plyr>
                    </div>
                    <div class="combinations-description">
                        <p class="title">{{receipt?.title}}</p>
                        <div class="d-flex text-align-centre">
                            <p class="name mr-2">by </p>
                            <p class="name mb-0" *ngIf="role==='client'">
                                {{feedItem?.creator_client_info?.user?.first_name}}</p>
                            <p class="name mb-0" *ngIf="role==='coach'">{{feedItem?.creator_info?.user?.first_name}}</p>
                            <p class="name mb-0" *ngIf="!role && feedItem.creator_info">
                                {{feedItem?.creator_info?.user?.first_name}}</p>
                            <p class="name mb-0" *ngIf="!role && feedItem.creator_client_info">
                                {{feedItem?.creator_client_info?.user?.first_name}}</p>
                        </div>

                    </div>
                </div>

            </div>


            <!-----ARTIVLE POST-->
            <div class="d-none" [ngClass]="{'d-block':content?.type ==='article'}">
                <div class="post-container p-0">
                    <img [src]="setImage()" class="food-image" alt="Cinque Terre"
                        routerLink="/combination/{{feedItem.id}}">
                    <div class="combinations-description">
                        <p class="title">{{feedItem?.title}}</p>
                        <div class="d-flex text-align-centre">
                            <p class="name mr-2">by </p>
                            <p class="name mb-0" *ngIf="role==='client'">
                                {{feedItem?.creator_client_info?.user?.first_name}}</p>
                            <p class="name mb-0" *ngIf="role==='coach'">{{feedItem?.creator_info?.user?.first_name}}</p>
                            <p class="name mb-0" *ngIf="!role && feedItem.creator_info">
                                {{feedItem?.creator_info?.user?.first_name}}</p>
                            <p class="name mb-0" *ngIf="!role && feedItem.creator_client_info">
                                {{feedItem?.creator_client_info?.user?.first_name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-settings [feed]="feedItem" [role]="role" (getButtonsType)="getButtonsType($event)"
        (openChanges)='onClickOpen($event)'></app-settings>
    <div class="posts-comments" *ngIf="isOpen">
        <app-comments (sendMessage)="sendMessageForParent($event,item)" (likeOrDislike)="likeOrDislike($event)"
            *ngFor="let item of comments" [comments]="item" [role]="role" [isShowSubMessages]="isShowSubMessages">
        </app-comments>
        <app-posts-comments (sendMessage)="sendMessage($event)" *ngIf="role" [comments]="comments"></app-posts-comments>
    </div>
</div>