<div class="comments-item">
    <div class="comments">
        <div class="message d-flex">
            <img [src]="comments?.image" class="user-image" alt="Cinque Terre">
            <div class="comments-container">
                <div class="container-description align-items-center d-flex justify-content-between">
                    <div class="d-flex">
                        <p class="name">{{comments?.name}}</p>
                        <p class="time ml-2">{{comments?.time}}</p>
                    </div>
                    <div class="d-flex">
                        <p class="title" >Reply</p>
                        <div class="like d-flex ml-2">
                            <div class="like-radius d-flex">
                                <span class="material-icons icon m-auto">
                                    arrow_upward
                                </span>
                            </div>
                            <p class="like-count ml-2">{{comments?.like}}</p>
                        </div>
                        <div class="like d-flex ml-2">
                            <div class="like-radius d-flex">
                                <span class="material-icons icon m-auto">
                                    arrow_downward
                                </span>
                            </div>
                            <p class="like-count ml-2">{{comments?.dislike}}</p>
                        </div>
                    </div>
                </div>
                <p class="commet-message">{{comments?.message}}</p>
                <p class="view-title" (click)="isOpenReplay()">View Replies {{comments?.view}}</p>
            </div>
        </div>
        <!--replace-->
        <div *ngIf="showReplay">
        <div class="replay-message message d-flex" *ngFor="let item of comments?.chiled">
            <img src="{{item?.image}}" class="user-image" alt="Cinque Terre">
            <div class="comments-container">
                <div class="container-description align-items-center d-flex justify-content-between">
                    <div class="d-flex">
                        <p class="name">{{item?.name}}</p>
                        <p class="time ml-2">{{item?.time}}</p>
                    </div>
                    <div class="d-flex">
                        <p class="title">Reply</p>
                        <div class="like d-flex ml-2">
                            <div class="like-radius d-flex">
                                <span class="material-icons icon m-auto">
                                    arrow_upward
                                </span>
                            </div>
                            <p class="like-count ml-2">{{item?.like}}</p>
                        </div>
                        <div class="like d-flex ml-2">
                            <div class="like-radius d-flex">
                                <span class="material-icons icon m-auto">
                                    arrow_downward
                                </span>
                            </div>
                            <p class="like-count ml-2">{{item?.dislike}}</p>
                        </div>
                    </div>
                </div>
                <p class="commet-message">{{item?.comments}}</p>
            </div>
        </div>
        </div>
    </div>
</div>
