<div class="education-header" *ngIf="!profileEducation">
    <p class="date">{{educationItem?.start_date}}-{{educationItem?.end_date}}</p>
    <p class="name">{{educationItem?.name}}</p>
    <p class="text">{{educationItem?.specialization}}.</p>
</div>



<div class="education" *ngIf="profileEducation">
    <form [formGroup]="educationFormGroup">
    <div class="education-content">
        <div class="education-item d-flex justify-content-between">
            <span class="material-icons hat-icon">
                school
            </span>
            <div class="education-description-container">
            <div class="education-description">
                    <p class="name">Insitute Nmae</p>
                    <input  class="example w-100" placeholder=""  formControlName="name">
                </div>

                <div class="education-description">
                    <p class="name">Specialisiation</p>
                    <input  class="example w-100" placeholder="" formControlName="specialization">
                </div>
            </div>
            <div class="close">
                <span class="material-icons close-icon" (click)="deleteEducationItem()">
                    close
                </span>
            </div>

        </div>
                <div class="display-flex w-100">
                    <div class="link-form w-50">
                        <label class="lable">Starting Year</label>
                            <mat-select class="form-group-link w-100"   formControlName="start_date">
                                    <mat-option>Year</mat-option>
                                    <mat-option  [value]="2015">2015</mat-option>
                                    <mat-option  [value]="2016">2016</mat-option>
                                    <mat-option  [value]="2017">2017</mat-option>
                                  </mat-select>
                    </div>
                    <div class="link-form w-50">
                        <label class="lable">Ending Year</label>
                        <mat-select class="form-group-link w-100"   formControlName="end_date">
                                <mat-option>Year</mat-option>
                                <mat-option  [value]="2019">2019</mat-option>
                                <mat-option  [value]="2020">2020</mat-option>
                                <mat-option  [value]="2021">2021</mat-option>
                              </mat-select>
                    </div>
                </div>
                
    </div>
</form>
</div>