@mixin text($fontSize, $lineHeight, $color) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}

.ingridient {
    position: absolute;
    width: 600px;
    top: 85px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 2px 30px 43px #5c687b17;
    opacity: 1;

    .image-content {
        padding: 0 5px;
        .slide-image {
            height: 360px;
        }
        .ingridient-image-content {
            width: 100%;
            max-width: 250px;
            margin: auto;
            margin-top: -40px;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            .image-item {
                .ingridient-image-item {
                    width: 71px;
                    height: 71px;
                    border: 2px solid #ffffff;
                    border-radius: 50%;
                    margin: 5px;
                }
            }
        }
    }
    .header-container {
        border-bottom: 0.5px solid #e3ecfd;
        .header-description {
            display: flex;
            justify-content: space-between;
            padding: 20px 28px;
            .star-image {
                width: 21px;
                height: 21px;
            }
            .rate-title {
                @include text(16px, 19px, #45535c);
                font-family: EncodeSans-SemiBold;
            }
            .rate {
                margin-left: 15px;
                &::after {
                    border: 1px solid #d7e4f0;
                    height: 20px;
                    width: 4px;
                    content: "";
                    margin: 0 10px;
                }
            }
            .share-title {
                @include text(14px, 16px, #bec8dd);
                font-family: EncodeSans-SemiBold;
            }
            .social-icon {
                width: 26px;
                margin: 0 11px;
                cursor: pointer;
            }
        }
    }
    .main-content {
        .main-secription {
            padding: 20px 25px;
            .ingridient-type {
                @include text(21px, 25px, #45535c);
                font-family: EncodeSans-SemiBold;
            }
            .profile-information {
                margin-top: 12px;
                .profile-user_name {
                    @include text(16px, 21px, #589cfe);
                    font-family: EncodeSans-SemiBold;
                }
                .time {
                    @include text(15px, 33px, #bec8dd);
                    font-family: EncodeSans-SemiBold;
                    margin: 0 15px;
                }
                .info-btn {
                    padding: 6px 12px;
                    font-size: 11px;
                }
            }
            .main-calcualted {
                width: 100%;
                max-width: 420px;
                margin: 40px auto 50px;
                display: flex;
                .calcualted-item {
                    width: 73px;
                    margin-right: 42px;
                    align-items: center;
                    text-align: center;
                    .calcualted-title {
                        @include text(18px, 21px, #45535c);
                        font-family: EncodeSans-SemiBold;
                    }
                    .radius {
                        width: 61px;
                        height: 61px;
                        background: #ffffff 0% 0% no-repeat padding-box;
                        box-shadow: 0.24px 0.97px 76px #647c9f45;
                        margin: 15px auto;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        display: flex;
                        @include text(20px, 24px, #45535c);
                        font-family: EncodeSans-SemiBold;
                    }
                }
            }
            .tag-main {
                width: 100%;
                max-width: 460px;
                margin: auto;
                .tag-item {
                    border: 1px solid #cfcfe9;
                    background: #ffffff;
                    border-radius: 21px;
                    opacity: 1;
                    width: 141px;
                    height: 41px;
                    margin-right: 12px;
                    padding: 11px;
                    @include text(14px, 18px, #45535c);
                    font-family: EncodeSans-SemiBold;
                }
            }
            .information {
                @include text(16px, 22px, #45535c);
                font-family: "Nunito Sans", sans-serif;
                margin: 37px 0 28px;
            }
            .ingridient-description {
                .ingridient-title {
                    @include text(21px, 25px, #589cfe);
                    font-family: EncodeSans-SemiBold;
                }
                .ingridient-content {
                    .ingridient-item {
                        margin: 20px 0;
                    }
                    .ingridient-title {
                        @include text(18px, 21px, #45535c);
                        font-family: EncodeSans-SemiBold;
                        display: flex;
                        &::before {
                            border: 2px solid #bdc0d5;
                            border-radius: 50%;
                            width: 9px;
                            height: 9px;
                            display: block;
                            content: "";
                            margin: auto 20px;
                        }
                    }
                    .ingridient-value {
                        @include text(17px, 20px, #45535c);
                        font-family: EncodeSans-Medium;
                    }
                    .before{
                        @include text(23px, 27px, #589CFE);
                        font-family: EncodeSans-SemiBold;
                        margin-right: 40px;
                    }
                    .preparation-value{
                        font-family: "Nunito Sans", sans-serif;
                        &::after{
                            content: "";
                            border: 0.5px solid #e3ecfd;
                            width: 100%;
                            margin-top: 20px;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

//ng-deep
::ng-deep .slick-prev {
    left: 7px !important;
    z-index: 999 !important;
    height: 40px !important;
    width: 40px !important;

    &::before {
        font-size: 40px !important;
    }
}

::ng-deep .slick-next {
    right: 7px !important;
    z-index: 999 !important;
    height: 40px !important;
    width: 40px !important;

    &::before {
        font-size: 40px !important;
    }
}

