<div class="chicken-content">
    <div class="chicken-header">
        <img src="assets/images/chicken.png" class="chicken-image" alt="Cinque Terre">
        <button class="radius d-flex" routerLink="/feed">
            <span class="material-icons m-auto icon">
                keyboard_arrow_left
            </span>
        </button>
        <div class="header-container d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <span class="material-icons star-icon">
                    grade
                </span>
                <p class="title ml-2">4.9 120rates</p>
            </div>
            <span class="material-icons icon">
                more_vert
            </span>

        </div>
        <div class="main-container">
            <p class="title">Lorem ipsum dolor sit, amet consectetur.</p>
            <div class="d-flex align-items-center mt-3">
                <p class=name>by Maya Crouche</p>
                <p class="date ml-2">June 15</p>
                <button type="button" class="btn  follow-btn ml-2">Follow</button>
            </div>
            <div>
                <div class="loader-container d-flex justify-content-between">
                    <div class="text-center">
                        <p class="circle-text">Calories</p>
                        <div class="loader d-flex">
                            <p class="m-auto">400</p>
                        </div>
                        <p class="circle-text">kcal</p>
                    </div>
                    <div class="text-center">
                        <p class="circle-text">Carbs</p>
                        <div class="loader d-flex ">
                            <p class="m-auto">60</p>
                        </div>
                        <p class="circle-text">gm</p>

                    </div>

                    <div class="text-center">
                        <p class="circle-text">Protein</p>
                        <div class="loader d-flex ">
                            <p class="m-auto">40</p>
                        </div>
                        <p class="circle-text">gm</p>
                    </div>
                    <div class="text-center">
                        <p class="circle-text">Fat</p>
                        <div class="loader d-flex ">
                            <p class="m-auto">22</p>
                        </div>
                        <p class="circle-text">gm</p>
                    </div>
                </div>
                <div class="btn-content d-flex">
                    <button type="button" class="btn ml-0">20 min</button>
                    <button type="button" class="btn">20 min</button>
                    <button type="button" class="btn">20 min</button>
                </div>
                <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi provident, blanditiis
                    aut reiciendis
                    error dolorum aspernatur aliquid voluptatibus quis? Veritatis tenetur minima, et mollitia ad sint
                    soluta hic exercitationem eius?</p>

            </div>
            <div class="ingridient-content">
                <p class="title">Ingredient</p>
                <p class="ingridient-item">Potatou 40 gm</p>
                <p class="ingridient-item">Orange 30 gm</p>
                <p class="ingridient-item">Macaroni 120 gm</p>
                <p class="ingridient-item">Repesid oil 120 gm</p>
            </div>
            <div class="instruction-content">
                <p class="title">Instructions</p>
                <div class="instruction-item d-flex">
                    <p class="number">1</p>
                    <p class="instruction-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ab,
                        exercitationem eius officiis, veniam voluptatibus magni eveniet blanditiis et inventore eligendi
                        sed
                        repellat. Consequatur optio magnam harum perspiciatis quaerat ab?</p>
                </div>
                <div class="instruction-item d-flex">
                    <p class="number">2</p>
                    <p class="instruction-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ab,
                        exercitationem eius officiis, veniam voluptatibus magni eveniet blanditiis et inventore eligendi
                        sed
                        repellat. Consequatur optio magnam harum perspiciatis quaerat ab?</p>
                </div>
                <div class="instruction-item d-flex">
                    <p class="number">3</p>
                    <p class="instruction-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ab,
                        exercitationem eius officiis, veniam voluptatibus magni eveniet blanditiis et inventore eligendi
                        sed
                        repellat. Consequatur optio magnam harum perspiciatis quaerat ab?</p>
                </div>
            </div>
            <app-settings (openChanges)='onClickOpen($event)'></app-settings>
            <div class="posts-comments" *ngIf="isOpen">
                <app-comments *ngFor="let item of comments" [comments]="item"></app-comments>
                <app-posts-comments [comments]="comments"></app-posts-comments>
            </div>

        </div>
    </div>
</div>