<div class="information-content" *ngIf="!profileCertificates">
    <p class="title">About</p>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aliquid quod tenetur hic ab
        reprehenderit ad, odio eos fugiat animi aspernatur voluptates unde cumque, autem eligendi iure et accusamus
        architecto.</p>
    <p class="title">Certificates</p>
    <div class="information-item-content d-flex">
        <div class="information-item">
            <img src="assets/images/certificate.png" class="information-image" alt="Cinque Terre">
        </div>
        <div class="information-item">
            <img src="assets/images/certificate.png" class="information-image" alt="Cinque Terre">
        </div>
        <div class="information-item">
            <img src="assets/images/certificate.png" class="information-image" alt="Cinque Terre">
        </div>
    </div>
    <app-education [profileEducation]="false"></app-education>
    <app-experience [profileExperience]="false"></app-experience>
</div>


<div class="certificates-content" *ngIf="profileCertificates">
    <div class="certificates-item d-flex justify-content-between">
        <div class="position-relative">
            <img src="assets/images/certificate.png" class="certificates-image" alt="Cinque Terre">
            <div class="icon-content d-flex">
                <span class="material-icons m-auto" >
                    close
                </span>
            </div>

        </div>


        <p class="text">{{certificates.title}}</p>
        <span class="material-icons" (click)="deleteCertificatesItem()">
            close
        </span>
    </div>
</div>