@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.experience-header {
    .title {
        @include text(20px, 24px, #589cfe, EncodeSans-SemiBold);
    }

    .text {
        @include text(16px, 22px, #45535c, MicrosoftYaHeiUI);
        margin: 15px 0;
    }
    .education-title {
        margin: 38px 0 17px 0;
        @include text(20px, 24px, #589cfe, EncodeSans-SemiBold);
    }

    .date {
        @include text(17px, 20px, #bacbdb, EncodeSans-SemiBold);
    }

    .name {
        @include text(20px, 22px, #45535c, EncodeSans-SemiBold);
        margin-top: 15px;
    }
}

.education {
    .hat-icon {
        color: #bacbdb;
        font-size: 30px;
    }
    .education-description-container {
        width: 80%;
        .education-description {
            margin: 20px 0;
            text-align: start;

            &::after {
                width: 100%;
                display: inline-block;
                content: "";
                border: 1px solid #bbcddf;
            }

            .name {
                @include text(16px, 22px, #c6d5e4, MicrosoftYaHeiUI);
            }

            .example {
                @include text(18px, 22px, #c2d2e2, MicrosoftYaHeiUI-Bold);
                border: none !important;
            }
        }
    }

    .close {
        .close-icon {
            cursor: pointer;
            color: #c2d2e2;
            font-size: 20px;
        }
    }

    .link-form {
        padding: 0 1.2em;

        .lable {
            @include text(17px, 18px, #bbcddf, EncodeSans-SemiBold);
        }

        .form-group-link {
            margin: 15px 0;
            background: #ffffff 0% 0% no-repeat padding-box;
            border: 0.5px solid #cfcfe9;
            border-radius: 26px;
            opacity: 1;
            height: none !important;
            padding: 15px 15px !important;
            @include text(17px, 18px, #45535c, MicrosoftYaHeiUI !important);
            font-weight: 500 !important;

            &::placeholder {
                @include text(17px, 18px, #bbcddf, MicrosoftYaHeiUI !important);
            }
        }
    }

    .add-btn {
        flex-direction: column;
        cursor: pointer;
        background: #ffffff;
        border: none;
        &::before {
            display: block;
            content: "";
            border: 1px solid #e3ecfd;
            width: 100%;
        }

        .btn-text {
            padding: 15px 0;
            @include text(18px, 21px, #bbcddf, EncodeSans-SemiBold);
        }
    }
}
