<div class="experience-header" *ngIf="!profileExperience">
    <p class="title experience-title">Experience</p>
    <div>
        <p class="date">2018-2020</p>
        <p class="name">Gold Gym Erevan</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit recusandae temporibus
            molestiae. Nemo, magni unde expedita veritatis quia possimus odio odit vitae, animi dicta nostrum? Tempora
            fugiat fuga sequi reiciendis.</p>
    </div>
</div>

<div class="education" *ngIf="profileExperience">
        <div class="education-content">
            <div class="education-item d-flex justify-content-between">
                <span class="material-icons hat-icon">
                        work
                </span>
                <div  class="education-description-container">
                <div class="education-description">
                        <p class="name">Insitute Nmae</p>
                        <input  class="example w-100" placeholder="" value="For example:Fitnes Trainer Marathone Fit Academy"> 
                    </div>
    
                    <div class="education-description">
                        <p class="name">Specialisiation</p>
                        <input  class="example w-100" placeholder="" value="For example:Fitnes Trainer"> 
                    </div>
                </div>
                <div class="close">
                    <span class="material-icons close-icon">
                        close
                    </span>
                </div>
    
            </div>
                    <div class="display-flex w-100">
                        <div class="link-form w-50">
                            <label class="lable">Starting Year</label>
                                <mat-select class="form-group-link w-100" >
                                        <mat-option>Year</mat-option>
                                        <mat-option  [value]="1">2015</mat-option>
                                        <mat-option  [value]="1">2015</mat-option>
                                        <mat-option  [value]="1">2015</mat-option>
                                      </mat-select>
                        </div>
                        <div class="link-form w-50">
                            <label class="lable">Ending Year</label>
                            <mat-select class="form-group-link w-100" >
                                    <mat-option>Year</mat-option>
                                    <mat-option  [value]="1">2015</mat-option>
                                    <mat-option  [value]="1">2015</mat-option>
                                    <mat-option  [value]="1">2015</mat-option>
                                  </mat-select>
                        </div>
                    </div>
        </div>
    </div>