<div class="feed-item">
    <div class="feed-item-header d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <img src="assets/images/user.png" class="user-image" alt="Cinque Terre">
            <p class="name ml-2 mr-2">Maya Crouche</p>
            <p class="time">1 hour ago</p>
        </div>
        <span class="material-icons icon">
            more_vert
        </span>
    </div>
    <div class="feed-item-main">
        <div class="feed-item-main-content">
            <div class="d-flex justify-content-between">
                <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    expedita vero</p>
                <span class="material-icons  icon">
                    turned_in_not
                </span>

            </div>

            <div class="buttons-content d-flex justify-content-between align-items-center">
                <p class="text">By Maya Crouch</p>
                <button type="button" class="btn round btn-heathly">Heathly Food</button>
                <button type="button" class="btn round btn-lose">Weigh Lose</button>
                <button type="button" class="btn  round btn-free">Clutes Free</button>
            </div>
        </div>
        <div class="image-container">
            <img src="assets/images/food.png" class="food-image" alt="Cinque Terre">
            <div class="comments  d-flex position-absolute">
                <div class="comments-description">
                        <p class="text">Coloris</p>
                        <p class="title">400 kcal</p>
                </div>
                <div class="comments-description">
                        <p class="text">Protein</p>
                        <p class="title">10.5 gm</p>
                </div>
                <div class="comments-description">
                        <p class="text">Fat</p>
                        <p class="title">8.4 gm</p>
                </div>
                <div class="comments-description">
                        <p class="text">Carbs</p>
                        <p class="title">3.8 gm</p>
                </div>
                <div class="comments-description">
                        <p class="text">Time</p>
                        <p class="title">25 min</p>
                </div>
            </div>
        </div>
    
        <div class="feed-statistic  d-flex align-items-center flex-column">
            <div class="m-auto  d-flex">
                <p class="text">60 Energy</p>
                <p class="text">13 Reposts</p>
                <p class="text">29 Comments</p>
            </div>
            <div class="setting-content d-flex">
                <p class="title"><span class="material-icons icon mr-2">
                        settings
                </span>Share</p>
                <p class="title">Give<span class="material-icons icon mr-2 ml-2">
                        settings
                    </span>Energy</p>
                <p class="title"><span class="material-icons icon mr-2">
                        sms
                    </span>29 Comments</p>
            </div>

        </div>
    </div>
</div>