.main-content {
    .main-container {
        width: 100%;
        max-width: 1200px;
        margin: 110px auto;

        .left-content {
            width: 100%;
            max-width: 250px;
        }

        .router-outlet {
            width: 100%;
            max-width: 600px;
        }

        .right-content {
            width: 100%;
            max-width: 300px;
        }
    }
}

.maxWidth {
    max-width: 180px !important;
}

.fixed {
    position: fixed !important;
}