.main-content {
    .main-container {
        width: 100%;
        max-width: 1200px;
        // margin: 110px auto;
        margin: 110px auto 0 auto;

        .left-content {
            width: 100%;
            max-width: 250px;
        }

        .router-outlet {
            width: 100%;
            max-width: 650px;
            padding: 0 25px;
        }

        .right-content {
            width: 100%;
            max-width: 300px;
        }
    }
}

// .maxLength {
//     max-width: 200px !important;
// }

.router {
 margin-top: -28px !important;
}