<div class="settings">
    <button (click)="onClickOpenComments()" class="setting-item-btn" [ngClass]="{'class-type':type}">
        <img src="assets/icons/Comment.svg" alt="" class="settings-icon">
        <span class="title">Comments {{feed?.feed_comments_count}}</span>
    </button>
    <button [disabled]="feed?.is_liked" (click)="clickOnButton('like')" class="setting-item-btn" [ngClass]="{'class-type':type}">
        <img src="assets/icons/Energy.svg" alt="" class="settings-icon">
        <span class="title"> Energy {{feed?.feed_likes_count}}</span>
    </button>
    <button (click)="clickOnButton('reposts')" class="setting-item-btn" [ngClass]="{'class-type':type}">
        <img src="assets/icons/Repost.svg" alt="" class="settings-icon">
        <span class="title">Reposts </span>
    </button>
</div>