@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.settings {
    height: 60px;
    display: flex;
     align-items: center;
    padding:0px 37px 0px 37px;


    .setting-item-btn {
        border: none;
        background: none;
        cursor: pointer;
        @include text(15px, 15px, #45535c, EncodeSans-SemiBold);
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 170px;
         height: 45px;
        //  margin:15px 0 19px 0;
        &:last-child {
            border-right: none !important;
        }

        .cooment-icon {
            width: 20px;
        }

        .energy-icon {
            width: 16px;
        }

        .repost-icon {
            width: 22px;
        }

        .title {
            margin-left: 9px;
        }

        .count {
            color: #9DB3C9;
            margin-left: 9px;

            &:hover {
                color: #45535C;

                .share-item {
                    display: block !important;
                }
            }
        }

        &:hover {
            background: #F4F6FB 0% 0% no-repeat padding-box;
            border-radius: 22px;
            opacity: 1;
            border: none;
            cursor: pointer;
            @include text(15px, 15px, #45535c, EncodeSans-SemiBold);
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            width: 170px;
             height: 45px;
            //  margin:15px 0 19px 0;

        }
    }
}

.liked {
    color: #65a4fe !important
}

.energy-count {
    opacity: 0.6;
}

.energy-count:hover {
    opacity: 1 !important;
}

.class-type {
    border: none !important;
    font-size: 12px !important;
    margin: 0 !important;


}

.activeShare {
    color: #45535C !important;
}

.share-item {
    z-index: 999;
    position: absolute;
    width: 250px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -9.56px -2.92px 54px #5C687B38;
    border: 0.5px solid #E3ECFD;
    border-radius: 10px;
    display: none;

    &:hover {
        display: block !important;
    }

    .share-content {
        padding: 10px 0;
        height: 200px;
        overflow: auto;
    }

    .btn-view {
        cursor: pointer;
        padding: 15px;
        align-items: center;
        text-align: center;
        @include text(14px, 16px, #9DB3C9, EncodeSans-Medium);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 0.5px solid #E3ECFD;
        border-radius: 0 0 10px 10px;
    }
}


.count{
    margin-left: 9px;
}
.share-item :hover {
    display: block !important;
}

.comment-btn {
    padding: 12px 15px 12px 15px;
}

.like-btn {
    padding: 11px 27px 13px 25px;
}

.energy-btn {
    padding: 10px 22px 15px 20px;
}



.count-comment {
    color: #9DB3C9;
    margin-left: 9px;
}

.count-like {
    color: #9DB3C9;
    margin-left: 9px;
}

.type-color {
    color: #65a4fe !important;
}

.galleryStyle {
    margin: 10px 0px !important;
    padding:  0 !important;
}

.settingbtn{
    padding: 9px !important;
}

.comment-class-type{
    @include text(15px, 15px, #65a4fe, EncodeSans-SemiBold);
    margin-left: 9px;
}
// .buttonStype {
//     padding: 12px 8px 12px 8px !important;
// }

// .opacity{
//     display: none !important;
// }