<div class="settings">
    <button (click)="onClickOpenComments()" class="setting-item-btn" [ngClass]="{'class-type':type}">
        <img src="assets/icons/Comment.svg" alt="" class="cooment-icon">
        <span class="title">Comments {{feed?.feed_comments_count}}</span>
    </button>
    <button [disabled]="feed?.is_liked" (click)="clickOnButton('like')" class="setting-item-btn" [ngClass]="{'class-type':type}">
        <img src="assets/icons/Energy.svg" alt="" class="energy-icon">
        <span class="title"> Energy {{feed?.feed_likes_count}}</span>
    </button>
    <button (click)="clickOnButton('reposts')" class="setting-item-btn" [ngClass]="{'class-type':type}">
        <img src="assets/icons/Repost.svg" alt="" class="repost-icon">
        <span class="title">Share </span>
        <span class="count" [ngClass]="{'activeShare':share}">220</span>
    </button>
</div>

<div class="share-item" *ngIf="share">
    <div class="share-content">
            <app-share-item></app-share-item>
            <app-share-item></app-share-item>
            <app-share-item></app-share-item>
            <app-share-item></app-share-item>
            <app-share-item></app-share-item>
            <app-share-item></app-share-item>
            <app-share-item></app-share-item>
            <app-share-item></app-share-item>
            <app-share-item></app-share-item>
            <app-share-item></app-share-item>
            <app-share-item></app-share-item>
            <app-share-item></app-share-item>
    </div>
    <button class="btn-view w-100"><span>View all</span></button>
</div>