@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.settings {
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 25px;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    .setting-item-btn {
        border: none;
        background: none;
        cursor: pointer;
          //padding: 10px 21px 14px 28px;
        @include text(16px, 20px, #45535c, EncodeSans-SemiBold);
        display: flex;
        align-items: center;
        text-align: center;
        height: 45px;

        &:last-child {
            border-right: none !important;
        }

        .cooment-icon {
            width: 20px;
        }

        .energy-icon {
            width: 16px;
        }

        .repost-icon {
            width: 22px;
        }

        .title {
            margin-left: 16px;
        }

        .count {
            color: #9DB3C9;
            margin-left: 9px;

            &:hover {
                color: #45535C;
                .share-item{
                    display: block !important;
                    }
            }
        }

        &:hover {
            background: #F4F6FB 0% 0% no-repeat padding-box;
            border-radius: 22px;
            opacity: 1;
           
        }
    }
}

.liked{
    color: #65a4fe !important
}
.energy-count{
    opacity: 0.6;
}
.energy-count:hover{
    opacity: 1 !important;
}
.class-type {
    border: none !important;
    font-size: 9px !important;
    margin: 0 !important;


}

.activeShare {
    color: #45535C !important;
}

.share-item {
    z-index: 999;
    position: absolute;
    width: 250px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -9.56px -2.92px 54px #5C687B38;
    border: 0.5px solid #E3ECFD;
    border-radius: 10px;
    display: none;
    &:hover{
        display: block !important;
    }

    .share-content {
        padding: 10px 0;
        height: 200px;
        overflow: auto;
    }

    .btn-view {
        cursor: pointer;
        padding: 15px;
        align-items: center;
        text-align: center;
        @include text(14px, 16px, #9DB3C9, EncodeSans-Medium);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 0.5px solid #E3ECFD;
        border-radius: 0 0 10px 10px;
    }
}



.share-item :hover{
        display: block !important;
    }

    .comment-btn{
        padding: 12px 15px 12px 15px;
    }
    .like-btn{
        padding: 11px 22px 13px 25px;   
    }

    .energy-btn{
        padding: 10px 22px 15px 20px;
    }

 
 
    .count-comment{
        color: #9DB3C9;
        margin-left: 9px; 
    }
    .count-like{
        color: #9DB3C9;
        margin-left: 9px; 
    }

    .type-color {
        color: #65a4fe !important;
    }

    .galleryStyle{
        margin: 10px 0px !important;
    }

    .style{
        font-size: 12px !important;
        padding: 12px 0px 12px 5px !important;
    }

    .buttonStype{
        padding: 12px 2px 12px 2px !important;  
    }