@mixin text($fontSize, $lineHeight, $color) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}

.speciality-content {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0.7px 10px 40px #5C687B4A;
    border: 0.5px solid #E3ECFD;
    border-radius: 30px;
    opacity: 1;

    .speciality-container {
        padding: 29px 32px 18px 30px;
        .header-content {
            justify-content: space-between;

            .title {
                font-family: EncodeSans-SemiBold;
                @include text(18px,21px,#45535c);
            }

            .icon {
                cursor: pointer;
                color: #9db3c9;
                opacity: 1;
                font-size: 25px;

            }
        }

        .speciality-item-content {
            padding: 40px 0 25px 0;
        }
        .blue-btn{
            width: 135px;
            justify-content: center;
            padding: 10px 0;
        }
    }
}

::ng-deep .mat-chip {
    margin: 13px 4px !important;
     border: 1px solid #589cfe !important;
    background: #ffff !important;
    color: #589cfe !important;
    //  height: 35px !important;
     border-radius: 20px !important;
     padding: 20px 22px !important;
     font-family: EncodeSans-SemiBold !important;
     @include text(14px,17px,#589cfe);
  

    &:hover {
        background: #589cfe !important;
        color: #ffffff !important;
        
    }
   
}

.background-color {
    background: #589CFE 0% 0% no-repeat padding-box !important;
    box-shadow: -4.36px 8px 6px #589BFD24 !important;
    color: #ffff !important;
}

//host
::ng-deep {
    .mat-dialog-container {
        padding: 0;
        box-shadow:none !important;
     background: none !important;
    }
}

::ng-deep .mat-chip.mat-standard-chip::after{
    background: none !important;
}