<div class="recipe">
    <div class="recipe-header">
        <div class="header-content display-flex">
            <div class="created">
                <span class="material-icons info">
                    info
                </span>
            </div>
            <div class="display-flex">
                <p class="text">Save Draft</p>
                <div class="btn-content d-flex align-items-center">
                    <button class="btn follow-btn" routerLink="/information"
                        routerLinkActive="activeIngridientTab">Preview</button>
                    <button class="btn follow-btn" routerLink="/recipe"
                        routerLinkActive="activeIngridientTab">Publish</button>
                    <button class="btn btn-loader">
                        <span class="material-icons icon">
                            more_horiz
                        </span>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="recipe-layout">
        <div class="recipe-layout-hrader">
            <div class="localimage-content" *ngIf="showImage">
                <div>
                    <ngx-slick-carousel class="carousel w-100" #slickModal="slick-carousel" [config]="slideConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                            <img src="{{ slide.img }}" alt="" width="100%" class="image">
                        </div>
                    </ngx-slick-carousel>


                </div>

                <div class="add-ingridiet-image-content d-flex">
                    <app-add-recipe-image *ngFor="let item of slides"  [recipeImageItem]="item"></app-add-recipe-image>
                    <div class="add-image d-flex" (click)="onClickOpenIngridientModal()">
                        <span class="material-icons add-icon m-auto">
                            add
                        </span>
                    </div>
                </div>
            </div>

            <div class="broves-file" *ngIf="!showImage">
                <div class="m-auto">
                    <div class="d-flex w-50 m-auto">
                        <img src="assets/icons/recipe.png" class="recipe-image" alt="Cinque Terre">
                        <img src="assets/icons/recipe.png" class="recipe-image" alt="Cinque Terre">
                    </div>
                    <p class="title">Set Recipe cover and cookig video</p>
                    <input class="" type="file" id="file" name="avatar" (change)="setServicePhoto($event)">
                    <label class="btn follow-btn label-btn d-flex" for="file"> Broves Files <span
                            class="material-icons ml-2">
                            save_alt
                        </span></label>


                    <p class="img-version">jpg/png/mp4</p>
                    <div class="m-auto">
                        <button class="update-video-btn">
                            <span class="material-icons mr-2">
                                slideshow
                            </span>Insert Youtube Link </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="forms-group">
            <div class="form-group">
                <label>Recipe Title</label>
                <input type="text" class="form-input w-100" placeholder="Type Title">
            </div>
            <div class="form-group pt-15 pl-0 pr-0 pb-0">
                <label>Ingridient</label>
                <div class="form-group  d-flex">
                    <input type="text" class="form-input w-100" placeholder="Search Ingridient">
                    <span class="material-icons search-icon">
                        search
                    </span>
                </div>
                <app-ingridient-item *ngFor="let item of ingridientItem"></app-ingridient-item>

                <button class="add-btn d-flex w-100 " (click)="addIngridientItem()"><span class="m-auto btn-text">Add
                        Ingridient</span></button>
            </div>
            <div class="form-group ingridient-group pt-15 pl-0 pr-0 pb-0">
                <label>Ingridient</label>
                <div class="ingridient-header display-flex">
                    <p class="title">Apple</p>
                    <span class="material-icons close">
                        close
                    </span>
                </div>
                <div class="ingridient-item-content">
                    <app-ingridient-item [titleItem]="true"></app-ingridient-item>
                    <app-ingridient-item [titleItem]="true"></app-ingridient-item>
                    <app-ingridient-item [titleItem]="true"></app-ingridient-item>
                    <app-ingridient-item [titleItem]="true"></app-ingridient-item>
                    <app-ingridient-item [titleItem]="true"></app-ingridient-item>
                    <app-ingridient-item [titleItem]="true"></app-ingridient-item>
                </div>

            </div>


            <div class="form-group">
                <label>Caloris</label>
                <div class="checked  m-auto">
                    <input type="radio" class="radio" id="Auto Calcualted" name="form" value="Auto Calcualted">
                    <label for="male" class="label">Auto Calcualted</label>
                    <input type="radio" class="radio" id="Edit Manually" name="form" value="Edit Manually">
                    <label for="female" class="label">Edit Manually</label>
                </div>

                <div class="form-group display-flex p-0">
                    <div class="caloris-content d-flex">
                        <span class="material-icons">
                            whatshot
                        </span>
                        <input type="text" class="form-input w-100" placeholder="Calories">
                    </div>
                    <div class="kcal-content">
                        <input type="text" class="form-input w-100" placeholder="Kcal">
                    </div>
                    <div class="macronutrients-content w-100">
                        <p class="title w-100">Macronutrients</p>
                        <mat-slide-toggle></mat-slide-toggle>
                    </div>

                </div>

                <div>
                    <div class="lable-content">
                        <label class="lable">Carbs</label>
                        <label class="lable">Protein</label>
                        <label class="lable">Fat</label>
                    </div>

                    <div class="form-group display-flex p-0 mt-20">
                        <div class="caloris-content d-flex">
                            <input type="text" class="form-input w-100" placeholder="0">
                        </div>
                        <div class="kcal-content">
                            <input type="text" class="form-input w-100" placeholder="0">
                        </div>
                        <div class="macronutrients-content">
                            <input type="text" class="form-input w-100" placeholder="0">

                        </div>

                    </div>
                    <div class="checked gram-checked w-50">
                        <input type="radio" class="radio" id="Gram" name="form" value="Gram">
                        <label for="male" class="label">Gram</label>
                        <input type="radio" class="radio" id="Percentage" name="form" value="Percentage">
                        <label for="female" class="label">Percentage</label>
                    </div>

                </div>

            </div>
            <div class="form-group display-flex p-0 ">
                <label>Serving</label>
                <div class="caloris-content d-flex w-100 align-items-center">
                    <span class="material-icons">
                        room_service
                    </span>
                    <p class="title ml-2">Set serving size</p>
                </div>
                <div class="macronutrients-content">
                    <input type="text" class="form-input w-100" placeholder="1">
                </div>

            </div>

            <div class="form-group display-flex p-0 ">
                <label>Cooking time</label>
                <div class="caloris-content d-flex w-100 align-items-center">
                    <span class="material-icons">
                        query_builder
                    </span>
                    <p class="title ml-2">Set time</p>
                </div>
                <div class="macronutrients-content display-flex align-items-center">
                    <input type="text" class="form-input w-100" placeholder="1">
                    <!-- <p class="title ml-2">min</p>  -->
                </div>

            </div>
            <div class="form-group pt-15 pl-0 pr-0 pb-0">
                <label>Preparation Steps</label>
                <app-preparation-step *ngFor="let item of preparationStepItem;let ind=index" [index]="ind+1">
                </app-preparation-step>
                <button class="add-btn d-flex w-100"><span class="m-auto btn-text" (click)="addPreparationStep()">Add
                        Step</span></button>
            </div>
            <div class="form-group">
                <label>Information</label>
                <textarea type="text" class="form-input w-100 information-input"
                    placeholder="Type Recipe info here"></textarea>

            </div>

            <div class="form-group">
                <label>Tags</label>
                <div class="d-flex justify-content-end">
                    <div class="tags w-100 d-flex">
                            <div class="tags-item display-flex" *ngFor="let item of tagsItem;let ind=index">
                                <div class="d-flex">
                                    <img class="tag-image" src="/assets/images/flags/germ.png">
                                    <p class="title ml-2">FastCooking</p>
                                </div>

                                <span class="material-icons close" (click)="removeTegsItem(ind)">
                                    close
                                </span>
                            </div>
                    
                    </div>
                    <span class="material-icons tags-icon">
                        add_circle
                    </span>
                </div>
                <button class="add-btn d-flex w-100" (click)="addTag()"><span class="m-auto btn-text">Add Tag</span></button>
            </div>

        </div>
    </div>
</div>