<header>
    <div class="header-container pg-container">
        <div class="header-content display-flex">
            <img class="logo" src="assets/images/logo/marathon-logo.png">
            <div class="serch-content">
                    <input type="tex" class="search-input" placeholder="Search">
                    <span class="material-icons search-icon">
                        search
                    </span>
                </div>
            <div class="header-category d-flex">
                <li *ngFor="let item of menuItem" routerLinkActive="li-activeTab"><a class="link"
                        [routerLink]="item.routerLink" routerLinkActive="activeTab">{{item?.title}}</a></li>
            </div>
            <!-- <div class="dashboard-search d-flex" *ngIf="!showUserData">
                <span class="material-icons search-icon m-auto">
                    search
                </span>
            </div> -->

            <div class="button-item display-flex" *ngIf="!showUserData">
                <div class="btn-item info-btn  w-50 mr-3" (click)="onClickOpenAuth()">
                    <span class="m-auto">Log In</span>
                </div>
                <div class="form-input btn-item blue-btn w-50" (click)="onClickOpenAuth()">
                    <span class="m-auto">Sign up</span></div>
            </div>
<div class="icon-item d-block" *ngIf="showUserData">
        <img src="assets/icons/Notification.svg" class="icon" alt="">
        <img src="assets/icons/coments.svg" class="icon" alt="">
  
</div>
            <div class="profile-content" *ngIf="showUserData" (clickOutside)="onClickedOutside($event)">
                  
                <div class="profile-container display-flex">
                    <img [src]="localImage" class="proflle-image" alt="">
                    <span class="material-icons" (click)="showProfile()">
                        arrow_drop_down
                    </span>
                </div>
                <div class="profile-menu" *ngIf="showPfofileMenu">
                    <div class="trigne"></div>
                    <div class="profile-menu-item">
                        <div class="w-50 m-auto">
                            <p class="menu-item-title">Language</p>
                        </div>
                    </div>
                    <div class="profile-menu-item">
                        <div class="w-50 m-auto">
                            <p class="menu-item-title">Change Password</p>
                        </div>

                    </div>
                    <div class="profile-menu-item">
                        <div class="w-50 m-auto">
                            <p class="menu-item-title">Settings</p>
                        </div>
                    </div>
                    <div class="profile-menu-item">
                        <div class="w-50 m-auto">
                            <p class="menu-item-title">Privact</p>
                        </div>
                    </div>
                    <div class="profile-menu-item">
                        <div class="w-50 m-auto">
                            <p class="menu-item-title">Help Center</p>
                        </div>
                    </div>
                    <div class="profile-menu-item" (click)="logOut()">
                        <div class="w-50 m-auto">
                            <p class="menu-item-title">Log Out</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="header-manu d-none">
            <span class="material-icons  open-icon">
                view_headline
            </span>
        </div>
    </div>
</header>