@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.home-container {
    .home-main {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 2px 30px 43px #5C687B17;
        border: 0.5px solid #E3ECFD;
        border-radius: 0px 0px 15px 15px;
        opacity: 1;

        .profile-description {
            position: relative;

            .cover-image {
                height: 185px;
                width: 100%;
                background: #527AB2;
            }

            .profile-content {
                // padding: 0 20px;

                .profile-header-content {
                    padding: 0 20px;
                    .profile-image {
                        margin-top: -80px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .user-image {
                            width: 147px;
                            height: 147px;
                            border-radius: 50%;
                            background: #FEA6CC;
                            border: 2px solid #ffff;
                        }

                        .coach-btn {
                            border: 2px solid #FFFFFF;
                            border-radius: 16px;
                            opacity: 1;
                            background: #589CFE;
                            padding: 3px 20px;
                            color: #ffff;
                            margin-top: -25px;
                        }
                    }

                    .btn-loader {
                        padding: 8px !important;
                        border-radius: 50% !important;

                        .icon {
                            font-size: 16px;
                        }
                    }

                    .follow-btn,
                    .btn-loader {
                        background: #FFFFFF 0% 0% no-repeat padding-box !important;
                        border: 1px solid #589CFE;
                        border-radius: 18px;
                        opacity: 1;
                        color: #589CFE !important;
                        margin-left: 10px !important;
                        padding: 7px 18px;
                    }
                }

                .social-media {
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    box-shadow: 2px 30px 43px #5C687B36;
                    border: 0.5px solid #E3ECFD;
                    opacity: 1;
                    position: absolute;
                    border-radius: 10px;
                    right: 50px;

                    .social-media-description {
                        display: flex;
                        flex-direction: column;
                        padding: 20px;

                        .social-image {
                            width: 26px;
                            height: 26px;
                            margin-top: 20px;
                            cursor: pointer;
                        }
                    }
                }

                .more-content {
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    box-shadow: 2px 30px 43px #5C687B36;
                    border: 1px solid #E3ECFD;
                    opacity: 1;
                    width: 190px;
                    position: absolute;
                    border-radius: 10px;
                    right: 0;

                    .more-description {
                        align-items: center;
                        text-align: center;
                        display: flex;
                        flex-direction: column;

                        .more-item {
                            @include text(16px, 19px, #45535C, EncodeSans-Medium);
                            padding: 15px 0;
                            font-weight: 600;

                            &:hover {
                                background: #F7F7FC 0% 0% no-repeat padding-box !important;
                                opacity: 1;
                            }
                        }
                    }
                }

                .main-layout {
                    // margin: 30px 0;
                }

            }
        }
    }
}