<div class="ingridient-item  w-100" *ngIf="!titleItem">
    <div class="form-group  d-flex">
        <div class="input-content">
            <input class="form-input" placeholder="Ingridient Name">
        </div>
        <div class="value-content d-flex">
            <input class="value-input w-100" placeholder="Value">
            <span class="material-icons add-icon">
                add
            </span>
        </div>

    </div>

</div>

<div class="add-ingridient" *ngIf="titleItem">
    <div class="add-ingridient-item display-flex">
        <div class="d-flex">
            <p class="title">Apple</p>
            <p class="kcal ml-3">100g /54 kcal</p>
        </div>
        <div  class="d-flex align-items-center">
            <p class="text">USDA</p>
            <button class="btn follow-btn">Add</button>
        </div>

    </div>
</div>