@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.ingridient-item {
    .form-group {
        padding: 0 !important;
    }

    .input-content {
        border-right: 1px solid #E3ECFD;
        padding: 15px 0;
        width: 500px;
    }

    .value-content {
        width: 350px;
        padding: 0 25px;

        .value-input {
            border: none;
            background: none !important;
            @include text(17px, 18px, #becde8, MicrosoftYaHeiUI);

            &::placeholder {
                @include text(17px, 18px, #becde8, MicrosoftYaHeiUI);

            }
        }

        .add-icon {
            cursor: pointer;
            color: #C2D2E2;
            font-weight: bold;
            font-size: 30px;
        }
    }
}

.form-input {
    color: #45535C !important;
    font-weight: bold !important;

}

.add-ingridient {
    border-top: 1px solid #E3ECFD;
    .add-ingridient-item {
        padding: 15px 40px;

        .title {
            @include text(16px, 22px, #45535C, MicrosoftYaHeiUI);
        }

        .kcal {
            @include text(14px, 22px, #45535C, MicrosoftYaHeiUILight);
        }

        .text {
            @include text(14px, 16px, #BBCDDF, EncodeSans-SemiBold);
        }

        .follow-btn {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #589CFE;
            border-radius: 18px;
            opacity: 1;
            color: #589CFE;
            padding: 5px 20px;
        }
    }
}

.add-ingridient {
    &::first-child{
        border-top: none !important;
    }
}