<div class="ingridient-modal">
    <div class="ingridient-modal-header d-flex">
        <span class="material-icons clear-icon" (click)="closeModal()">
            clear
        </span>
    </div>
    <div class="ingridient-main d-flex m-auto">
        <div class="slider-content w-100">
            <ngx-slick-carousel class="carousel w-100" #slickModal="slick-carousel" [config]="slideConfig"
                (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">
                <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                    <img src="{{ slide.img }}" alt="" width="100%" height="100%">
                </div>
            </ngx-slick-carousel>
        </div>
        <div class="add-ingridiet-image-content d-flex">
            <app-add-recipe-image *ngFor="let item of slides" [recipeImageItem]="item"></app-add-recipe-image>
            <div class="add-image d-flex">
                <input class="" type="file" id="file" name="avatar" (change)="setServicePhoto($event)">
                <label class="d-flex m-auto" for="file"><span class="material-icons add-icon  m-auto">
                        add
                    </span></label>
            </div>
        </div>
        <div class="ingridient-modal-footer">
            <div class="footer-description display-flex">
                <p class="title">Chicken fajita drumsticks with Mexican salad</p>
                <div class="d-flex align-items-center">
                    <span class="material-icons star-icon">
                        grade
                    </span>
                    <p class="title ml-2">4.9 120 rates</p>
                    <i class="fa fa-share icon" aria-hidden="true"></i>
                    <i class="fa fa-facebook icon" aria-hidden="true"></i>
                    <i class="fa fa-twitter icon" aria-hidden="true"></i>
                    <i class="fa fa-bookmark icon" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

</div>