<div class="forgot-main">
    <div class="logo d-flex m-auto" *ngIf="!token && !message">
        <img class="logo" src="assets/images/logo/marathon-logo.png">
    </div>
    <div class="main-header display-flex" *ngIf="!token && !message">
        <p class="title">Forgot Password</p>
        <p class="text" (click)="onChangeAuthMain(tab)">Sign In</p>
    </div>

    <form [formGroup]="changePasswordGroup">
        <div class="password-form">
            <div class="form-group" *ngIf="!token && !message">
                <label [ngClass]="{'activeTab':chackIsValid('email')}">Email</label>
                <input type="text" required='' placeholder="Email" class="form-input w-100" formControlName="email">
            </div>
            <div class="form-group" *ngIf="token">
                <label [ngClass]="{'activeTab':chackIsValid('password')}">Password</label>
                <div class="d-flex align-items-center">
                    <input [type]="show ? 'text' : 'password'" placeholder="Password" required=''
                        class="form-input w-100" formControlName="password">
                    <span class="material-icons form-icon password-icon" *ngIf="hidePassword"
                        (click)="showPasswordValue()">
                        visibility
                    </span>
                    <span class="material-icons form-icon password-icon" *ngIf="show" (click)="hide()">
                        visibility_off
                    </span>
                </div>
            </div> 
             <div class="form-group" *ngIf="token">
                <label [ngClass]="{'activeTab':chackIsValid('repeatPassword')}">Confirm Password</label>
                <div class="d-flex align-items-center">
                    <input [type]="showRepeatPassword ? 'text' : 'password'" placeholder="Pepeat Password" required=''
                        class="form-input w-100" formControlName="repeatPassword">
                    <span class="material-icons form-icon password-icon" *ngIf="hiderepPassword"
                        (click)="showRepeatPasswordValue()">
                        visibility
                    </span>
                    <span class="material-icons form-icon password-icon" *ngIf="showRepeatPassword" (click)="hideRepeatPassword()">
                        visibility_off
                    </span>
                </div>
            </div>
            <div class="btn-content d-flex">
                <button *ngIf="!token && !message" class="btn signUp-btn m-auto" [ngClass]="{'active-btn':changePasswordGroup.valid}"
                    (click)="sendEmail()"><span>Started</span>
                    <app-loading *ngIf="loading" class="ml-2"></app-loading>
                </button>
                <button *ngIf="token" class="btn signUp-btn m-auto" [ngClass]="{'active-btn':changePasswordGroup.valid}"
                    (click)="onClickSavePassword()"><span>Save</span>
                    <app-loading *ngIf="loading" class="ml-2"></app-loading>
                </button>
            </div>
        </div>

    </form>
    <p class="message" *ngIf="message">Check your Email please</p>
</div>