@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.forgot-main {
    margin: 60px auto;
    .logo {
        width: 195px;
        margin: 15px auto;
    }
    .title {
        @include text(22px, 30px, #5897F6, EncodeSans-Bold);
    }

    .main-header {
        margin-top: 10px;

        .title {
            @include text(16px, 19px, #45535C, EncodeSans-SemiBold);
        }

        .text {
            @include text(14px, 16px, #5897F6, EncodeSans-SemiBold);
            cursor: pointer;
        }

    }

    .password-form {
        margin-top: 30px;

        .checkbox {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #bbcddf;
            opacity: 1;
            width: 23px;
            height: 23px;
            border-radius: 50% !important;
        }

        .form-group {
            text-align: start !important;
            border: 1px solid #E3ECFD !important;

            margin: 20px 0px !important;

            .form-input {
                color: #45535C !important;
            }

            &::placeholder {
                color: #CFCFE9 !important;
            }
        }

        .checkbox-lable {
            @include text(16px, 16px, #bbcddf, EncodeSans-SemiBold);
            margin-left: 15px;

        }

            .btn-content {
                margin-top: 25px;
    
                .signUp-btn {
                    padding: 0px 40px;
                    @include text(16px, 20px, #5897F6, EncodeSans-Bold);
                    cursor: pointer;
                    border: 1px solid #6CA7FE;
                    border-radius: 23px;
                    opacity: 1;
                    height: 45px;
                }
            }

    }
}

.signUp-btn:hover{
    background: #589CFE;
    border: 1px solid #589CFE;
    color: #ffffff !important;
    align-items: center;
}

.activeTab {
    color: #E3ECFD !important;
}

.form-group>label {
    position: absolute;
    top: -11px;
    left: 25px;
    background-color: white;

    @include text(16px, 19px, #6CA7FE, EncodeSans-Medium);
}

.active-btn {
    padding: 10px 40px !important;

    &:hover {
        box-shadow: -5.29px 7px 10px #589bfd36;
    }
}

.password-icon {
    cursor: pointer;
}


.message{
    @include text(20px, 19px, #6CA7FE, EncodeSans-Medium);
    text-align: center;
}

.forgot{
    margin: 170px auto !important;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: none !important;
  transition: background-color 5000s ease-in-out 0s;
}