@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.review-item {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 30px 43px #5C687B17;
    border: 0.5px solid #E3ECFD;
    border-radius: 24px;
    opacity: 1;
    margin: 10px auto;

    .review-item-description {
        padding: 28px 35px 14px 28px;

        .review-user-image {
            width: 42px;
            height: 43px;
            border-radius: 50%;
        }

        .name-title {
            @include text(16px, 23px, #45535C, BarlowCondensed-Regular !important);
            font-weight: 500;
        }

        .title-description {
            margin-left: 55px;

            .title {
                @include text(16px, 25px, #45535C, BarlowCondensed-Light);
                width: 100%;
                max-width: 375px;
            }

            .date {
                @include text(14px, 25px, #BEC8DD, BarlowCondensed-Regular);

            }
        }

        .review-text {
            @include text(18px, 25px, #45535C, BarlowCondensed-Regular !important);
            font-weight: 500 !important;
        }
    }
}