<div class="review-container">
    <div class="review-content display-flex">
        <div class="review-items">
            <div class="review-item-header d-flex">
                <img src="assets/images/img8.png" class="review-user-image" alt="Cinque Terre">
                <div class="review-description">
                    <p class="name-title">Shwain Mendes</p>
                    <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, qui possimus!</p>
                </div>

                     
                    <div class="review d-flex">
                           <!-- <p class="title">4.5</p> -->
                        <div class="review-item" *ngFor="let item of reviewItem">
                            <span class="material-icons star-icon">
                                grade
                            </span>
                        </div>
                    </div>
               
            </div>
        </div>
    </div>
</div>