@mixin text($fontSize, $lineHeight, $color) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}

.right-menu {
    .title {
        @include text(20px, 20px, #65a4fe);
        margin: 33px 0 31px 0;
    }

    .user-item {
        align-items: center;
        padding: 10px 0;

        .user-image {
            border-radius: 50%;
            width: 42px;
            height: 42px;
        }

        .name {
            margin-left: 20px;
            @include text(16px, 20px, #5a666e);
        }

        .email-title {
            margin-left: 18px;
            @include text(12px, 15px, #d0dae4);
        }

      
    }
}

.fixed {
    position: fixed;
    top: 70px;
}