<div class="right-menu" [ngClass]="{'fixed':token}">
    <div class="follow">
        <p class="title mt-0">Who to follow</p>
        <div *ngFor="let item of followItem" class="user-item follow-item d-flex">
            <img [src]="item?.image" class="user-image" alt="Cinque Terre">
            <div>
                <p class="name">{{item?.name}}</p>
                <p class="email-title">{{item?.email}}</p>
            </div>
            <button type="button" class="btn  round follow-btn">Follow</button>
        </div>
    </div>
    <div class="contact">
        <p class="title">Contacts</p>
        <div *ngFor="let item of contactItem" class="user-item d-flex">
            <img [src]="item?.image" class="user-image" alt="Cinque Terre">
            <p class="name">{{item?.name}}</p>
        </div>
    </div>
</div>