@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily,
}

.right-menu {
    .title {
        @include text(20px, 20px, #65a4fe, EncodeSans-Bold);
        margin: 33px 0 31px 0;
    }
    .contact {
        .serch-content {
            display: flex;
            justify-content: space-between;
            padding: 13px 21px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #E3ECFD;
            border-radius: 24px;
            opacity: 1;
            margin: 20px 0;

            .search-input {
                width: calc(100% - 60px);
                border: none;
                @include text(16px, 20px, #65a4fe, EncodeSans-Bold);
                font-weight: 500;

                &::placeholder {
                    @include text(16px, 20px, #65a4fe, EncodeSans-Bold);
                    font-weight: 500;
                }
            }

            .search-icon {
                font-size: 25px;
                color: #ACC3D9;
            }
        }

        .contact-item {
            height: 100%;
            max-height: 400px;
            overflow-y: auto;
        }
    }

    .user-item {
        align-items: center;
        padding: 10px;
        cursor: pointer;


        .user-image {
            border-radius: 50%;
            width: 42px;
            height: 42px;
        }

        .name {
            margin-left: 20px;
            @include text(16px, 20px, #5a666e, EncodeSans-Bold);
            font-weight: bold;
        }

        .email-title {
            margin-left: 18px;
            @include text(12px, 15px, #d0dae4, EncodeSans-Regular);
        }
    }
}

.follow-item {
    background: #F7F7FC 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px 0;
}

.position {
    position: fixed !important;
}