@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily,
}
.right-container{
    display: flex;
    flex-direction: column;  
    height: 100%;  
}
.right-menu {
    .title {
        @include text(16px, 19px, #65a4fe, EncodeSans-Bold);
        margin-bottom: 20px;
        margin-left: 10px;
    }
    .text{
        @include text(14px,16px, #bbcddf, EncodeSans-Bold);
        cursor: pointer;
        margin-right: 20px;
    }

    .contact {
        position: relative;
        width: 100%;
        margin-top: auto;
        max-width: 300px;
        .serch-content {
            display: flex;
            justify-content: space-between;
            padding: 13px 21px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #bbcddf;
            border-radius: 22px;
            opacity: 1;
            margin: 20px 0;

            .search-input {
                width: calc(100% - 60px);
                border: none;
                @include text(16px, 20px, #65a4fe, EncodeSans-Bold);

                &::placeholder {
                    @include text(16px, 20px, #65a4fe, EncodeSans-Bold);
                }
            }

            .search-icon {
                font-size: 25px;
                color: #ACC3D9;
            }
        }

        .contact-item {
            height: 100%;
            // max-height: 400px;
            overflow-y: auto;
        }
    }

    .user-item {
        align-items: center;
        padding: 10px;
        cursor: pointer;


        .user-image {
            border-radius: 50%;
            width: 42px;
            height: 42px;
        }

        .name {
            margin-left: 20px;
            @include text(16px, 20px, #45535c, EncodeSans-Bold);
        }

        .email-title {
            margin-left: 18px;
            margin-top: 5px;
            @include text(14px, 16px, #bbcddf, EncodeSans-Regular);
        }
    }

}



.position {
    position: fixed !important;
    top: 122px;
    height: calc(100vh - 122px);
    max-width: 300px;
    width: 100%;
}

.chat{
    position: absolute;
    right: 60px;
    bottom: 0;
    z-index: 9999;
    width: 300px;
    overflow: auto;
}