<div class="auth-container d-flex">
        <div class="header">
                <span class="material-icons clear-icon" (click)="closeModal()">
                    clear
                </span>
            </div>
    <div class="auth-main">
        <div class="main-container display-flex">
            <div class="auth-left-content m-auto">
                <div class="left-content-main m-auto">
                    <img src="assets/images/login.png" class="auth-image" alt="Cinque Terre">
                    <div class="accounts">
                        <img class="accout-image" src="assets/icons/GooglePlay.png">
                        <img class="accout-image" src="assets/icons/Appstore.png">
                    </div>
                </div>
               
            </div>
            <div class="auth-right-content d-flex m-auto">
                <div class="right-content-main m-auto">

                    <div class="auth-form w-100">
                        <app-signIn *ngIf="tab===1" (tabChanges)="onChangeTab($event)"
                            (closeModal)="closeAuthModal($event)"></app-signIn>
                        <app-signUp *ngIf="tab===2" (changeSigntab)="onClickOpenSignIn($event)"></app-signUp>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>