.auth-container {
    height: 100vh;
    flex-direction: column;
    min-width: 900px;
    .auth-main {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 1px 20px 79px #5C687B69;
        border-radius: 15px;
        opacity: 1;
        .main-container {
            flex-wrap: wrap;
            .auth-left-content {
                width: 50%;
                min-height: 650px;
                height: auto;
                border-right: 1px solid #BECDE8;
                .auth-image {
                    width: 100%;
                    max-width: 440px;
                    max-height: 330px;
                    height: 100%;
                }
            }

            .auth-right-content {
                width: 50%;
                .right-content-main {
                    width: 100%;
                    max-width: 280px;

                    .auth-form {
                        width: 100%;
                    }
                }
            }
        }
    }
}

::ng-deep .mat-dialog-container {
    background: #D6D8E144 0% 0% no-repeat padding-box !important;
    border: 1px solid #D1DCF1;
}

::ng-deep.mat-form-field {
    padding: 0 10px !important;
}