.auth-container {
    width: 800px;
    .header {
        position: absolute;
        right: 0;
        top:0;
    }
    .auth-main {
        background: #ffffff 0% 0% no-repeat padding-box;
        opacity: 1;
        width: 100%;
        max-width: 800px;
        margin: auto;
        // box-shadow: 1px 20px 29px #5c687b4a;
        border-radius: 25px;


        .main-container {
            flex-wrap: wrap;

            .auth-left-content {
                width: 50%;
                height: auto;

                .auth-image {
                    width: 100%;
                    max-width: 440px;
                    height: 100%;
                }

                .accounts {
                    text-align: center;

                    .accout-image {
                        width: 135px;
                        cursor: pointer;
                    }
                }
            }

            .auth-right-content {
                width: 50%;
                border-left: 1px solid #bbcddf;

                .right-content-main {
                    width: 100%;
                    max-width: 280px;

                    .auth-form {
                        width: 100%;
                    }
                }
            }
        }
    }
}


 ::ng-deep{
    .mat-dialog-container{
    padding: 0 ;
    border-radius: 15px;
    }
}
