.auth-container {
    height: 100vh;
    flex-direction: column;

    .auth-main {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        width: 100%;
        max-width: 800px;
        max-height: 530px;
        margin: auto;
        box-shadow: 1px 20px 29px #5C687B4A;
        border-radius: 25px;

        .main-container {
            flex-wrap: wrap;

            .auth-left-content {
                width: 50%;
                height: auto;

                .auth-image {
                    width: 100%;
                    max-width: 440px;
                    max-height: 250px;
                    height: 100%;
                }

                .text {
                    color: #589CFE;
                    font-size: 20px;
                    line-height: 20px;
                    font-family: EncodeSans-SemiBold;
                    text-align: center;
                    margin: 80px auto 0;
                }
            }

            .auth-right-content {
                width: 50%;
                border-left: 1px solid #bbcddf;
                padding: 20px 0;

                .right-content-main {
                    width: 100%;
                    max-width: 280px;

                    .auth-form {
                        width: 100%;
                    }
                }
            }
        }
    }
}

::ng-deep .mat-dialog-container {
    background: #D6D8E144 0% 0% no-repeat padding-box !important;
    border: 1px solid #D1DCF1;
}

::ng-deep.mat-form-field {
    padding: 0 5px !important;
}