<div class="auth-container d-flex">
    <div class="text-right">
        <span class="material-icons clear-icon" (click)="closeModal()">
            clear
        </span>
    </div>
    <div class="auth-main">
        <div class="main-container display-flex">
            <div class="auth-left-content d-flex">
                <div class="m-auto">
                        <img src="assets/images/login.png" class="auth-image" alt="Cinque Terre">
                        <p class="text">Registration for Trainer</p>
                </div>
                
            </div>
            <div class="auth-right-content d-flex m-auto">
                <div class="right-content-main m-auto">

                    <div class="auth-form w-100">
                        <app-signIn *ngIf="tab===1" (tabChanges)="onChangeTab($event)"
                            (closeModal)="closeAuthModal($event)"></app-signIn>
                        <app-signUp *ngIf="tab===2" (changeSigntab)="onClickOpenSignIn($event)"></app-signUp>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

