@mixin text($fontSize, $lineHeight, $color) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}
.feed-container {
    .feed-header-content {
        padding: 10px 0px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0.77px 11px 43px #5C687B17;
        border: 0.5px solid #E3ECFD;
        border-radius: 15px;
        opacity: 1;
        text-align: center;
        .title {
            @include text(20px, 24px, #AFC1D1);
        }
     
    }
}