@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.signIn-main {
    text-align: center;
    padding: 40px 0;

    .logo-text {
        @include text(18px, 21px, #45535C, EncodeSans-Bold);
    }

    .logo {
        width: 195px;
        margin: 11px auto;
    }

    .form-group {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0.42px 6px 16px #9897C914;
        border: 1px solid #E3ECFD;
        border-radius: 26px;
        opacity: 1;
        margin: 16px 0 !important;
      
  
        .form-input{
            font-family: 'Nunito Sans', sans-serif;
            line-height: 19px;
            font-size: 16px;
            color: #45535C !important;
        }
    
    }


    .social-media {
        &::before {
            border-bottom: 1px solid #bbcddf;
            display: block;
            content: "";
            width: 100%;
            margin: 20px 0;
        }

        .social-media-icon {
            width: 20px;
        }
    }


    .form-content {
        border: 1px solid red;
    }

    .form-group-icon {
        width: 15px;
    }
}

.button-item {
    margin-top: 20px;
}

.activeTab {
    color: 1px solid red !important;
}

.validTab{
    color: red !important;
}

.button-content {
    padding: 0 !important;
}

.active-btn{
    width: 50%;
    cursor: pointer;
    transition: 0.5 all ease-out;
    padding: 15px;
    border-radius: 26px;
    background: #589CFE;
    @include text(16px, 19px, #ffffff, EncodeSans-SemiBold);
    margin: 0 15px 0 0;

}

.active-btn,.signUp-btn{
    &:hover{
        box-shadow: -5.29px 7px 10px #589bfd36;
    }
}

.password-icon{
    cursor: pointer;
}