@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}
.coach-main{
    padding: 0 20px;
.review-content {
    padding: 28px 0 19px 0;

    .name {
        @include text(24px, 28px, #45535C, EncodeSans-Bold);
        font-weight: 600;
    }
}
.profile-data {
    .data-item {
        width: 33.333333%;
        .item-title {
            @include text(16px, 19px, #45535C, EncodeSans-Medium);
            font-weight: 600;
        }
        .country-img {
            width: 21px;
            height: 21px;
            border-radius: 50%;
        }

        .country-name {
            @include text(22px, 26px, #45535C, BarlowCondensed-Regular);
        }
    }
}

.statistic {
    .statistic-item {
        // width: 25%;
        padding: 1.2em;
        text-align: center;
        text-align: center;
        display: flex;
        &::after {
            display: inline-block;
            content: "";
            border-right: 1px solid #D1E3FC;
            height: 50px;
            margin-left: 30px;
        }
        &:last-child {
            &::after {
                content: none !important;
            }
        }
        .count {
            @include text(28px, 33px, #589CFE, EncodeSans-Bold);
        }
        .statistic-title {
            @include text(20px, 20px, #45535C, EncodeSans-Medium);
        }
    }
}

.events-tab {
    .tab-item {
        border-bottom: 2px solid #BACBDB;
        padding: 1.2em 0;
        width: 25%;
        @include text(22px, 25px, #BACBDB, EncodeSans-SemiBold);
        cursor: pointer;
        transition: .5s all ease-out;
        font-weight: 600;
    }
}

.events-header {
    padding: 30px 0;

    .gallery-tab {
        .btn {
            padding: 7px 30px !important;
        }
    }

    .events-content {
        padding-top: 20px;
    }
}
}
.review-description {
    padding: 20px;
    .review-text {
        @include text(17px, 20px, #589CFE, EncodeSans-Medium);
    }
}

.review-main {
    background: #F7F7FC 0% 0% no-repeat padding-box;
    border: 1px solid #E3ECFD;
    border-radius: 21px;
    opacity: 0.66;

    .review-main-description {
        padding: 10px 17px;

        .title {
            @include text(16px, 19px, #56626A, EncodeSans-SemiBold);
        }

        .material-icons {
            cursor: pointer;
        }
    }
}


.btn-content {
    .post-item {
        color: #BACBDB;
        margin-left: 9px;
        @include text(17px, 20px, #BACBDB, EncodeSans-Medium);
        cursor: pointer;
    }

    .btn {
        padding: 10px 15px !important;
        border-radius: 19px;
        background: #F5F5FA;
        font-weight: 600;
        @include text(16px, 19px, #B6C1D7, EncodeSans-SemiBold)
    }

}

.show {
    overflow: visible;
    height: auto;
    transition: .5s all ease-out;
}
.activeTab {
    color: #45535C !important;
    border-bottom: 4px solid #589CFE !important;
}
.activePostButton {
    color: #589CFE !important;
}