
.hand, [jhisortby] {
    cursor: pointer;
}
.bg-light {
    background-color: #f8f5f0!important;
}
.bg-success {
    background-color: #93c54b!important;
}
.topic-table{
    margin-top: 15px;
    .topics-title{
        color: #fff;
        background-color: #337ab7 !important;
        border-color: #2e6da4;
        cursor: pointer;
        margin-top: 15px;
    }
}
#page-heading{
    font-size: 22px;
}
