.delete-container{
    position: absolute;
    z-index: 9;
    right: -43px;
    top: 12px;
    bottom: 0;
}
.deleted-content{
    width: 200px;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 30px 43px #5C687B36;
    border: 0.5px solid #E3ECFD;
    opacity: 1;
    border-radius: 10px;
    .item{
        cursor: pointer;
        padding: 15px 0;
        &:hover{
            background: #F7F7FC 0% 0% no-repeat padding-box !important;
            opacity: 1;
            border-radius: 10px;
        }
        .title{
            color: #45535C;
            font-size: 16px;
            line-height: 19px;
            font-family: EncodeSans-Medium;
        }
    }
}


::ng-deep .mat-dialog-container{
    background: #ffffff 0% 0% no-repeat padding-box !important;
    box-shadow: 2.09px 30px 43px #5C687B17 !important;
    border: 0.5px solid #E3ECFD !important;
    border-radius: 15px  !important;
    opacity: 1 !important;
}
