@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.comments-item {
    margin-top: 25px;
    .comments {
        border-bottom: 1px solid #F1F1F6;
        padding: 0 20px;

        .user-image {
            width: 43px;
            height: 43px;
            border-radius: 50%;
            cursor: pointer;
        }
        .comments-container {
            width: 100%;
            margin-left: 20px;
            .name {
                cursor: pointer;
                @include text(20px, 27px, #45535C, BarlowCondensed-Regular);
            }
            .time {
                @include text(12px, 27px, #bbcddf,BarlowCondensed-Regular);
            }
        }
        .like {
            align-items: center;
            .like-radius {
                width: 22px;
                height: 22px;
                opacity: 1;
                border-radius: 50%;
                border: 1px solid #D1DCF1;
                cursor: pointer;
                .icon {
                    color: #bbcddf;
                    font-size: 15px;
                }
            }
            .like-count {
                @include text(17px, 21px, #45535C, BarlowCondensed-Regular);
            }
        }
        .commet-message {
            @include text(17px, 26px, #45535C,BarlowCondensed-Regular);
            padding: 10px 0;
        }
        .view-title {
            @include text(14px, 25px, #bbcddf,BarlowCondensed-Light);
            text-align: end;
            span{
                cursor: pointer;
            }
        }

    }
    .replay-message {
        padding: 10px 0 20px 20px;
    }
}
.disabled{
    opacity: 0.5;
    // pointer-events: none;
}
.sm_name{
    font-size: 15px !important;
}
.cursor-pointer{
    cursor:pointer
}
::ng-deep .emoji-mart-search input {
    padding: 5px 0px 6px 0px !important;
}
::ng-deep .emoji-mart {
    width: 100% !important;
}

.display-none {
    display: none !important;
}
.modal-contanier {
    padding: 0 10px !important;
    justify-content: space-between;
    margin: 0 !important;
}
.replay-title {
    cursor: pointer;
    @include text(17px, 21px, #589CFE,BarlowCondensed-Regular);
}
.justify-content-end{
    justify-content: flex-end !important;
}

.like{
    color:#65a4fe !important;
}