.item-content {
  margin: 10px;
  position: relative;

  .add-ingridient-image-item {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -1.63px 5px 18px #5C687B0D;
    border: 2px solid #589CFE;
    opacity: 1;
    width: 88px;
    height: 87px;
    border-radius: 50%;
    cursor: pointer;

  }

  .close-content {
    position: absolute;
    width: 41px;
    height: 39px;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -3.76px 7px 7px #7377A54F;
    border-radius: 20px;
    opacity: 1;
    cursor: pointer;
    top: 0px;
    right: -14px;

    .close-icon {
      font-size: 30px;
      
      color: #BBCDDF;
    }
  }

}