<div class="item-content">
<img class="add-ingridient-image-item" src="assets/images/food.png">
    <div class="close-content">
        <span class="material-icons close-icon m-auto">
            close
            </span>
    </div>

</div>

<!-- <div class="item-content">
    <video controls class="add-ingridient-image-item" poster="assets/images/food.png">
    <source src="assets/images/vido.mp4">
</video>
        <div class="close-content">
            <span class="material-icons close-icon m-auto">
                close
                </span>
        </div>
    
    </div> -->