<div class="feed-container">
        <spinner-loading *ngIf="loading"></spinner-loading>
    <div *ngIf="userService.user">
        <app-create-publication [feedItem]="feedItem" (postCreateEvent)="onPostCreated($event)"></app-create-publication>
    </div>
    <div *ngIf="feedItem?.length > 0" class="feed-item" infinite-scroll
        [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollUpDistance]="scrollUpDistance"
        [infiniteScrollThrottle]="throttle"
        [infiniteScrollDisabled]="infiniteScrollDisabled"
    (scrolled)="onScroll()">
        <app-feed-post-card-item *ngFor="let item of feedItem" [feedItem]="item" (deletedItem)="deletedFeedItem($event)" ></app-feed-post-card-item>
    </div>
</div>