<!-- <div class="content-image-item">
        <div class="image-content">
                <label>Content / Image</label>
            <img [src]="fileUrl+contentImageItem" class="update-image" alt="Cinque Terre">
            <div (click)="delete()" class="close-img d-flex">
                <span class="material-icons m-auto">
                    close
                </span>
            </div>
        </div>
        </div> -->
        <div class="form-group-content" >
                <div class="form-group-header">
                        <p class="header-title">Image</p>
                    <span class="material-icons icon" (click)="delete()">
                        close
                    </span>
                </div>
                <div class="form-group-main d-flex">
                        <img [src]="fileUrl+contentImageItem" class="article-image" alt="Cinque Terre">
                    </div>
                </div>