<div class="information-content">
    <p class="title">About</p>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aliquid quod tenetur hic ab
        reprehenderit ad, odio eos fugiat animi aspernatur voluptates unde cumque, autem eligendi iure et accusamus
        architecto.</p>
    <p class="title">Certificates</p>
    <div class="information-item-content d-flex">
        <div class="information-item">
            <img src="assets/images/certificate.png" class="information-image" alt="Cinque Terre">
        </div>
        <div class="information-item">
            <img src="assets/images/certificate.png" class="information-image" alt="Cinque Terre">
        </div>
        <div class="information-item">
            <img src="assets/images/certificate.png" class="information-image" alt="Cinque Terre">
        </div>
    </div>
    <p class="title education-title">Education</p>
    <div>
        <p class="date">2018-2020</p>
        <p class="name">Marathone fit Academy Maralik Brench</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit recusandae temporibus
            molestiae. Nemo, magni unde expedita veritatis quia possimus odio odit vitae, animi dicta nostrum? Tempora
            fugiat fuga sequi reiciendis.</p>
    </div>
    <p class="title education-title">Experience</p>
    <div>
        <p class="date">2018-2020</p>
        <p class="name">Gold Gym Erevan</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit recusandae temporibus
            molestiae. Nemo, magni unde expedita veritatis quia possimus odio odit vitae, animi dicta nostrum? Tempora
            fugiat fuga sequi reiciendis.</p>
    </div>
</div>