<div class="chat-content">
    <div class="d-flex topbar">
        <div class="entity">
            <img [routerLink]="getLinkUrl(item)" [src]="getAvatar(item)" class="user-image" alt="Cinque Terre">
            <div class="main-info" [routerLink]="getLinkUrl(item)">
                <p class="name more-point">{{item?.name}}</p>
            </div>
        </div>
        <span class="material-icons clear-icon" (click)="closeItem()">
            clear
        </span>
    </div>
    <div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="message-content">
        <div  *ngFor="let sms of messages">
            <div *ngIf="sms.role == 'friend'" class="friend-message d-flex">
                <img [src]="getAvatar(item)" alt="">
                <div class="message">
                    {{sms.message}}
                </div>
            </div>
            <div *ngIf="sms.role == 'my'" class="my-message d-flex">
                <div class="message">
                    {{sms.message}}
                </div>
            </div>
            <!-- <div class="friend-message d-flex">
                <img [src]="getAvatar(item)" alt="">
                <div class="message">
                    hello
                </div>
            </div> -->
        </div>
    </div>
    <form name="inputForm" role="form" novalidate [formGroup]="inputForm">
        <div class="p-2 mt-2">
            <textarea placeholder="Enter message" rows="3" style="width: 100%" class="form-control" name="text" id="field_text"
                formControlName="text"></textarea>
        </div>
        <div class="p-2">
            <button (click)="send()" class="btn btn-primary btn-block">
                <i class="fa fa-paper-plane icon" aria-hidden="true"></i>
                <span style="margin: 0 5px;">Send</span>
                <app-loading></app-loading>
            </button>
        </div>
    </form>

    <!-- <form name="inputForm" role="form" novalidate [formGroup]="inputForm">

        <ng-container *ngFor="let participant of topicSelected.participants ;">
            <div *ngIf="participant.id !== getUserId()"
                [ngClass]="isOnline(participant, topicSelected) ? 'bg-success' : 'bg-light'"
                class="hand p-1 m-2">
                {{ participant?.firstName }} {{ participant?.lastName }}
                <i *ngIf="isWriting(participant, topicSelected)" class="fa fa-pencil icon"
                    aria-hidden="true"></i>

            </div>
        </ng-container>

        <div class="p-2 mt-2">
            <textarea rows="3" style="width: 100%" class="form-control" name="text" id="field_text"
                formControlName="text"></textarea>
        </div>
        <div class="p-2">
            <button class="btn btn-primary btn-block" (click)="sendText()">
                <i *ngIf="!sendingMessage" class="fa fa-paper-plane icon" aria-hidden="true"></i>
                <span style="margin: 0 5px;" *ngIf="!sendingMessage">Send</span>
                <app-loading *ngIf="sendingMessage"></app-loading>
            </button>
        </div>
    </form> -->
</div>