
.chat-content{
    position: relative;
    box-shadow: 11px 13px 18px #3E598B0F;
    background: white;
    border-radius: 15px;
    .topbar{
        padding: 5px;
        width: 100%;
        position: sticky;
        left: 0;
        top:0;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 2.09px 30px 43px #5C687B17;        
        .entity{
            display: flex;
            align-items: center;
        }
        .main-info{
            margin-left: 5px;
        }
        img{
            height: 45px;
            width: 45px;
            border-radius: 50%;
        }
        .clear-icon{
            padding: 0 !important;
        }
    }
    .message-content{        
        max-height: 195px;
        min-height: 195px;
        overflow-y: auto;
    
        padding: 10px 7px;
        .message{
            padding: 8px 12px;
            border-radius: 15px;
            max-width: 150px;
        }
        .friend-message{
            margin-bottom: 15px;
            align-items: flex-end;
            img{
                height: 25px;
                width: 25px;
                border-radius: 50%;
            }
            .message{
                margin-left: 5px;
                background: rgb(228, 230, 235);
                
            }
        }
        .my-message{           
            margin-bottom: 15px;
            .message{
                margin-left: auto;
                background: rgb(0, 132, 255);
                color:white
            }
        }
    }
}