@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.home-container {
    height: 100vh;
    .header {
        position: relative;

        .header-icon-btn {
            width: 33px;
            height: 33px;
            background: #F5F5FA 0% 0% no-repeat padding-box;
            border: 2px solid #FFFFFF;
            opacity: 1;
            position: absolute;
            border-radius: 50%;
            right: 2px;
            bottom: -7px;
            cursor: pointer;

            i {
                color: #B6C1D7;
                font-size: 15px;
            }
        }
    }

    .home-main {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 2px 30px 43px #5C687B17;
        border-radius: 0px 0px 15px 15px;
        opacity: 1;

        .main-layout {
            .home-main {
                padding: 10px 0;
            }
        }

        .profile-description {
            position: relative;



            .cover-image {
                height: 185px;
                width: 100%;
                background: #527AB2;
            }

            .profile-content {

                // padding: 0 20px;
                .main-layout {}

                .profile-header-content {
                    padding: 0 20px;

                    .profile-image {
                        margin-top: -80px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: relative;

                        .icon-btn {
                            width: 33px;
                            height: 33px;
                            background: #F5F5FA 0% 0% no-repeat padding-box;
                            border: 2px solid #FFFFFF;
                            opacity: 1;
                            position: absolute;
                            border-radius: 50%;
                            top: 84px;
                            left: 125px;
                            cursor: pointer;

                            i {
                                color: #B6C1D7;
                                font-size: 15px;
                            }
                        }

                        .user-image {
                            width: 147px;
                            height: 147px;
                            border-radius: 50%;
                            border: 2px solid #ffff;
                        }

                        .coach-btn {
                            border: 2px solid #FFFFFF;
                            border-radius: 16px;
                            opacity: 1;
                            background: #589CFE;
                            padding: 3px 20px;
                            color: #ffff;
                            margin-top: -25px;
                        }
                    }

                    .btn-loader {
                        padding: 8px !important;
                        border-radius: 50% !important;

                        .icon {
                            font-size: 16px;
                        }
                    }

                    .follow-btn,
                    .btn-loader {
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        border: 1px solid #589CFE;
                        border-radius: 18px;
                        opacity: 1;
                        color: #589CFE;
                        margin-left: 10px !important;
                        padding: 9px 17px 9px 20px;

                        .material-icons {
                            font-size: 17px;
                        }
                    }

                }

                .social-media {
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    box-shadow: 2px 30px 43px #5C687B36;
                    border: 0.5px solid #bbcddf;
                    opacity: 1;
                    position: absolute;
                    border-radius: 10px;
                    right: 60px;
                    z-index: 99;

                    .social-media-description {
                        display: flex;
                        flex-direction: column;
                        padding: 20px;

                        .social-image {
                            width: 26px;
                            height: 26px;
                            margin-top: 20px;
                            cursor: pointer;
                        }
                    }
                }

                .more-content {
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    box-shadow: 2px 30px 43px #5C687B36;
                    border: 1px solid #bbcddf;
                    opacity: 1;
                    width: 190px;
                    position: absolute;
                    border-radius: 10px;
                    right: 0;
                    z-index: 99;

                    .more-description {
                        align-items: center;
                        text-align: center;
                        display: flex;
                        flex-direction: column;

                        .more-item {
                            @include text(16px, 19px, #45535C, EncodeSans-Medium);
                            padding: 15px 0;
                            cursor: pointer;


                            &:hover {
                                background: #F7F7FC 0% 0% no-repeat padding-box !important;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    .main-layout {
        .profile-container {
            margin: 10px 20px;
        }
        .link-form {
            padding: 0 1.2em;

            .lable {
                @include text(17px, 18px, #bbcddf, EncodeSans-SemiBold);
            }

            .form-group-link {
                margin: 15px 0;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 0.5px solid #CFCFE9;
                border-radius: 26px;
                opacity: 1;
                height: none !important;
                padding: 15px 15px !important;
                @include text(17px, 18px, #45535C, NunitoSans-Regular !important);

                &::placeholder {
                    @include text(17px, 18px, #bbcddf, NunitoSans-Regular !important);
                }
            }
        }

        .form-input {
            @include text(17px, 15px, #45535C, NunitoSans-Regular !important);
        }

        .add-certificates {
            .add-file {
                background: #FFFFFF 0% 0% no-repeat padding-box;
                box-shadow: -1.63px 5px 18px #5C687B0D;
                border: 1px solid #bbcddf;
                opacity: 1;
                border-radius: 50%;
                width: 53px;
                height: 53px;

                .material-icons {

                    color: #589CFE;
                    font-size: 25px;
                    cursor: pointer;
                }
            }

            .type-form-group {
                width: 100%;
                max-width: 400px;
                border-radius: 16px !important;

                .add-icon {
                    color: #C2D2E2;
                    border: none;
                    border-radius: 50%;
                    font-size: 25px;
                    background: #ffff;
                    cursor: pointer;
                }
            }
        }
    }
}

.profileActiveTab {
    color: #ffff !important;
    background: #589CFE !important;
    border: 1px solid #589CFE !important;
}


.about-form {
    margin-top: 30px;
}

::ng-deep .ui-autocomplete-multiple-container {
    margin: 15px 0 !important;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border: 0.5px solid #E3ECFD !important;
    border-radius: 26px !important;
    opacity: 1 !important;
    height: none !important;
    padding: 15px 15px !important;
    @include text(17px, 18px, #bbcddf, NunitoSans-Regular !important);

    &::placeholder {
        @include text(17px, 18px, #bbcddf, NunitoSans-Regular !important);
    }
}

::ng-deep .ui-widget {
    width: 100% !important;
}

::ng-deep .ui-autocomplete-token {
    background: #F5F5FA 0% 0% no-repeat padding-box !important;
    border-radius: 18px !important;
    opacity: 1 !important;
    padding: 10px !important;
    color: #45535C !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    margin-bottom: 10px !important;
    font-family: NunitoSans-Regular  !important;
}

::ng-deep .ui-autocomplete-token-icon {
    font-size: 13px !important;
    color: #bbcddf !important;
    font-weight: bold !important;
    margin-right: 12px !important;

}

::ng-deep .ng-tns-c114-0 {
    &::placeholder {
        @include text(17px, 18px, #bbcddf, MicrosoftYaHeiNunitoSans-Regular UI !important);
    }
}


.form-group,
.autocomplete {
    position: relative;
}

.form-group>label {
    position: absolute;
    top: -11px;
    left: 25px;
    background-color: white;
    @include text(16px, 19px, #589CFE, EncodeSans-Regular);
}

.form-group>input {
    border: none;
}

.autocomplete>label {
    position: absolute;
    top: 5px;
    left: 25px;
    background-color: white;

    z-index: 1;
    @include text(16px, 19px, #589CFE, EncodeSans-Regular);
}

.text-area {
  overflow: hidden;
  height: auto;
  line-height: 22px !important;
  min-height: 70px;
}

input[type="file"] {
    display: none;
}

.choose-image {
    border-radius: 509%;
    height: 45px;
    width: 45px;
    cursor: pointer;
}