<div class="home-container">
    <div class="home-main">
        <div class="profile-description">
            <div class="header">
                <img [src]="headerLocalImage" class="cover-image" alt="Cinque Terre">
                <div class=" d-flex">
                    <input class="" type="file" id="headerprofile" name="headerprofile" accept="image/png,image/jpeg"
                        (change)="setServiceHeaderPhoto($event)">
                    <label class="header-icon-btn d-flex m-auto" for="headerprofile">
                        <i class="fa fa-refresh m-auto" aria-hidden="true"></i>
                    </label>
                </div>
            </div>
            <div class="profile-content">
                <div class="profile-header-content display-flex" (clickOutside)="onClickedOutside($event)">
                    <div class="profile-image">
                        <div class=" d-flex">
                            <input class="" type="file" id="file" name="avatar" accept="image/png,image/jpeg"
                                (change)="setServicePhoto($event)">
                            <label class="icon-btn d-flex m-auto" for="file">
                                <i class="fa fa-refresh m-auto" aria-hidden="true"></i>
                            </label>
                        </div>
                        <img [src]="localImage" class="user-image" alt="Cinque Terre">
                        <button class="btn coach-btn" *ngIf="role==='coach'">Coach</button>
                        <spinner-loading [profileLoading]="true" *ngIf="loading"></spinner-loading>
                    </div>

                    <div class="btn-content d-flex align-items-center">
                        <button class="save-btn ml-2 mr-2" routerLink="/edit-profile" routerLinkActive="active-btn"
                            (click)="update()">Save
                        </button>
                        <button class="info-btn btn-item btn-radius" (click)="onClickShowMore()"
                            [ngClass]="{'active-btn':showMore}">
                            <span class="material-icons icon">
                                more_horiz
                            </span>
                        </button>
                    </div>
                </div>
                <div class="more-content" *ngIf="showMore">
                    <p> <i class="arrow up"></i></p>
                    <div class="more-description">
                        <p class="more-item w-100" (click)="copyUrl()">Copy Profile URL</p>
                        <p class="more-item w-100">Block</p>
                        <p class="more-item w-100">Report</p>
                    </div>
                </div>

                <div class="main-layout">
                    <div class="home-container">
                        <div class="home-main">
                            <div class="profile-description">
                                <div class="profile-content">
                                    <div class="main-layout">
                                        <div class="profile-container">
                                            <form [formGroup]="profileFormGroup">
                                                <div class="display-flex">
                                                    <div class="form-content">
                                                        <label class="label">First Name</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-input w-100"
                                                                formControlName="firstName" placeholder="First Name">
                                                        </div>
                                                    </div>
                                                    <div class="form-content">
                                                        <label class="label">Last Name</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-input w-100"
                                                                formControlName="userName" placeholder="Last Name">
                                                        </div>
                                                    </div>


                                                </div>

                                                <div class="form-content w-100">
                                                    <label class="label">User Name</label>
                                                    <div class="form-group w-100">
                                                        <input type="text" class="form-input w-100"
                                                            placeholder="User Name">
                                                    </div>
                                                </div>


                                                <div class="form-content w-100">
                                                    <label class="label">Sex</label>
                                                    <div class="d-flex" [ngSwitch]="maleTab">
                                                        <button class="sex-btn" (click)="onClickMaleTab('male')"
                                                            [ngClass]="{'sex-active-btn':maleTab==='male'}">
                                                            Male
                                                        </button>
                                                        <button class="sex-btn ml-3" (click)="onClickMaleTab('female')"
                                                            [ngClass]="{'sex-active-btn':maleTab==='female'}">
                                                            Female
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="form-content w-100">
                                                        <label class="label">Location</label>
                                                        <div class="form-group w-100">
                                                            <input type="text" class="form-input w-100"
                                                                placeholder="location" formControlName="location">
                                                        </div>
                                                    </div>

                                                <div class="form-content w-100">
                                                    <label class="label">Languages</label>
                                                    <!-- <p-autoComplete formControlName="languages"  (optionSelected)="selected($event)"
                                                        [suggestions]="filteredCountriesMultiple"
                                                        (completeMethod)="filterCountryMultiple($event)" [minLength]="1"
                                                        placeholder="" field="name" [multiple]="true">
                                                    </p-autoComplete> -->
                                                    <p-multiSelect [options]="countries" formControlName="languages" optionLabel="name"></p-multiSelect>




                                                </div>

                                       

                                                <div class="form-content w-100">
                                                    <label class="label">Specialties</label>
                                                    <p-autoComplete (click)="openSpecialtiesModal()"
                                                        formControlName="speciality"
                                                        [suggestions]="filteredSpecialitesMultiple"
                                                        (completeMethod)="filterSpecialitypMultiple($event)"
                                                        [minLength]="1" placeholder="" field="name" [multiple]="true">
                                                    </p-autoComplete>
                                                </div>

                                                <div class="form-content w-100">
                                                    <label class="label">About Yourself</label>
                                                    <div class="form-group w-100 text-area-group">
                                                        <textarea type="text" class="form-input  about-form w-100"
                                                            placeholder="Tell us about your achievements"
                                                            formControlName="status">
                                                                    </textarea>
                                                    </div>
                                                </div>
                                                <div class="form-content w-100">
                                                    <label class="label">Social Accounts</label>
                                                    <div class="form-group w-100">
                                                        <input type="text" class="form-input w-100"
                                                            placeholder="Facebook link" formControlName="facebook">
                                                    </div>
                                                </div>
                                                <div class="form-content w-100">
                                                    <div class="form-group w-100">
                                                        <input type="text" class="form-input w-100"
                                                            placeholder="Instagram link" formControlName="instagram">
                                                    </div>
                                                </div>

                                                <div class="form-content w-100">
                                                    <div class="form-group w-100">
                                                        <input type="text" class="form-input w-100"
                                                            placeholder="Linkedin link" formControlName="linkedin">
                                                    </div>
                                                </div>
                                                
                                            </form>
                                            <div class="btn-container d-flex justify-content-end">
                                                    <button class="save-btn ml-2 mr-2"
                                                        (click)="update()">Save</button>
                                                </div>

                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>


                </div>
            </div>


        </div>

    </div>
</div>

