<div class="left-menu" [ngClass]="{'position':showUserData}">
    <div class="left-menu-item">
        <a *ngFor="let item of leftMenuItem" class="d-block w-100" [routerLink]="item?.routerLink" routerLinkActive="activeRoute">
            <img [src]="item?.icon" class="menu-icon">
            <span class="link"> {{item?.title}}</span>
        </a>
    </div>


    <div class="follow" *ngIf="showUserData">
        <div *ngFor="let item of settingItem" class="user-item follow-item d-flex">
            <img [src]="item?.image" class="user-image" alt="Cinque Terre">
            <div>
                <p class="name">{{item?.name}}</p>
                <p class="email-title">{{item?.email}}</p>
            </div>
        </div>
    </div>


</div>