@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.left-menu {
    min-height: 1080px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;

    .left-header {
        .left-menu-description {
            .user-image {
                width: 131px;
                height: 131px;
                border-radius: 50%;
            }

            .name {
                @include text(25px, 40px, #45535C, BarlowCondensed-Regular);
            }

            .user-name {
                @include text(17px, none, #D0DBF0, BarlowCondensed-Regular);
            }
        }
    }

    .left-menu-item {
        .item{
            padding: 12px 37px;
        .menu-icon {
            width: 22px;
        }

        .link {
            @include text(22px, 26px, #45535c, EncodeSans-Bold);
            margin-left: 29px;
            cursor: pointer;
        }

        a {
            margin-top: 24px;
            display: flex;

            &:first-child {
                margin-top: 0 !important;
            }
        }
    }
}

    .follow {
        height: 100%;
        max-height: 340px;
        overflow-y: auto;
        padding-right: 5px;
        margin-top: 60px;

        .follow-item {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 0.5px solid #E3ECFD;
            border-radius: 6px;
            opacity: 1;
            margin: 10px 0;
            padding: 11px 7px;

            &:first-child {
                margin-top: 0 !important;
            }

            .user-image {
                border-radius: 50%;
                width: 42px;
                height: 42px;
            }

            .name {
                margin-left: 20px;
                @include text(15px, 18px, #45535c, EncodeSans-Bold);

            }

            .email-title {
                margin-left: 20px;
                margin-top: 7px;
                @include text(14px, 15px, #45535c, EncodeSans-Regular);
            }
        }
    }
}

.position {
    position: fixed !important;
}

.d-inline-block {
    display: inline-block !important;
}

.item {
    &:hover {
        background: #F7F7FC 0% 0% no-repeat padding-box;
        border-radius: 25px;
        opacity: 1;
    }
}