<div class="card-item">
    <div class="item-header">
        <div class="item-head-description">
            <img src="assets/images/img1.png" class="image" alt="Cinque Terre">
            <p class="name-title">Barbara Smith</p>
            <p class="time">1 hour ago</p>
        </div>

        <span class="material-icons icon">
            more_vert
        </span>
    </div>
    <div class="post-content">
        <div class="post-container" *ngIf="text">
            <p class="title show-content" [ngClass]="{'show':show}">{{title}}</p>
            <p class="title more">...</p>
            <p class="title more" (click)="onClickSeeMore()">See More</p>
        </div>
        <div class="post-container p-0" *ngIf="image">
            <img src="assets/images/img.4.png" class="image" alt="Cinque Terre">
        </div>
    
    </div>
    <div class="setting-content d-flex">
            <div class="setting-item d-flex align-items-center">
                <span class="material-icons icon mr-2">
                    settings

                </span>
                <p class="title">Comments 29</p>
            </div>

            <div class="setting-item d-flex align-items-center">
                <span class="material-icons icon mr-2">
                    settings

                </span>
                <p class="title"> Energy 30</p>
            </div>
            <div class="setting-item d-flex align-items-center">
                <span class="material-icons icon mr-2">
                    settings

                </span>
                <p class="title"> Reposts 10</p>
            </div>

        </div>

</div>