@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.user-main {
    padding: 0 15px;
    position: absolute;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 2px 30px 43px #5c687b17;
    border-radius: 0px 0px 15px 15px;
    opacity: 1;
    width: 100%;
    .review-content {
        padding: 28px 0 19px 0;

        .name {
            @include text(24px, 28px, #45535c, EncodeSans-Bold);
            display: inline-block;
            width: 330px;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
        }
    }

    .review-title {
        @include text(14px, 16px, #bbcddf, EncodeSans-Medium);
    }

    .profile-data {
        .data-item {
            // width: 33.333333%;

            .item-title {
                @include text(16px, 20px, #45535c, EncodeSans-Medium);
                display: inline-block;
                width: 140px;
                white-space: nowrap;
                overflow: hidden !important;
                text-overflow: ellipsis;
                text-align: center;
            }

            .country-img {
                width: 21px;
                height: 21px;
                border-radius: 50%;
            }

            .country-name {
                @include text(12px, 19px, #45535c, EncodeSans-Medium);
            }
        }
    }

    .statistic {
        .statistic-item {
            padding: 1.2em;
            text-align: center;
            text-align: center;
            display: flex;

            &::after {
                display: inline-block;
                content: "";
                border-right: 1px solid #d1e3fc;
                height: 50px;
                margin-left: 30px;
            }

            &:last-child {
                &::after {
                    content: none !important;
                }
            }

            .count {
                @include text(24px, 28px, #589cfe, EncodeSans-Bold);
            }

            .statistic-title {
                @include text(16px, 16px, #45535c, EncodeSans-Medium);
                margin-top: 4px;
            }
        }
    }

    .events-tab {
        border-bottom: 1px solid #bbcddf;
        justify-content: center;

        .tab-item {
            padding: 18px 0;
            width: 25%;
            @include text(18px, 21px, #bbcddf, EncodeSans-SemiBold);
            cursor: pointer;
        }
    }

    .events-header {
        padding: 30px 0 30px 0;

        .gallery-tab {
            .btn {
                padding: 7px 30px !important;
            }
        }

        .events-content {
            padding-top: 20px;
        }
    }
}

.btn-content {
    margin: auto;
    .post-item {
        color: #bbcddf;
        margin-left: 9px;
        @include text(17px, 20px, #bbcddf, EncodeSans-Medium);
        cursor: pointer;
    }
}

.show {
    overflow: visible;
    height: auto;
    transition: 0.5s all ease-out;
}

.activeTab {
    color: #45535c !important;
    border-bottom: 4px solid #589cfe !important;
}

.activePostButton {
    color: #589cfe !important;
}

.post-container {
    margin: 20px 0;
}

.basic-btn {
    background: #f5f5fa !important;
    border: 1px solid #f5f5fa !important;
    color: #b6c1d7 !important;
}

.feed-padding-class {
    padding: 30px 0 0 0 !important;
}

.gallery-content {
    flex-wrap: wrap;
    display: flex;
    .gallery-item {
        width: 33.3333333%;
        padding: 2px;
        display: none;
        cursor: pointer;
    }
}

.post-event {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 2px 30px 43px #5c687b17;
    border-radius: 0px 0px 15px 15px;
    opacity: 1;
    padding: 30px !important;
}

.star-image{
    width: 18px;
}