<div class="main-container">
    <div class="user-main">
        <div class="main-content">
            <div class="review-content display-flex">
                <p class="name"> {{firstName}}</p>
                <div class=" display-flex">
                    <div class="review display-flex">
                        <div class="review-item" *ngFor="let item of reviewItem">
                            <img src="assets/icons/star.svg" class="star-image">
                        </div>
                    </div>
                    <p class="review-title">10 / 5 review</p>
                </div>
            </div>
            <div class="profile-data display-flex">
                <div class="data-item">
                    <p class="item-title"> {{email}} </p>

                </div>
                <div class="data-item">
                    <p class="item-title">{{user?.location}}</p>
                </div>
                <div class="d-flex">
                    <div class="data-item" *ngFor="let item of languageName">
                        <div class="display-flex">
                            <img src="assets/images/eng.png" class="country-img  ml-2 mr-2" alt="Cinque Terre"
                                *ngIf="item?.name==='English'">
                            <img src="assets/images/flags/arm.svg" class="country-img  ml-2 mr-2" alt="Cinque Terre"
                                *ngIf="item?.name==='Armenian'">
                            <img src="assets/images/flags/rus.png" class="country-img  ml-2 mr-2" alt="Cinque Terre"
                                *ngIf="item?.name==='Russian'">
                            <p class="country-name ml-2">{{item?.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="statistic display-flex">
                <div class="m-auto  display-flex">
                    <div class="statistic-item">
                        <div>
                            <p class="count">60</p>
                            <p class="statistic-title">Energy</p>
                        </div>
                    </div>
                    <div class="statistic-item">
                        <div>
                            <p class="count">30</p>
                            <p class="statistic-title">Followers</p>
                        </div>
                    </div>
                    <div class="statistic-item">
                        <div>
                            <p class="count">400</p>
                            <p class="statistic-title">Following</p>
                        </div>
                    </div>
                    <div class="statistic-item">

                    </div>
                </div>
            </div>
            <div class="post-content">
                <div class="post-container">
                    <p class="title show-content">{{userStatus}}<span *ngIf="seeMore" class="title more"
                            (click)="onClickSeeMore()">... See More</span></p>
                </div>
            </div>
            <div class="d-flex mt-4">
                <div class="btn-content display-flex m-auto">
                    <button class="btn-item active-btn mr-3">Body Building</button>
                    <button class="btn-item active-btn mr-3">Fat Loss</button>
                    <button class="btn-item active-btn">Power Lifting</button>
                </div>
            </div>
        </div>
        <div class="events-tab d-flex" [ngSwitch]="tab">

            <div class="tab-item" (click)="onClickTab(1)" [ngClass]="{'activeTab':tab===1}">
                <p class="tab-text">Posts</p>
            </div>
            <div class="tab-item" (click)="onClickTab(2)" [ngClass]="{'activeTab':tab===2}">
                <p class="tab-text">Gallery</p>
            </div>

        </div>
        <div class="events-header post-event" *ngIf="tab===1" [ngClass]="{'feed-padding-class':feedItem?.length>0}">
            <div class="posts-tab">
                <div class="btn-content display-flex">
                    <p class="post-item" (click)="onClickPostEventsTab(1)" [ngClass]="{'activePostButton':postTab===1}">
                        All</p>
                    <p class="post-item" (click)="onClickPostEventsTab(2)" [ngClass]="{'activePostButton':postTab===2}">
                        Articles</p>
                    <p class="post-item">Q & A</p>
                    <p class="post-item">Recipes</p>
                    <p class="post-item">Workouts</p>
                    <p class="post-item">Music</p>
                </div>

            </div>


        </div>
        <div *ngIf="postTab===1">
            <div *ngIf="tab===1">
                <div *ngIf="checkIsMe()" class="post-container">
                    <app-create-publication [style]="true" [feedItem]="feedItem"
                        (postCreateEvent)="onPostCreated($event)">
                    </app-create-publication>
                </div>
                <!-- <div *ngIf="feedItem?.length > 0" class="feed-item" infinite-scroll
                [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
                [infiniteScrollThrottle]="throttle" [infiniteScrollDisabled]="infiniteScrollDisabled">
                <spinner-loading *ngIf="loading"></spinner-loading>
                <app-feed-post-card-item *ngFor="let item of feedItem" [feedItem]="item"
                    (deletedItem)="deletedFeedItem($event)"  [style]="true"></app-feed-post-card-item>
            </div> -->
                <div class="feed-item" infinite-scroll [infiniteScrollDistance]="scrollDistance"
                    [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle"
                    [infiniteScrollDisabled]="infiniteScrollDisabled">
                    <ng-container *ngIf="feedItem.length > 0">
                        <app-feed-post-card-item [mode]="'normal'" *ngFor="let item of feedItem" [feedItem]="item"
                            [style]="true" (deletedItem)="deletedFeedItem($event)"></app-feed-post-card-item>
                    </ng-container>
                    <ng-container *ngIf="feedItem.length < 1">
                        <app-feed-post-card-item [mode]="'skeleton'" *ngFor="let item of [1,3,4]">
                        </app-feed-post-card-item>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="events-header d-flex flex-column" *ngIf="tab===2">
            <div class="gallery-tab m-auto">
                <div class="btn-content display-flex m-auto">
                    <p class="post-item ml-2" [ngClass]="{'activePostButton':galerryTab===1}"
                        (click)="onClickGalerryTab(1)">All</p>
                    <p class="post-item ml-2" [ngClass]="{'activePostButton':galerryTab===2}"
                        (click)="onClickGalerryTab(2)">Photos</p>
                    <p class="post-item ml-2" [ngClass]="{'activePostButton':galerryTab===3}"
                        (click)="onClickGalerryTab(3)">Videos</p>
                </div>
            </div>



            <div class="events-content" [ngSwitch]="galerryTab">
                <div *ngIf="galerryTab===1" class="gallery-content">
                    <div class="gallery-item" *ngFor="let item of feedMediaItem"
                        [ngClass]="{'d-block':item?.feed_media[0]?.content?.url}">
                        <app-galery [mediaItem]="item" (showGalleryModal)="openGalleryModal($event,'all',item)">
                        </app-galery>
                    </div>

                </div>


                <div *ngIf="galerryTab===2" class="gallery-content">
                    <div class="gallery-item" *ngFor="let item of feedMediaItem"
                        [ngClass]="{'d-block':item?.feed_media[0]?.content?.url && item?.feed_media[0]?.content?.type==='image'}">
                        <app-galery [mediaItem]="item" (showGalleryModal)="openGalleryModal($event,'image',item)">
                        </app-galery>
                    </div>

                </div>

                <div *ngIf="galerryTab===3" class="gallery-content">
                    <div class="gallery-item" *ngFor="let item of feedMediaItem"
                        [ngClass]="{'d-block':item?.feed_media[0]?.content?.url && item?.feed_media[0]?.content?.type==='video'|| item?.feed_media[0]?.content?.type==='videoLink'}">
                        <app-galery [mediaItem]="item" (showGalleryModal)="openGalleryModal($event,'video',item)">
                        </app-galery>
                    </div>

                </div>
            </div>






        </div>
    </div>

</div>