<div class="recipe-layout">
    <div class="recipe-layout-hrader">
        <p class="messages">{{errorMesage}}</p>
        <div class="localimage-content" *ngIf="showCarousel">
            <div>
                <ngx-slick-carousel class="carousel w-100" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let slide of slides" class="slide" (click)="onClickOpenIngridientModal()">
                        <img [src]="slide.img" alt="" width="100%" class="image">
                    </div>
                </ngx-slick-carousel>
            </div>

            <div class="add-ingridiet-image-content d-flex">
                <app-add-recipe-image *ngFor="let item of slides; let ind=index" [recipeImageItem]="item"
                    (deleted)="removeRecipeImageItem($event,ind)"></app-add-recipe-image>
                <input class="" type="file" id="file1" name="avatar" (change)="setServicePhoto($event)">
                <label class="add-image d-flex" for="file1">
                    <span class="material-icons add-icon m-auto">
                        add
                    </span>

                </label>
            </div>
        </div>

        <div class="localimage-content" *ngIf="showVideo">
            <div>
                <plyr style="display:block" plyrTitle="Video 1" [plyrSources]="videoSources"></plyr>
                <div (click)="deleteCover()" class="close-img d-flex">
                    <span class="material-icons m-auto">
                        close
                    </span>
                </div>
            </div>

        </div>

        <div class="broves-file" *ngIf="showImage">
            <div class="m-auto">
                <div class="d-flex w-50 m-auto">
                    <img src="assets/icons/recipe.png" class="recipe-image m-auto" alt="Cinque Terre">
                    <!-- <img src="assets/icons/recipe.png" class="recipe-image" alt="Cinque Terre"> -->
                </div>
                <p class="title">Set Recipe cover and cookig video</p>
                <input class="" type="file" id="file" name="avatar" (change)="setServicePhoto($event)">
                <label class="btn-item info-btn d-flex w-50" for="file">
                    <p class="m-auto">Broves Files</p> <span class="material-icons ml-2">
                        save_alt
                    </span>
                </label>


                <p class="img-version">jpg/png/mp4</p>
                <div class="m-auto">
                    <button class="update-video-btn">
                        <span class="material-icons mr-2" (click)="play()">
                            slideshow
                        </span><input class="youtube-input" placeholder="Insert Youtube Link"
                            [formControl]="youtubeLink"> </button>
                </div>


            </div>
        </div>
    </div>
    <form [formGroup]="recipeFormGroup">
        <div class="forms-group">
            <div class="form-group" [ngClass]="{'border':checkIsValid('title')}">
                <label [ngClass]="{'form-lable':checkIsValid('title')}">Recipe Title</label>
                <input type="text" class="form-input w-100" placeholder="Type Title" formControlName="title">
            </div>
            <div class="form-group pt-15 pl-0 pr-0 pb-0 form-grup-redius">
                <label>Ingridient</label>
                <!-- <div class="form-group  d-flex">
                <input type="text" class="form-input w-100" placeholder="Search Ingridient">
                <span class="material-icons search-icon">
                    search
                </span>
            </div> -->

                <div class="preparation" *ngFor="let item of ingridientItem.controls; let ind=index">
                    <app-ingridient-item [formControl]="ingridientItem.controls[ind]"></app-ingridient-item>
                </div>


                <button class="add-btn d-flex w-100" (click)="addIngridientItem()"><span class="m-auto btn-text">Add
                        Ingridient</span></button>
            </div>
            <!-- <div class="form-group ingridient-group pt-15 pl-0 pr-0 pb-0">
            <label>Ingridient</label>
            <div class="ingridient-header display-flex">
                <p class="title">Apple</p>
                <span class="material-icons close">
                    close
                </span>
            </div>
            <div class="ingridient-item-content">
                <app-ingridient-item [titleItem]="'true'"></app-ingridient-item>
                <app-ingridient-item [titleItem]="'true'"></app-ingridient-item>
                <app-ingridient-item [titleItem]="'true'"></app-ingridient-item>
                <app-ingridient-item [titleItem]="'true'"></app-ingridient-item>
                <app-ingridient-item [titleItem]="'true'"></app-ingridient-item>
                <app-ingridient-item [titleItem]="'true'"></app-ingridient-item>
            </div>

        </div> -->


            <div class="form-group form-grup-redius">
                <label>Caloris</label>
                <div class="checked  m-auto">
                    <input type="radio" class="radio" id="Auto Calcualted" name="form" value="Auto Calcualted" disabled>
                    <label for="male" class="label">Auto Calcualted</label>
                    <input type="radio" class="radio" id="Edit Manually" name="form" value="Edit Manually" checked>
                    <label for="female" class="label">Edit Manually</label>
                </div>

                <div class="form-group display-flex p-0">
                    <div class="caloris-content d-flex">
                        <span class="material-icons">
                            whatshot
                        </span>
                        <input type="text" class="form-input w-100" placeholder="Calories" formControlName="calories"
                            [ngClass]="{'form-title':checkIsValid('calories')}">
                    </div>
                    <div class="kcal-content">
                        <input type="text" class="form-input w-100" placeholder="Kcal" formControlName="kcal"
                            [ngClass]="{'form-title':checkIsValid('kcal')}">
                    </div>
                    <div class="macronutrients-content w-100">
                        <p class="title w-100">Macronutrients</p>
                        <mat-slide-toggle formControlName="macronutrients" (change)="changeMacronutrients($event)">
                        </mat-slide-toggle>
                    </div>

                </div>

                <div *ngIf="showmaCronutrients">
                    <div class="lable-content">
                        <label class="lable">Carbs</label>
                        <label class="lable">Protein</label>
                        <label class="lable">Fat</label>
                    </div>

                    <div class="form-group display-flex p-0 mt-20">
                        <div class="caloris-content d-flex">
                            <input type="text" class="form-input w-100" placeholder="Carbs" formControlName="carbs"
                                [ngClass]="{'form-title':checkIsValid('carbs')}">
                        </div>
                        <div class="kcal-content">
                            <input type="text" class="form-input w-100" placeholder="Protein" formControlName="protein"
                                [ngClass]="{'form-title':checkIsValid('protein')}">
                        </div>
                        <div class="macronutrients-content">
                            <input type="text" class="form-input w-100" placeholder="Fat" formControlName="fat"
                                [ngClass]="{'form-title':checkIsValid('fat')}">

                        </div>

                    </div>
                    <!-- <input type="radio" class="radio" id="Gram" name="form" value="Gram">
                    <label for="male" class="label">Gram</label>
                    <input type="radio" class="radio" id="Percentage" name="form" value="Percentage">
                    <label for="female" class="label">Percentage</label> -->

                    <div>
                        <mat-radio-group aria-label="Select an option" formControlName="mass">
                            <mat-radio-button value="gram" class="radio"><label>Gram</label></mat-radio-button>
                            <mat-radio-button value="kcal" class="radio">Percentage</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

            </div>
            <div class="form-group display-flex p-0 ">
                <label>Serving</label>
                <div class="caloris-content d-flex w-100 align-items-center">
                    <span class="material-icons">
                        room_service
                    </span>
                    <p class="title ml-2">Set serving size</p>
                </div>
                <div class="macronutrients-content">
                    <input type="text" class="form-input w-100" placeholder="Serving Size"
                        formControlName="serving_size" [ngClass]="{'form-title':checkIsValid('serving_size')}">
                </div>

            </div>

            <div class="form-group display-flex p-0 ">
                <label>Cooking time</label>
                <div class="caloris-content d-flex w-100 align-items-center">
                    <span class="material-icons">
                        query_builder
                    </span>
                    <p class="title ml-2">Set time</p>
                </div>
                <div class="macronutrients-content display-flex align-items-center">
                    <input type="text" class="form-input w-100" placeholder="Time" formControlName="time"
                        [ngClass]="{'form-title':checkIsValid('time')}">
                </div>

            </div>
            <div class="form-group pt-15 pl-0 pr-0 pb-0 form-grup-redius">
                <label>Preparation Steps</label>
                <div class="preparation" *ngFor="let control of preparationStepItem.controls; let ind=index">
                    <app-preparation-step [formControl]="preparationStepItem.controls[ind]" [index]="ind+1">
                    </app-preparation-step>
                </div>
                <button class="add-btn d-flex w-100"><span class="m-auto btn-text" (click)="addPreparationStep()">Add
                        Step</span></button>
            </div>
            <div class="form-group form-grup-redius">
                <label [ngClass]="{'form-lable':checkIsValid('information')}">Information</label>
                <textarea type="text" class="form-input w-100 information-input" placeholder="Type Recipe info here"
                    formControlName="information" [ngClass]="{'form-title':checkIsValid('information')}"></textarea>

            </div>

            <div class="form-group form-grup-redius">
                <label>Tags</label>
                <div class="d-flex justify-content-end">
                    <div class="tags w-100 d-flex">
                        <mat-form-field class="example-chip-list">
                            <mat-chip-list #chipList aria-label="Fruit selection">
                                <mat-chip *ngFor="let item of tag" [selectable]="selectable" [removable]="removable"
                                    (removed)="remove(item)">
                                    {{item}}
                                    <span class="material-icons" matChipRemove *ngIf="removable">clear</span>
                                </mat-chip>
                                <input placeholder="New Tags..." #fruitInput [formControl]="tagsCtrl"
                                    [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                <mat-option *ngFor="let item of filteredTags | async" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>

            </div>

        </div>
    </form>
    <div class="btn-content d-flex justify-content-end p-2">
        <button class="btn-item blue-btn" (click)="postRecipe()" [ngClass]="{'opacity':recipeFormGroup.invalid}"><span
                *ngIf="!paramsId">Post</span>
            <span *ngIf="paramsId">Edit</span>
            <app-loading *ngIf="loading">
            </app-loading>
        </button>
    </div>

</div>