@mixin text($fontSize, $lineHeight, $color) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}

.article {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 30px 43px #5C687B17;
    width: 600px;
    position: absolute;
    min-height: 100vh;
    height: auto;
    top: 82px;

    .header {
        height: 70px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 11px 13px 18px #3E598B0F;
        width: 100%;
        max-width: 600px;
        position: fixed;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-content: center;
        text-align: center;
        padding: 26px;

        .header-description {
            .header-title {
                @include text(14px, 16px, #589CFE);
                font-family: EncodeSans-SemiBold;
            }
        }
    }

    .main {
        margin: 100px 25px;

        .cover-content {
            .cover {
                width: 550px;
                height: 150px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                box-shadow: -1.63px 5px 18px #5C687B0D;
                border: 2px dashed #E3ECFD;
                border-radius: 20px;
                opacity: 1;
                flex-direction: column;

                .cover-title {
                    @include text(20px, 24px, #9DB3C9);
                    font-family: EncodeSans-SemiBold;
                    margin-bottom: 23px;
                }

            }

            .cover-image {
                height: 360px;
                position: relative;

            }

            .deleted-cover {
                width: 52px;
                height: 48px;
                background: #C0C9DE 0% 0% no-repeat padding-box;
                box-shadow: -3.76px 7px 7px #C0C9DC4F;
                border: 1px solid #FFFFFF;
                border-radius: 0px 0px 0px 20px;
                opacity: 0.85;
                cursor: pointer;
                top: 0;
                right: 0;
                position: absolute;
                display: flex;

            }

            .icon {
                margin: auto;
                color: #ffffff;
                font-size: 25px;
            }
        }

        .form-content {
            margin-top: 20px;
            .label {
                text-align: left;
                letter-spacing: 0px;
                opacity: 1;
                @include text(15px, 18px, #9DB3C9);
                font-family: EncodeSans-Bold;
                margin-left: 20px !important;
            }

            .form-group {
                margin: 15px 0 !important;

                .form-input {
                    margin: 0;
                    padding: 5px 23px;
                    font-size: 16px;
                    line-height: 19px;
                    color: #45535c;
                    font-family: "Nunito Sans", sans-serif !important;

                    &::placeholder {
                        @include text(16px, 19px, #bbcddf);
                        font-size: 16px;
                        line-height: 19px;
                        font-family: "Nunito Sans", sans-serif !important;
                    }
                }
            }
        }

        .form-group-content {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: -1.63px 5px 18px #5C687B0D;
            border: 1px solid #E3ECFD;
            border-radius: 16px;
            opacity: 1;
            min-height: 170px;
            max-height: auto;
            margin: 30px 0;

            .form-group-header {
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: #F8FAFE 0% 0% no-repeat padding-box;
                border-radius: 16px 16px 0px 0px;
                padding: 14px 25px;

                .header-title {
                    @include text(15px, 18px, #9DB3C9);
                    font-family: EncodeSans-SemiBold;

                }

                .icon {
                    @include text(24px, 18px, #9DB3C9);
                    cursor: pointer;

                }
            }

            .form-group-main {
                min-height: calc(170px - 50px);

                .article-image {
                    height: 380px;
                    border-radius: 0px 0px 16px 16px;
                }

                .form-group-input {
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    border: 1px solid #E3ECFD;
                    border-radius: 16px;
                    opacity: 1;
                    min-height: 50px;
                    width: 440px;
                    padding: 10px;
                    @include text(16px, 19px, #BBCDDF);
                    font-family: "Nunito Sans", sans-serif;

                    &::placeholder {
                        text-align: center;
                        @include text(16px, 19px, #BBCDDF);
                        font-family: "Nunito Sans", sans-serif;

                    }

                }

                .form-group-tetxt-area {
                    resize: none !important;
                    width: 100%;
                    min-height: 120px;
                    height: auto;
                    border-radius: 16px;
                    padding: 10px;
                    border: none;
                    @include text(16px, 19px, #BBCDDF);
                    font-family: "Nunito Sans", sans-serif;

                    &::placeholder {
                        @include text(16px, 19px, #BBCDDF);
                        font-family: "Nunito Sans", sans-serif;
                    }
                }

                .ckeditor-content {
                    margin: 10px 0;
                }
            }
        }

        .add-item-content {
            .add-container {
                flex-wrap: wrap;
                margin: 10px auto;

                .add-item {
                    background: #ffffff 0% 0% no-repeat padding-box;
                    box-shadow: -1.63px 5px 18px #5c687b0d;
                    border: 1px solid #bbcddf;
                    opacity: 1;
                    width: 50px;
                    height: 50px;
                    margin-right: 22px;
                    color: #589cfe;
                    border-radius: 50%;
                    display: flex;
                    cursor: pointer;

                    &:hover {
                        background: #589cfe;
                        color: white;
                    }
                }
            }
        }
    }
}



input[type="file"] {
    display: none !important;
}

////ng-deep 
::ng-deep {
    .cke_top {
        background: none !important;
        border: none !important;
        padding: 0 !important
    }

    .cke_bottom {
        display: none !important;
    }

    #cke_editor1 {
        resize: none !important;
        width: 100%;
        min-height: 120px;
        height: auto;
        border-radius: 16px;
        border: none !important;

    }

    #cke_1_contents {
        height: inherit !important;
    }

    .cke_chrome {
        border: none !important;
    }

    .cke_contents {
        height: auto !important;
    }
}