<div class="article">
    <div class="article-header">
        <div class="header-content display-flex">
            <div class="created" (click)="onClickShowCreatedMenu()">
                <span class="material-icons info">
                    info
                </span>
            </div>
            <div class="display-flex">
                <p class="text">Save Draft</p>
                <div class="btn-content d-flex align-items-center">
                    <button class="btn-item info-btn ml-2 mr-3">Preview</button>
                    <button (click)="publish()"
                        class="btn-item info-btn mr-3 active-btn">{{articleId?'Update':'Publish'}}</button>
                    <button class="btn-item info-btn btn-radius d-flex justify-content-center" (click)="onClickShowSetting()" [ngClass]="{'active-btn':showSetting}">
                        <span class="material-icons icon">
                            more_horiz
                        </span>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="created-main">
        <div class="setting created-menu" *ngIf="showCreatedMenu">
            <div class="created-menu-description">
                <div class="created-menu-contet display-flex">
                    <div class="created-item  w-100">
                        <div class="display-flex">
                            <p class="title">Created</p>
                            <p clas="date">June 10,2020</p>
                        </div>

                    </div>
                    <div class="created-item w-100">
                        <div class=" display-flex">
                            <p class="title">Last Edit</p>
                            <p clas="date">June 10,2020</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="setting setting-menu" *ngIf="showSetting">
            <div class="created-menu-description">
                <div class="created-menu-contet">
                    <div class="setting-item w-100">
                        <div class="display-flex">
                            <p class="title-setting m-auto">Seo Setting</p>
                        </div>
                    </div>
                    <div *ngIf="articleId" class="setting-item w-100">
                        <div (click)="deleteArticle()" class=" display-flex">
                            <p class="title-setting  m-auto">Delete Article</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [formGroup]="articleGroup" class="router-leyout">
        <div class="update-container">
            <div *ngIf="!articleGroup.get('cover').value"
                class="form-group broves-file broves-file-form d-flex align-items-start">
                <div class="m-auto">
                    <p class="title">Set Article Cover</p>
                    <input class="" type="file" id="file1" name="cover" (change)="setArticleCover($event)">
                    <label class="btn-item info-btn  d-flex mt-3" for="file1"><p class="m-auto">Broves Files</p>  <span
                            class="material-icons ml-2">
                            save_alt
                        </span></label>
                </div>
            </div>
            <div *ngIf="articleGroup.get('cover').value" class="image-content">
                <img [src]="fileUrl+articleGroup.get('cover').value" class="update-image" alt="Cinque Terre">
                <div (click)="deleteCover()" class="close-img d-flex">
                    <span class="material-icons m-auto">
                        close
                    </span>
                </div>

            </div>
            <div class="forms-group">
                <div class="form-group">
                    <label>Article Title</label>
                    <input formControlName="title" type="text" class="form-input w-100" placeholder="Type Title">
                </div>
                <!-- cdkDropList (cdkDropListDropped)="drop($event)" cdkDrag -->
                <div>
                    <div *ngFor="let control of getControls(); let i=index" style="position: relative;"
                        [formGroup]="control">

                        <div [ngSwitch]="control.get('type').value">
                            <div *ngSwitchCase="'text'" class="form-group d-flex align-items-start form-grup-redius">

                                <label>Content / Text</label>
                                <ckeditor (drop)="onDrop($event)" [config]="config" formControlName="value"
                                    class="form-input w-100" id="ckeditor"></ckeditor>
                                <span (click)="removeControl(true,i)" class="material-icons close">
                                    close
                                </span>
                            </div>

                            <div *ngSwitchCase="'image'" class="content-image display-flex w-100">
                                <app-content-image [contentImageItem]="control.get('value').value"
                                    (delete)="removeControl($event,i)" class="w-100">
                                </app-content-image>
                            </div>
                            <div *ngSwitchCase="'video'" class="content-image display-flex">
                                <app-content-video [source]="control.get('value').value"
                                    (delete)="removeControl($event,i)" class="w-100">
                                </app-content-video>
                            </div>
                        </div>

                    </div>
                </div>
                <div *ngIf="isShowImageRedacor"
                    class="form-group broves-file-form d-flex align-items-start form-grup-redius">
                    <label>Content / Image</label>
                    <div class="m-auto">

                        <input class="" type="file" id="file" name="avatar" (change)="setServicePhoto($event)">
                        <label class="btn-item info-btn d-flex" for="file"> Broves Files <span
                                class="material-icons ml-2">
                                save_alt
                            </span></label>
                    </div>
                    <span (click)="closeContentImage()" class="material-icons close">
                        close
                    </span>
                </div>

                <div *ngIf="isShowVideoRedactor"
                    class="form-group broves-file-form d-flex align-items-start form-grup-redius">
                    <label>Content / Youtube Image</label>
                    <div class="m-auto">
                        <button class="update-video-btn">
                            <span class="material-icons mr-2">
                                slideshow
                            </span>
                            <input formControlName="currentYoutubeLink" class="form-input link-input" type="text"
                                placeholder="Insert Youtube Link " name="" id="">
                            <span (click)="sendVideo()" class="material-icons mr-2">
                                send
                            </span>
                        </button>
                    </div>
                    <span (click)="closeContentVideo()" class="material-icons close">
                        close
                    </span>
                </div>
            </div>


        </div>
    </div>
    <div class="add-item-content d-flex w-100">
        <div class="add-container w-80  display-flex">
            <div (click)="addContent()" class="add-item active-item">
                <span class="material-icons m-auto">
                    title
                </span>
            </div>
            <div (click)="addImage()" class="add-item active-item">
                <span class="material-icons m-auto">
                    panorama
                </span>
            </div>
            <div class="add-item active-item" (click)="addVideo()">
                <span class="material-icons m-auto">
                    videocam
                </span>
            </div>
            <div class="add-item">
                <span class="material-icons m-auto">
                    maps_ugc
                </span>
            </div>
            <div class="add-item">
                <span class="material-icons m-auto">
                    integration_instructions
                </span>
            </div>
        </div>
    </div>
</div>