@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.feed-header-content {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0.77px 11px 43px #5C687B17;
    border: 0.5px solid #E3ECFD;
    border-radius: 15px;
    opacity: 1 !important;
    text-align: center;
    position: relative;

    .recipe-header {
        padding:18px 24px;
        .title {
            @include text(16px, 19px, #BEC8DD, EncodeSans-Bold);
            font-weight: bold;
            cursor: pointer;
        }
        .material-icons {
            font-size: 22px;
            line-height: 19px;
            color: #BEC8DD;
            font-weight: bold;
            cursor: pointer;
        }
        .message-input {
            width: 100%;
            min-height: 80px;
            max-height: 260px;
            border: none;
            background: none;
            @include text(16px, 22px, #45535C, MicrosoftYaHeiUI);
            resize: none;
            margin-top: 16px;
    
            &::placeholder {
                color: #BEC8DD;
            }
        }
        .emoji-content{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .smile-image{
                width: 30px;
                height: 30px;
                cursor: pointer;
            }
        }
    }
    .image-content {
        position: relative;
        .recipe-image {
     height: 330px;
        }
    }
  .button-content{
      border-top: 0.5px solid #E3ECFD;
      @include text(20px, 21px, #AFC1D1, EncodeSans-SemiBold);
      flex-wrap: wrap;
      .button-item{
        border-right: 0.5px solid #E3ECFD;
        align-items: center;
          cursor: pointer;
          padding: 19px 33px;
          &:last-child{
              border-right: none !important;
          }
      }
  }

}
.post-btn {
    background: #589CFE 0% 0% no-repeat padding-box;
    box-shadow: 0.84px 12px 35px #589CFE1A;
    border-radius: 0px 0px 15px 15px;
    opacity: 1;
    border: 1px solid #589CFE;
    padding: 16px 0;
    @include text(20px, 24px, #FFFFFF, EncodeSans-Bold);
    font-weight: bold;
}

input[type="file"] {
    display: none;
   }


   ::ng-deep .emoji-mart {
    width: 100% !important;
}

::ng-deep .emoji-mart-search input {
    padding: 5px 0px 5px 0px !important;
}

::ng-deep .backdrop{
    border-radius: 18px !important;
    z-index: 99999 !important;
display: none !important;
}

::ng-deep .bounce1{
    background-color: #589CFE !important;
}
::ng-deep .bounce2{
    background-color: #589CFE !important;
}
::ng-deep .bounce3{
    background-color: #589CFE !important;
}