@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.feed-header-content {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 9px 43px #5C687B21;
    border: 0.5px solid #F4F7FC;
    border-radius: 15px;
    opacity: 1;
    min-height: 160px;

    .created-publication-main {
        // border: 1px solid red;
        padding: 18px 16px 11px 16px;
        min-height: 160px;
    }
}
.title-part{
    textarea{
        padding: 13px 13px 13px 20px;
        resize: none;
        // max-height: 100px;
        // min-height: 30px;
        border: none;
        border-bottom: 1px solid #F1F6FC;
        width: 100%;
        font-size: 16px;
        color: #45535C;
        min-height: 46px;
        max-height: 100px;
        line-height: 20px;
    }
    textarea::placeholder{
        color: #BEC8DD;
    }
}
:host::ng-deep{
.lng-content{
    p-autocomplete{
        width: 100% !important;
        .ui-autocomplete .ui-autocomplete-input{
            width: 100%;
            border: none;
            padding: 13px 13px 13px 20px;
        }
        .ui-autocomplete .ui-autocomplete-input:focus{
            box-shadow: none !important;
        }
        .ui-autocomplete .ui-autocomplete-input::placeholder{
            color:#BEC8DD ;
        }
    }
}
}
.tags-item{
    padding-right: 25px;
    p-autocomplete{
        width: 80% !important;
    }
}
.tags-content{
    border-bottom: 1px solid #F1F6FC;
    padding-left: 10px; 
    .add-lng-btn{
        background: none;
        border-radius: 50%;
        width: 29px;
        height: 29px;
        border: 1px solid #BEC8DD;
        color: #BEC8DD;
        font-size: 21px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.lng-content{
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
    // padding-left: 10px;
    // padding-right: 25px;
}
.see-more-btn{   
    margin-left: auto;
   
}
.recipe-header {

    // padding: 10px 25px;
    .title-name {
        @include text(16px, 19px, #45535C, EncodeSans-Bold);
        cursor: pointer;
        margin-left: 10px;
    }

    .title {
        @include text(15px, 18px, #9DB3C9, EncodeSans-Medium);
        cursor: pointer;
    }

    .material-icons {
        font-size: 22px;
        line-height: 19px;
        color: #bbcddf;
        cursor: pointer;
    }

    .message-input {
        width: 100%;
        border: none;
        background: none;
        // margin-top: 8px;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 17px;
        line-height: 22px;
        color: #45535C;
        resize: none;
        overflow: hidden;
        display: block;
        padding: unset;
        margin: 16px 0 27px 0;

        &::placeholder {
            font-family: 'Nunito Sans', sans-serif;
            font-size: 17px;
            line-height: 20px;
            color: #BEC8DD;
        }
    }

    .emoji-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 10px;

        .smile-image {
            width: 30px;
            height: 30px;
            cursor: pointer;
            // margin: 10px 0;
            display: none;
        }
    }
}

.image-content {
    position: relative;

    .recipe-image {
        height: 330px;
    }
}

.button-content {
    @include text(16px, 21px, #bbcddf, EncodeSans-SemiBold);
   // flex-wrap: wrap;
    //height: 60px;
    //justify-content: space-between;

    // margin: 0 16px;
    .create-btn {
        width: 134px;
        height: 45px;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        background: #F4F6FB 0% 0% no-repeat padding-box;
        border-radius: 22px;
        opacity: 1;
        border: none;
        cursor: pointer;
        margin: 0 5px;
        @include text(16px, 19px, #A5B1CB, EncodeSans-Medium);

        &:hover {
            background: #589CFE;
            border: 1px solid #589CFE;
            color: #ffffff !important;
            width: 134px;
            height: 45px;
            align-items: center;
            text-align: center;
            display: flex;
            justify-content: center;
            border-radius: 22px;
            opacity: 1;
            box-shadow: -5.29px 7px 10px #589BFD36;
        }
    }

    .publication-icon {
        width: 20px;
    }
}


.post-btn {
    background: #589cfe 0% 0% no-repeat padding-box;
    box-shadow: 0.84px 12px 35px #589cfe1a;
    border-radius: 0px 0px 15px 15px;
    opacity: 1;
    border: 1px solid #589cfe;
    height: 60px;
    @include text(20px, 24px, #ffffff, EncodeSans-Bold);
}

input[type="file"] {
    display: none;
}

::ng-deep .emoji-mart {
    width: 100% !important;
}

::ng-deep .emoji-mart-search input {
    padding: 5px 0px 5px 0px !important;
}

::ng-deep .backdrop {
    border-radius: 18px !important;
    z-index: 99999 !important;
    display: none !important;
}

::ng-deep .bounce1 {
    background-color: #589cfe !important;
}

::ng-deep .bounce2 {
    background-color: #589cfe !important;
}

::ng-deep .bounce3 {
    background-color: #589cfe !important;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    // 1000;
    animation: animateBackground 0.2s ease-in;
    animation-fill-mode: forwards;

}

.modal-mode {
    position: relative;
    z-index: 11
    // 1001;
}
.placeholder-label{
    font-weight: normal;
    color: #BEC8DD;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 82%;
    padding: 22px 10px;
}
::ng-deep {
    .feed-header-content{
    .ui-autocomplete-input-token input::placeholder{
        color: #BEC8DD;
        font-size: 16px;
    }
    .tags-item{
        .ui-autocomplete-input-token{
            display: none !important;
        }
    }
   
    .ui-autocomplete-multiple-container.ui-inputtext{
        border: none !important;
    }
    .ui-autocomplete-token {
        background: white !important;
        border-radius: 18px !important;
        opacity: 1 !important;
        padding: 5px 30px 5px 10px !important;
        color: #589CFE !important;
        font-size: 16px !important;
        line-height: 19px !important;
        font-family: "Nunito Sans", sans-serif !important;
        margin: 0 5px 5px 0 !important;
        border: 1px solid #589CFE;
    }

    .ui-autocomplete-multiple-container {
        background: #ffffff 0% 0% no-repeat padding-box !important;
        border: none !important;
        // 1px solid #edf1f8 !important;
        // border-radius: 16px !important;
        opacity: 1 !important;
        min-height: 50px !important;
        height: auto !important;
        width: 100% !important;
        // padding: 14px 23px !important;
        margin-top: 10px !important;

        .ui-state-focus {
            &::placeholder {
                @include text(16px, 19px, #bbcddf, NunitoSans-Regular !important);
            }
        }
    }

    .ui-autocomplete {
        width: 100% !important;
    }

    .pi-times:before {
        //display: none !important;
        font-size: 11px !important;
        display: flex !important;
        margin: 4px 10px !important;
    }

    .ui-autocomplete-token-label {
        margin-right: 0 !important;
    }

    .ui-autocomplete .ui-state-focus {
        border: none !important;
        box-shadow: none !important;
    }

    .ui-multiselect-trigger {
        background-color: none !important;
        border-radius: 16px !important;
    }
}
}
@keyframes animateBackground {
    from {
        background-color: transparent
    }

    to {
        background-color: #bbcddf;
        opacity: .8
    }
}

.style {
    margin: 0 !important;
}


.textArea-height {
    min-height: 23px !important;
}



.message-input {
    height: 23px;
}




///////
.isModalModeStyle{
    height: auto !important;
}
.height-auto {
    height: auto !important;
}
