<div class="feed-header-content" [class.modal-mode]="isModalMode">
    <div class="recipe-header">
        <div class="display-flex">
            <p class="title">Create Pablication</p>
            <div class="d-flex">
                <div class="d-flex" *ngIf="isModalMode">
                    <input #inputImageReference class="" type="file" id="file" name="avatar"
                        accept="image/png,image/jpeg" (change)="setServicePhoto($event,'image')">
                    <label class="label-btn d-flex" for="file">
                        <div class="display-flex">
                            <span class="material-icons">
                                panorama
                            </span>
                            <p class="title ml-2 mr-2">Photo /</p>
                        </div>
                    </label>
                </div>

                <div class="d-flex" *ngIf="isModalMode">
                    <input #inputVideoReference class="" type="file" id="videofile" name="videofile"
                        accept="video/mp4,video/x-m4v,video/" (change)="setServicePhoto($event,'video')">
                    <label class=" label-btn d-flex" for="videofile">
                        <div class="display-flex">
                            <p class="title ml-2 mr-2">Video</p>
                        </div>
                    </label>
                </div>

            </div>
        </div>
        <div class="emoji-content"  >
            <emoji-mart (emojiClick)="addEmoji($event)" emoji="point_up" *ngIf="showemoji"></emoji-mart>
            <textarea type="text" [formControl]="postType" class="message-input" placeholder="Type Something..."
                (focus)="showPost()" (blur)="play()">
        </textarea>
            <img src="assets/icons/smile.png" class="smile-image" (click)="showEmoji()" *ngIf="isModalMode">
        </div>
    </div>

  
      
        <div class="image-content" *ngIf="uploadType==='image'" >
         
            <img [src]="controImageItem" class="recipe-image" alt="" >
            <div class="close-img d-flex">
                <span class="material-icons m-auto" (click)="closeControlItem()">
                    close
                </span>
            </div>
        </div>

    <div class="image-content" *ngIf="uploadType==='video'">
        <video controls class="update-image w-100" poster="{{videoTumble}}" [src]="controVideoItem">
        </video>
        <div class="close-img d-flex" (click)="closeControlItem()">
            <span class="material-icons m-auto">
                close
            </span>
        </div>
    </div>
    <div class="localimage-content" *ngIf="showYoutube">
        <div>
            <plyr style="display:block" plyrTitle="Video 1" [plyrSources]="videoSources"></plyr>
        </div>
   
    </div>


    <div class="button-content display-flex"  *ngIf="!isModalMode">
        <div class="button-item d-flex" routerLink="/article">
            <span class="material-icons mr-1">
                description
            </span>
            <span>Article</span>
        </div>
        <div class="button-item d-flex" routerLink="/recipe" routerLinkActive="activeTab">
          <img src="assets/icons/Recipes.svg" class="publication-icon mr-1">
            <span>Recipe</span>
        </div>
        <div class="button-item d-flex">
            <img src="assets/icons/Comment.svg" class="publication-icon mr-1">
            <span>Query</span>
        </div>
        <div class="button-item d-flex">
            <span class="material-icons mr-1">
                panorama
            </span>
            <span>B / A</span>
        </div>

    </div>
    <div   *ngIf="isModalMode">
        <button class="post-btn w-100" (click)="createdPost()"><span>Post</span></button>
    </div>
    <spinner-loading *ngIf="loading"></spinner-loading>
</div>


<div class="overlay" (click)="onClickOverlay()" *ngIf="isModalMode"></div>
