@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.feed-header-content {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 2.09px 30px 43px #5C687B17;
    border: 0.5px solid #F4F7FC;
    border-radius: 15px;
    opacity: 1 !important;
    text-align: center;
    position: relative;
     height: 160px;

    .recipe-header {
        padding: 10px 25px;
        .title-name{
            @include text(16px, 19px, #45535C, EncodeSans-Bold);
            cursor: pointer;
        }
        .title {
            @include text(15px, 18px, #9DB3C9, EncodeSans-Medium);
            cursor: pointer;
        }

        .material-icons {
            font-size: 22px;
            line-height: 19px;
            color: #bbcddf;
            cursor: pointer;
        }

        .message-input {
            width: 100%;
             border: none;
            background: none;
            margin-top: 8px;
            font-family: 'Nunito Sans', sans-serif;
            font-size: 17px;
            line-height: 22px;
            color: #45535C;
            resize: none;
            overflow: hidden;
            display:block;
            padding: unset;

            &::placeholder {
                font-family: 'Nunito Sans', sans-serif;
                font-size: 17px;
                line-height: 20px;
                color: #BEC8DD;
            }
        }

        .emoji-content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .smile-image {
                width: 30px;
                height: 30px;
                cursor: pointer;
                margin: 10px 0;
                display: none;
            }
        }
    }

    .image-content {
        position: relative;

        .recipe-image {
            height: 330px;
        }
    }

    .button-content {
        @include text(16px, 21px, #bbcddf, EncodeSans-SemiBold);
        flex-wrap: wrap;
        height: 60px;
        justify-content: space-between;
        margin: 0 16px;
.hovher-btn{
    &:hover{
        background: #589CFE;
        border: 1px solid #589CFE;
        color: #ffffff !important;
    }
}

        .publication-icon {
            width: 20px;
        }
    }
}

.post-btn {
    background: #589cfe 0% 0% no-repeat padding-box;
    box-shadow: 0.84px 12px 35px #589cfe1a;
    border-radius: 0px 0px 15px 15px;
    opacity: 1;
    border: 1px solid #589cfe;
    padding: 16px 0;
    @include text(20px, 24px, #ffffff, EncodeSans-Bold);
}

input[type="file"] {
    display: none;
}

::ng-deep .emoji-mart {
    width: 100% !important;
}

::ng-deep .emoji-mart-search input {
    padding: 5px 0px 5px 0px !important;
}

::ng-deep .backdrop {
    border-radius: 18px !important;
    z-index: 99999 !important;
    display: none !important;
}

::ng-deep .bounce1 {
    background-color: #589cfe !important;
}

::ng-deep .bounce2 {
    background-color: #589cfe !important;
}

::ng-deep .bounce3 {
    background-color: #589cfe !important;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    animation: animateBackground 0.2s ease-in;
    animation-fill-mode: forwards;

}

.modal-mode {
    position: relative;
    z-index: 1001;
}

@keyframes animateBackground {
    from {
        background-color: transparent
    }

    to {
        background-color: #bbcddf;
        opacity: .8
    }
}

.style{
    margin: 0 !important;
}

.height-auto{
    height: auto !important;
}
.textArea-height{
    min-height: 90px !important;
}