<div class="gallery-content">
    <div class="gallery-container display-flex">
        <div class="gallery-item" *ngFor="let item of galleryItem">
            <div class="image-content">

      
            <img [src]="item?.image" class="gallery-image">
            <div class="gallery-hovher d-flex">
                    <div class="gallery-hovher-item d-flex m-auto">
                     <img src="assets/icons/Comment.svg" class="icon">
                        <p>30</p>
                        <img src="assets/icons/Energy.svg" class="icon">
                        <p>60</p>
                    </div>
                </div>
        </div>
        
        </div>
    </div>
</div>