.gallery-content {
    .gallery-container {
        flex-wrap: wrap;

        .gallery-item {
            width: 33.3333333%;
            padding: 5px;
            position: relative;

            cursor: pointer;

            .gallery-image {
                height: 190px;

            }

            .gallery-hovher {
                background: transparent linear-gradient(0deg, #000000B3 0%, #00000026 100%) 0% 0% no-repeat padding-box;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                opacity: 0;

                .gallery-hovher-item {
                    color: #ffffff;
                    font-size: 20px;
                    line-height: 40px;
                    align-items: center;
                    width: 70%;
                    justify-content: space-between;
                }
            }
        }
    }
}

.gallery-item:hover {
    .gallery-hovher {
        opacity: 0.74 !important;
    }
}