
            .image-content {
                position: relative;
                .image-item{
                .gallery-image {
                    height: 190px;
                }
                .gallery-hovher {
                    background: transparent linear-gradient(0deg, #000000B3 0%, #00000026 100%) 0% 0% no-repeat padding-box;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    opacity: 0;

                    .gallery-hovher-item {
                        color: #ffffff;
                        font-size: 20px;
                        line-height: 40px;
                        align-items: center;
                        width: 70%;
                        justify-content: space-between;
                    }
                }
                .icon{
                    width: 20px;
                }
            }
        }

.image-item:hover {
    .gallery-hovher {
        opacity: 0.74 !important;
    }
}
.video-item{
    height: 190px;
    background: black;
}

::ng-deep  {
    .youtube-video{
        .plyr--video .plyr__controls{
            display: none !important;

        }
    }
}

:host::ng-deep{
    .youtube-video{
        .plyr{
            min-width: 100% !important;
            height: 190px;
        }
    }
}
.pointer-events-none{
    pointer-events: none;
}