<div class="property-content">
    <div class="text-right">
        <span class="material-icons clear-icon" (click)="closeModal()">
            clear
        </span>
    </div>

    <div class="property-main d-flex justify-content-between pg-container">
        <div class="image-content">
            <img src="{{fileUrl+content?.url}}" class="image d-none" alt="Cinque Terre"
                [ngClass]="{'d-block':content?.type==='image'}">

            <video controls class="video d-none w-100" poster="" [ngClass]="{'d-block':content.type==='video'}"
                src="{{fileUrl+content?.url}}">
            </video>

        </div>
        <div class="property-description">
            <div class="item-header">
                <div class="item-head-description">
                    <img [src]="localImage" class="image" alt="Cinque Terre">
                    <p class="name-title mb-0" *ngIf="role==='client'">
                        {{feedItem?.creator_client_info?.user?.first_name}}</p>
                    <p class="name-title mb-0" *ngIf="role==='coach'">{{feedItem?.creator_info?.user?.first_name}}</p>
                    <p class="name-title mb-0" *ngIf="!role && feedItem.creator_info">
                        {{feedItem?.creator_info?.user?.first_name}}</p>
                    <p class="name-title mb-0" *ngIf="!role && feedItem.creator_client_info">
                        {{feedItem?.creator_client_info?.user?.first_name}}</p>

                    <p class="time mb-0">{{timeStamp}}</p>
                </div>

                <span class="material-icons icon">
                    more_vert
                </span>
            </div>
            <div class="post-content">
                <div class="post-container">
                    <p class="title show-content">{{feedTitle}} <span *ngIf="seeMore" class="title more"
                            (click)="onClickSeeMore()">... See More</span></p>
                </div>


            </div>
            <div class="comments-content" *ngIf="isOpen">
                <app-comments (sendMessage)="sendMessage($event)" (likeOrDislike)="likeOrDislike($event)"
                    *ngFor="let item of comments" [feed]="feedItem" [comments]="item" [role]="role"
                    [type]="content?.type"></app-comments>
            </div>
            <app-settings [feed]="feedItem" [role]="role" (getButtonsType)="getButtonsType($event)"
                (openChanges)='onClickOpen($event)' [type]="content?.type"></app-settings>

            <div *ngIf="isOpen">
                <app-posts-comments [feed]="feedItem" (sendMessage)="sendMessage($event)" *ngIf="role"
                    [comments]="comments">
                </app-posts-comments>
            </div>

        </div>

    </div>
</div>