.property-content {
.text-right{
    position:absolute;
    top: 0;
    right: 0;
}
    .property-main {
        background: #FFFFFF;
        border-radius: 15px;
        opacity: 1;
        margin: auto !important;

        .image-content {
            width: 100%;
            max-width: 980px;
       

            .image {
                height: 800px;
                border-radius: 15px 0px 0px 15px;
            }

            .video {
                height: 800px;
                border-radius: 0 0 0 15px;
            }
        }

        .property-description {
            width: 100%;
            max-width: 420px;
            padding: 20px 20px;
            max-height: 800px;
            overflow-y: scroll;
            border-radius: 15px;

            .item-header {
                padding: 0 !important;
            }

            .post-content {
                margin: 10px 0;
                border-bottom: 1px solid #bbcddf;
                border-top: 1px solid #bbcddf;
                padding: 10px 0;
            }
        }
        .name-title{
            font-size: 19px !important;
        }
        .time{
            font-size: 14px !important;
        }
        .icon{
            color: #45535c;
        }
    }
}
.comments-content{
    max-height: 420px;
    overflow-y: auto;
}
.show-content {
    font-size: 14px !important;
    line-height: 16px;
    overflow: hidden;
    transition: .5s all ease-out;
}

.show {
    overflow: visible;
    height: auto;
    transition: .5s all ease-out;
}

::ng-deep .mat-dialog-container {
padding:0 ;
 background:none;
 box-shadow: none;
}

.setting-item .title {
    font-size: 15px !important;
    line-height: 25px !important;
}

.setting-content {
    padding: 20px 0px !important;
}


.time{
    margin-left: 12px !important;
    font-size: 12px !important;

}
.name-title {
    font-size: 14px !important;
    display: inline-block !important;
    width: 130px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}