<div class="property-content">
    <div class="property-main d-flex justify-content-between">
        <div class="image-content">
                <img src="assets/images/foodimg.png" class="image d-none" alt="Cinque Terre" [ngClass]="{'d-block':type==='image'}">

                    <video controls class="video d-none w-100" poster="assets/images/img.4.png"  [ngClass]="{'d-block':type==='video'}">
                        <source src="assets/images/vido.mp4">
                    </video>
        </div>
        <div class="property-description">
                    <div class="item-header">
                            <div class="item-head-description">
                                <img src="assets/images/img1.png" class="image" alt="Cinque Terre" >
                                <p class="name-title mb-0">Barbara Smith</p>
                                <p class="time mb-0">1 hour ago</p>
                            </div>
                    
                            <span class="material-icons icon">
                                more_vert
                            </span>
                        </div>
                        <div class="post-content">
                                <div class="post-container" >
                                    <p class="title show-content" [ngClass]="{'show':show}">{{title}}</p>
                                    <p class="title more">...</p>
                                    <p class="title more" (click)="onClickSeeMore()">See More</p>
                                </div> 
                            
                            </div>
        </div>
    </div>
</div>