<div class="settings d-flex align-items-center justify-content-between">
    <div class="setting-item">
        <span class="material-icons icon">
            settings
        </span>
        <p class="title" [ngClass]="{'fontSize':type}" (click)="onClickOpenComments()">Comments 30</p>
    </div>
    <div class="setting-item">
        <span class="material-icons icon">
            settings
        </span>
        <p class="title"   [ngClass]="{'fontSize':type}"> Energy 30</p>
    </div>
    <div class="setting-item">
        <span class="material-icons icon ">
            settings
        </span>
        <p class="title"  [ngClass]="{'fontSize':type}">Reposts 10</p>
    </div>
</div>