@mixin text($fontSize, $lineHeight, $color) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}

.settings {
    width: 100%;

    .setting-item {
        width: 100%;
        max-width: 33.3333333333;
        padding: 10px;
        display: flex;
        align-items: center;
        border-right: 1px solid #E3ECFD;
        margin-top: 10px;
        &:last-child{
            border: none !important;
        }
        .icon {
            font-size: 20px;
            color: #E3ECFD;
        }

        .title {
            @include text(16px, 20px, #45535C);
            cursor: pointer;
            margin-left: 5px;

        }
       
    }
}

.fontSize {
    font-size: 9px !important;
}