@mixin text($fontSize, $lineHeight, $color) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}

.settings {
    width: 100%;

    .setting-item {
        width: 100%;
        max-width: 33.3333333333;
        padding: 1.2em;
        display: flex;
        align-items: center;

        .icon {
            font-size: 20px;
            color: #E3ECFD;
        }

        .title {
            @include text(16px, 20px, #45535C);
            cursor: pointer;
            margin-left: 5px;

            &:after {
                content: "";
                border: 1px solid #E3ECFD;
                margin-left: 30px;
                height: 1px;
                background: #E3ECFD;
            }
        }

    }
}

.fontSize {
    font-size: 9px !important;
}