<div class="home-container">
    <div class="home-main">
        <div class="profile-description">
            <img src="assets/images/profile-img.png" class="cover-image" alt="Cinque Terre">
            <div class="profile-content">
                <div class="profile-header-content display-flex">
                    <div class="profile-image">
                        <!-- <img [src]="localImage" class="user-image" alt="Cinque Terre"> -->
                        <div class="profile-image">
                            <div  *ngIf="checkIsMe()" class=" d-flex">
                                <input class="" type="file" id="file" name="avatar" accept="image/png,image/jpeg"
                                    (change)="setServicePhoto($event)">
                                <label class="icon-btn d-flex m-auto" for="file">
                                    <i class="fa fa-refresh m-auto" aria-hidden="true"></i>
                                </label>
                            </div>
                            <img [src]="localImage" class="user-image" alt="Cinque Terre">
                            <button class="btn coach-btn" *ngIf="userRole==='coach'">Coach</button>
                            <spinner-loading  [profileLoading]="true" *ngIf="loading"></spinner-loading>
                        </div>
                        <!-- <button class="btn coach-btn" *ngIf="role==='coach'">Coach</button> -->
                    </div>

                    <div class="btn-content d-flex align-items-center">
                        <button *ngIf="!checkIsMe() && role" (click)="follow()" [class.followed]="isFollowed" class="btn follow-btn">Follow</button>
                        <button *ngIf="checkIsMe()" class="btn follow-btn d-flex"  routerLink="/edit-profile"
                            routerLinkActive="profileActiveTab">Edit Profile
                            <span class="ml-2 material-icons">
                                create
                            </span>
                        </button>
                        <button class="btn-item info-btn" *ngIf="role==='coach'">Packages</button>
                        <button class="btn-item info-btn btn-radius">
                            <span class="material-icons icon">
                                insert_comment
                            </span>
                        </button>
                        <button class="btn-item info-btn  btn-radius" (click)="onClickShowSocialMedium()"
                            [ngClass]="{'active-btn':showSocialMedium}">
                            <span class="material-icons icon">
                                alternate_email
                            </span>
                        </button>
                        <button class="btn-item info-btn btn-radius" (click)="onClickShowMore()"   [ngClass]="{'active-btn':showMore}">
                            <span class="material-icons icon ">
                                more_horiz
                            </span>
                        </button>
                    </div>
                </div>
                <div class="social-media" *ngIf="showSocialMedium">
                    <p> <i class="arrow up"></i></p>
                    <div class="social-media-description">
                        <img src="assets/images/social/inst.png.png" class="social-image mt-0" alt="Cinque Terre">
                        <img src="assets/images/social/facebook.png" class="social-image" alt="Cinque Terre">
                        <img src="assets/images/social/linkedin.png.png" class="social-image" alt="Cinque Terre">
                        <img src="assets/images/social/twitter.png" class="social-image" alt="Cinque Terre">
                    </div>
                </div>
                <div class="more-content" *ngIf="showMore">
                    <p> <i class="arrow up"></i></p>
                    <div class="more-description">
                        <p class="more-item w-100">Copy Profile URL</p>
                        <p class="more-item w-100">Block</p>
                        <p class="more-item w-100">Report</p>
                    </div>
                </div>


                <div class="main-layout">
                    <router-outlet></router-outlet>
                </div>
            </div>


        </div>

    </div>
</div>