<div class="home-container">
    <div class="home-main">
        <div class="profile-description">
            <div class="header">
                <img [src]="headerLocalImage" class="cover-image" alt="Cinque Terre"
                    (click)="openProfileCoverModal(headerLocalImage)">
                <div *ngIf="checkIsMe()" class=" d-flex">
                    <input class="" type="file" id="headerprofile" name="headerprofile" accept="image/png,image/jpeg"
                        (change)="setServiceHeaderPhoto($event)">
                    <label class="header-icon-btn d-flex m-auto" for="headerprofile">
                        <i class="fa fa-refresh m-auto" aria-hidden="true"></i>
                    </label>
                </div>
            </div>
            <div class="profile-content">
                <div class="profile-header-content display-flex" (clickOutside)="onClickedOutside($event)">
                    <div class="profile-image">
                        <div class="profile-image">
                            <div *ngIf="checkIsMe()" class=" d-flex">
                                <input class="" type="file" id="profile" name="profile" accept="image/png,image/jpeg"
                                    (change)="setServicePhoto($event)">
                                <label class="icon-btn d-flex m-auto" for="profile">
                                    <i class="fa fa-refresh m-auto" aria-hidden="true"></i>
                                </label>
                            </div>
                            <img [src]="localImage" class="user-image" alt="Cinque Terre"
                                (click)="openProfileCoverModal(localImage)">
                            <button class="btn coach-btn" *ngIf="userRole==='coach'">Coach</button>
                            <spinner-loading [profileLoading]="true" *ngIf="loading"></spinner-loading>
                        </div>
                    </div>

                    <div class="btn-content d-flex align-items-center">
                        <button *ngIf="!checkIsMe() && role" (click)="follow()" [class.active-btn]="isFollowed"
                            class="btn-item info-btn">{{isFollowed?'Unfollow':'Follow'}}</button>
                        <button class="btn-item info-btn" *ngIf="role==='coach'">
                            <div class="btn-container"><span>Packages</span></div>
                        </button>


                        <div class="social-media-btn-content">
                            <button class="btn-item info-btn  btn-radius social-media-btn">
                                <span class="material-icons icon">
                                    alternate_email
                                </span>
                            </button>
                            <div class="social-media">
                                <div class="social-media-description">
                                    <a href="{{userData?.data?.instagram}}" target="blank">
                                        <img src="assets/images/social/inst.png.png" class="social-image mt-0"
                                            alt="Cinque Terre">
                                    </a>
                                    <a href="{{userData?.data?.facebook}}" target="blank">
                                        <img src="assets/images/social/facebook.png" class="social-image"
                                            alt="Cinque Terre">
                                    </a>
                                    <a href="{{userData?.data?.linkedin}}" target="blank">
                                        <img src="assets/images/social/linkedin.png.png" class="social-image"
                                            alt="Cinque Terre">
                                    </a>
                                    <a href="{{userData?.data?.youtube}}" target="blank">
                                        <img src="assets/images/social/youtube.jpg" class="social-image"
                                            alt="Cinque Terre">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <button *ngIf="checkIsMe()" class="btn-item info-btn" routerLink="/edit-profile"
                            routerLinkActive="profileActiveTab">
                            <div class="btn-container">
                                <span>Edit Profile</span>
                                <span class="ml-2 material-icons">
                                    create
                                </span>
                            </div>

                        </button>
                        <button class="btn-item info-btn btn-radius" *ngIf="!checkIsMe() && role">
                            <span class="material-icons icon">
                                insert_comment
                            </span>
                        </button>
                        <button class="btn-item info-btn btn-radius" (click)="onClickShowMore()"
                            [ngClass]="{'active-btn':showMore}">
                            <span class="material-icons icon ">
                                more_horiz
                            </span>
                        </button>
                    </div>
                </div>

                <div class="more-content" *ngIf="showMore">
                    <p> <em class="arrow up"></em></p>
                    <div class="more-description">
                        <p class="more-item w-100" (click)="copyUrl()">Copy Profile URL</p>
                        <p class="more-item w-100" *ngIf="role == 'coach' && checkIsMe()" (click)="copyReferralUrl()">Get my referral link</p>

                        <p class="more-item w-100">Block</p>
                        <p class="more-item w-100">Report</p>
                    </div>
                </div>               


            </div>
            <div class="main-layout">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>

</div>