@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
    
}

.review-item {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 30px 43px #5C687B17;
    border-top: 0.5px solid #E3ECFD;
    // border-radius: 24px;
    opacity: 1;
    // margin: 10px auto;

    .review-item-description {
        padding: 28px 35px 14px 28px;

        .review-user-image {
            width: 42px;
            height: 43px;
            border-radius: 50%;
        }

        .name-title {
            @include text(17px, 20px, #45535C, EncodeSans-Bold !important);
             
        }

        .title-description {
            margin-left: 55px;

            .title {
                @include text(16px, 25px, #45535C, MicrosoftYaHeiUI);
                width: 100%;
                max-width: 375px;
            }

            .date {
                @include text(14px, 25px, #bbcddf, BarlowCondensed-Regular);

            }
        }

        .review-button {
            @include text(16px, 19px, #589CFE, EncodeSans-Bold !important);
            border: 1px solid #589CFE;
            border-radius: 14px;
            opacity: 1;
            background: #FFFFFF;
            height: fit-content;
            padding: 5px 15px;
        }
        .star-image{
            width: 18px;
            margin: 3px;
        }
    }
}