<div class="review-item w-100">
    <div class="review-item-description">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <img src="assets/images/img8.png" class="review-user-image" alt="Cinque Terre">
                <p class="name-title ml-3">Shwain Mendes</p>
            </div>
            <div class="d-flex">
                <button class="review-button mr-3"><p>4.5</p></button>
                <div class="star-item" *ngFor="let item of reviewItem">
                    <span class="material-icons star-icon">
                        grade
                    </span>
                </div>
            </div>
        </div>
        <div class="title-description">
        <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, qui possimus!</p>
        <div class="display-flex">
        <p class="date">Jun 25,2020</p>
        <p class="date">View Replay 2</p>
    </div>
        </div>
    </div>
</div>