@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.signUp-main {
    padding: 20px 0;
    .title {
        @include text(25px, 30px, #5897F6, EncodeSans-Bold);
        font-weight: 600;
    }

    .main-header {
        margin-top: 15px;

        .title {
            @include text(14px, 16px, #45535C, EncodeSans-Medium);
        }

        .text {
            @include text(14px, 16px, #5897F6, EncodeSans-Medium);
            cursor: pointer;
        }

    }

    .signUp-form {
        margin-top: 30px;

        .checkbox {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #E3ECFD;
            opacity: 1;
            width: 23px;
            height: 23px;
            border-radius: 50% !important;
        }

        .form-group {
         text-align: start !important;
         color: #BECDE8;
        }

        .checkbox-lable {
            @include text(16px, 16px, #BECDE8, EncodeSans-SemiBold);
            margin-left: 15px;
            font-weight: bold;
        }

        .btn-content {
            margin-top: 40px;

            .signUp-btn {
                padding: 10px 20px;
                @include text(18px, 21px, #5897F6, EncodeSans-Bold);
                cursor: pointer;
                font-weight: bold;
                border: 1px solid #6CA7FE;
                border-radius: 23px;
                opacity: 1;
            }
        }
    }
}


.border {
    border-bottom: 1px solid #ff1a1aAA !important;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    background: none !important;
}
.color{
    color: red !important;
}
::ng-deep .mat-form-field {
    .mat-input-element {
        color: #E3ECFD !important;
    }

    .mat-form-field-label {
        color: #E3ECFD !important;
    }

    .mat-form-field-underline {
        background-color: #E3ECFD !important;
    }

    .mat-form-field-ripple {
        background-color: #E3ECFD !important;
    }

    .mat-form-field-required-marker {
        color: #E3ECFD !important;
    }
}


::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color: #E3ECFD !important;
    }

    .mat-form-field-ripple {
        background-color: #E3ECFD !important;
    }

    .mat-form-field-required-marker {
        color: #E3ECFD !important;
    }

    .mat-input-element {
        color: #E3ECFD !important;
    }
}

::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
        color: #E3ECFD !important;
    }

    .mat-form-field-label {
        color: #E3ECFD !important;

        .mat-form-field-required-marker {
            color: #E3ECFD !important;
        }
    }

    .mat-form-field-ripple {
        background-color: #E3ECFD !important;
    }
}

::ng-deep .mat-select-arrow {
    color: #E3ECFD !important
}


::ng-deep.mat-select-value {
    color: #45535C !important;
    font-weight: bold !important;
}


input[type="text"][required]:focus+label[placeholder]:before {
    color: #CFCFE9;
}

input[type="text"][required]:focus+label[placeholder]:before,
input[type="text"][required]:valid+label[placeholder]:before {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
    transform: translate(0, -1.5em) scale(0.9, 0.9);
}

input[type="text"][required]:invalid+label[placeholder][alt]:before {
    content: attr(alt);
}

input[type="text"][required]+label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
}

input[type="text"][required]+label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #CFCFE9 !important;
    white-space: nowrap;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
}