<div class="signUp-main">
    <p class="title">Welcome to Marathone</p>
    <div class="main-header display-flex">
        <p class="title">Registr new Account</p>
        <p class="text" (click)="onChangeAuthMain(tab)">Sign In</p>
    </div>
    <form [formGroup]="signUpGroup">
        <div class="signUp-form">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" required='' class="form-input w-100" formControlName="firstName">
              
            </div>
            <div class="form-group">
                <label>User Name</label>
                <input type="text" required='' class="form-input w-100" formControlName="userName">
            </div>

            <div  class="form-group">
                <label>email</label>
                <input type="text" required='' class="form-input w-100" formControlName="email">
            
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" required='' class="form-input w-100" formControlName="lastName">
 
            </div>

            <div class="form-group">
                <label>password</label>
                <input type="text" required='' class="form-input w-100" formControlName="password">
           
            </div>

            <div class="auth-description social-media">
               
                <div class=" display-flex">
                        <div>
                                <input type="checkbox" id="scales" name="scales"  formControlName="coach">
                                <label for="scales" class="text ml-2">Coach</label>
                            </div>
                    <p class="text">Sign in with</p>
                    <i class="fa fa-google icon" aria-hidden="true" (click)="signInWithGoogle()"></i>
                    <i class="fa fa-facebook icon" aria-hidden="true" (click)="signInWithFB()"></i>
                    <i class="fa fa-twitter icon" aria-hidden="true"></i>
                </div>
            </div>
            <div class="btn-content d-flex justify-content-end">
                <button class="btn signUp-btn" [disabled]="signUpGroup.invalid" (click)="onClickSignUp()"><span>Get
                        Started</span>
                    <app-loading *ngIf="loading"></app-loading>
                </button>
            </div>
        </div>

    </form>
</div>