<div class="signUp-main">
    <div class="main-header display-flex">
        <p class="title">Registr new account</p>
        <p class="text" (click)="onChangeAuthMain(tab)">Sign In</p>
    </div>
    <form [formGroup]="signUpGroup">
        <p class="text-danger mt-2">{{errorMessage}}</p>
        <div class="signUp-form">
            <div class="form-group">
                <label [ngClass]="{'activeTab':chackIsValid('email')}">Email</label>
                <input type="text" required='' placeholder="Email" class="form-input w-100" formControlName="email">
            </div>
            <div class="d-flex" class="d-none"  [ngClass]="{'d-block':signUpGroup.get('email').hasError('pattern') && signUpGroup.get('email').touched}">
                <span class="message"
               >Please
                provide a valid email</span>
            </div>
          
            <div class="form-group">
                <label [ngClass]="{'activeTab':chackIsValid('firstName')}">Full Name</label>
                <input type="text" required='' placeholder="Full Name" class="form-input w-100"
                    formControlName="firstName">

            </div>
            <div class="form-group">
                <label [ngClass]="{'activeTab':chackIsValid('userName')}">User Name</label>
                <input type="text" required='' placeholder="User Name" class="form-input w-100"
                    formControlName="userName">
            </div>
            <div class="form-group">
                <label [ngClass]="{'activeTab':chackIsValid('slug')}">Slug</label>
                <input type="text" required='' placeholder="Slug" class="form-input w-100"
                    formControlName="slug">
            </div>
            <div class="form-group">
                <label [ngClass]="{'activeTab':chackIsValid('password')}">Password</label>
                <div class="d-flex align-items-center">
                    <input [type]="show ? 'text' : 'password'" placeholder="Password" required=''
                        class="form-input w-100" formControlName="password">
                    <span class="material-icons form-icon password-icon" *ngIf="hidePassword"
                        (click)="showPasswordValue()">
                        visibility
                    </span>
                    <span class="material-icons form-icon password-icon" *ngIf="show" (click)="hide()">
                        visibility_off
                    </span>
                </div>
            </div>

            <div class="auth-description social-media">

                <div class="display-flex">
                    <div>
                        <input type="checkbox" id="scales" name="scales" formControlName="coach">
                        <label for="scales" class="text ml-2">Coach</label>
                    </div>
                    <p class="sign-in-text text">Sign up with</p>
                    <img src="/assets/icons/Gogole.svg" class="social-media-icon">
                    <img src="/assets/icons/Facebook.svg" class="social-media-icon">
                    <img src="/assets/icons/Twitter.svg" class="social-media-icon">
                </div>
            </div>
            <div class="btn-content d-flex">
                <button class="btn signUp-btn m-auto" [disabled]="signUpGroup.invalid" [ngClass]="{'active-btn':signUpGroup.valid}"
                    (click)="onClickSignUp()"><span>Get
                        Started</span>
                    <app-loading *ngIf="loading" class="ml-2"></app-loading>
                </button>
            </div>
        </div>

    </form>
</div>