@mixin text($fontSize, $lineHeight, $color, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-family: $fontFamily;
}

.signUp-main {
    padding: 20px 0;

    .title {
        @include text(22px, 30px, #5897F6, EncodeSans-Bold);
    }

    .main-header {
        margin-top: 15px;

        .title {
            @include text(16px, 19px, #45535C, EncodeSans-SemiBold);
        }

        .text {
            @include text(14px, 16px, #5897F6, EncodeSans-SemiBold);
            cursor: pointer;
        }

    }

    .signUp-form {
        margin-top: 30px;
        .checkbox {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #bbcddf;
            opacity: 1;
            width: 23px;
            height: 23px;
            border-radius: 50% !important;
        }

        .form-group {
            text-align: start !important;
            border: 1px solid #E3ECFD !important;

            margin: 20px 0px !important;

            .form-input {
                color: #45535C !important;
            }

            &::placeholder {
                color: #CFCFE9 !important;
            }
        }

        .checkbox-lable {
            @include text(16px, 16px, #bbcddf, EncodeSans-SemiBold);
            margin-left: 15px;

        }

        .btn-content {
            margin-top: 25px;

            .signUp-btn {
                padding: 10px 20px;
                @include text(16px, 20px, #5897F6, EncodeSans-Bold);
                cursor: pointer;
                border: 1px solid #6CA7FE;
                border-radius: 23px;
                opacity: 1;
            }
        }

        .social-media-icon {
            width: 20px;
        }

        .sign-in-text {
            @include text(14px, 16px, #45535C, EncodeSans-SemiBold);
        }
    }
}


.border {
    border-bottom: 1px solid #ff1a1aAA !important;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    background: none !important;
}

.color {
    color: red !important;
}

::ng-deep .mat-form-field {
    .mat-input-element {
        color: #bbcddf !important;
    }

    .mat-form-field-label {
        color: #bbcddf !important;
    }

    .mat-form-field-underline {
        background-color: #bbcddf !important;
    }

    .mat-form-field-ripple {
        background-color: #bbcddf !important;
    }

    .mat-form-field-required-marker {
        color: #bbcddf !important;
    }
}


::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color: #bbcddf !important;
    }

    .mat-form-field-ripple {
        background-color: #bbcddf !important;
    }

    .mat-form-field-required-marker {
        color: #bbcddf !important;
    }

    .mat-input-element {
        color: #bbcddf !important;
    }
}

::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
        color: #bbcddf !important;
    }

    .mat-form-field-label {
        color: #bbcddf !important;

        .mat-form-field-required-marker {
            color: #bbcddf !important;
        }
    }

    .mat-form-field-ripple {
        background-color: #bbcddf !important;
    }
}

::ng-deep .mat-select-arrow {
    color: #bbcddf !important
}


::ng-deep.mat-select-value {
    color: #45535C !important;
    font-weight: bold !important;
}

.activeTab {
    color:  #E3ECFD !important;
}

.form-group>label {
    position: absolute;
    top: -11px;
    left: 25px;
    background-color: white;

    @include text(16px, 19px, #6CA7FE, EncodeSans-Medium);
}

.active-btn{
    &:hover{
        box-shadow: -5.29px 7px 10px #589bfd36;
    }
}
.password-icon{
    cursor: pointer;
}